[2017-09-07 13:31] 3nids commented on #219
that would work if project title would support expression, which it does not.
the commit hook would be your best way to go I guess.

[2017-09-09 23:20] dsavary commented on #146
@haubourg
I make some tests on QGIS 3.0:
- memory layer : You can create a point layer with Z value, but you can't modify the Z coordinate , the feature keep the value "Nan" and of course don't take the default z value. ?
- postgis point layer : when you create a point, the z coordinate don't take the default z value, but keep Z = 0 . ?
- extend a line with "node tool" or with "reshape tool" take

[2017-09-10 17:52] dsavary opened #221 "Important bug on reshape tool - QGIS 2.18.12"
You can extend a 3d line with the reshape tool (remodeler une entité) by snapping on endpoints. But, when you extend a 3d line by snapping on the end vertex of the line, the 3d new vertex take the value "Nan" , not very good but ok. It would be better 0 ...
However, when you extend a 3d line by snapping on the start vertex of the line, we cann't see the Z coordinate with node tool ?? and the worst

[2017-09-11 07:48] haubourg commented on #221
Hi Daniel,
- **extends with reshape tool adds nan values to Z:** I confirm that, but that's not a bad behavior in 2.18 context since all we did with default z values fell in 2.99 only. 0 is not better as all discussions with core dev's led to dealing with Nan in QGIS and not 0 for no value (was planned but rejected by NextGIS). This map tool may be the only one to behave correctly in fact.

- Conv

[2017-09-11 08:26] dsavary commented on #221
Hi Regis,

- Ok for the first point.
- Tested with datasource format SHP and POSTGIS

[2017-09-11 08:45] haubourg commented on #221
Tested with shp and confirmed, all z and m are reset by reshape tool. Strange that this is provider dependant. I'll look into redmine to seek for similar issues

[2017-09-11 08:52] haubourg commented on #221
Ticket filed here : https://issues.qgis.org/issues/17118

[2017-09-11 08:53] haubourg commented on #221
@dsavary Do you think it is a regression? I never tested that before.

[2017-09-11 09:01] dsavary commented on #221
@haubourg I don't know. I also never tested that before.
Do you think that this bug can be still fix for QGIS 2.18 ?

[2017-09-11 10:10] haubourg commented on #221
2.18 has a point release every month until 3.2 becomes LTR, so yes.
2.18.13 will be packed within a week and we don't have enough ressources for that. (Paul is in vacation)
The the main effort will be put into 3.0 feature and fixes. For 2.18.14 to be released mid october, I think we can make it, but we can't evaluate the cost before trying to fix it.

[2017-09-11 11:34] dsavary commented on #221
Ok for 2.18.14 . I think that the QWAT group can pay to fix this. :) ?
A good tool to extend a 3d line is very important to manage a network...
Or Perhaps, we can do a plugin "extend a 3d line with snapping points"

[2017-09-11 13:02] ponceta opened #222 "QGIS : Copy + move + geom transformation"
I've been asked a tool like AutoCAD move which can copy and adapt a polyline or a spline to match same distance between all points which is great to draw schematic lines with a certain width in between.

![image](https://user-images.githubusercontent.com/8614223/30275326-45c6e906-9701-11e7-9b2d-31b54a3f5329.png)

It should be able to go from inner ring in to outer and reverse.

[2017-09-11 13:20] 3nids commented on #222
offset curve map tool !

[2017-09-12 06:07] ponceta commented on #222
Merci @3nids !

[2017-09-12 06:07] #222 closed

[2017-09-12 16:11] haubourg commented on #146
Ok testing today with https://github.com/qgis/QGIS/commit/3d3b6d1

Confirmed
![uploads/2bdfaec8-f184-43a8-bae5-d9a4c762fb84/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F2bdfaec8-f184-43a8-bae5-d9a4c762fb84%2Fimage.png)

 I asked Clément Marcel to throw an eye (@nouanda)

Confirmed too. The z default value keeps regressing. Bad news. Subcontracting abroad is not a good o

[2017-09-12 16:22] #192 closed

[2017-09-12 16:22] #194 closed

[2017-09-13 16:19] ponceta commented on #218
This is done. Node is correctly grabbed!

[2017-09-13 16:22] ponceta commented on #181
@haubourg this is now a milestone for End 2018!

[2017-09-14 08:10] haubourg opened #223 "Add user profile management"
The Board would like a feature to be able to handle several user profiles.

# Requirement 1 - forms
A global config to switch between different forms layouts is asked. We could imagine a simple form for main information and different forms for different user groups.

# Requirement 2 - QGIS layout / settings / plugins / customization

The whole QGIS interface could be changed according to the user

[2017-09-14 08:11] haubourg commented on #223
duplicate of #189

[2017-09-14 08:11] #223 closed

[2017-09-14 10:01] haubourg commented on #102
@dsavary @ponceta  Amandine asked to add the Autocad export feature of longitudinal profiles .
I will need more specifications and maybe file examples and format compatible with the expected workflow.
Also what spatial reference system do you use for profiles? (paper coordinates? Real geographic spatial ?)

[2017-09-14 10:03] haubourg commented on #102
Or does autocad as the 3d profile feature ? If it does, we mainly need to test that current export keeps 3D attributes and is capable of  exporting only some features

[2017-09-14 10:06] haubourg commented on #84
Decision was taken in Atelier 2019 09 13 to bet on QGIS 3 processing framework. Milestone has then been moved to post 3.0 calendar

[2017-09-14 14:16] 3nids commented on #222
@ponceta encore ça si jamais
https://github.com/qgis/QGIS/pull/5195

[2017-09-14 15:42] haubourg commented on #218
@dsavary: this also adresses the batch selection mode you asked me for yesterday.
The behavior stays the same however for if you select over multiple features than in 2.18. And thinking of this, this is a good thing when editing common border to move all nodes. But yes, when you want to disjoin polygons, it's not easy to choose which polygon to grab currently I'm not clear on how to force which po

[2017-09-21 06:58] ponceta opened #224 "QGIS : date calendar widget does not allow to select current value"
![date](https://user-images.githubusercontent.com/8614223/30682628-9a43237c-9eaa-11e7-993c-f42690785de6.gif)

Tracking https://issues.qgis.org/issues/17173

[2017-09-21 07:11] haubourg commented on #224
Confirmed !

[2017-09-21 08:27] 3nids commented on #224
see original ticket https://issues.qgis.org/issues/13577

[2017-09-25 11:34] tudorbarascu commented on #216
@zakigates I'm closing this issue as it's not relevant. I've retested the vm and it works.

[2017-09-25 11:34] #216 closed

[2017-09-27 07:41] haubourg opened #225 "Better handling of curved shapes - general ticket"
Many improvements and bugfixes are raised concerning curves digitizing and snapping.

- Outils "reshape tool" / édition de polyligne ou polygone - si l'objet contient un ou plusieurs arcs de cercle, lors de l'édition, les arcs de cercles doivent être conservé et non dénormalisés les arcs en petits segments de lignes
- Outils fusionner / couper , copier et déplacer une géométrie : - conserver les a

[2017-09-27 07:44] haubourg commented on #225
@qwat-psc :
Loic Bartoletti is needing some hep to push its work https://github.com/qgis/QGIS/pull/4947 .
Any objection for asking Paul to spend half a day on reviewing his code to help it land in QGIS 3 and see if Loic can be helpful in this area?

[2017-09-27 15:58] dsavary commented on #225
@haubourg
No objection, good news !

[2017-09-28 05:55] ponceta commented on #225
:+1:

[2017-09-28 05:57] ponceta commented on #224
Planned in QGIS bugfixing for November, assigned to @3nids

[2017-09-28 11:53] ponceta commented on #221
As said by PSC on monday 25.09.2017, this is considered as bug and should be fixed asap.

[2017-09-28 12:27] ponceta commented on #221
![reshape_tool](https://user-images.githubusercontent.com/8614223/30966211-7691d3ac-a458-11e7-863e-80c3362aacf6.gif)

NaN for newly created vertex is fine but losing existing Z value on node is a pity.

Tested on qwat pipe layer on postgres.

[2017-10-02 08:23] ponceta commented on #160
@haubourg @sylvainbeo where are we in this issue?
 Did you :
 - [ ] asked @carlos-gil for admin@qwat.org
 - [ ] asked @github for token issue?
 - [ ] see with @m-kuhn and @marioba on how it works with qgep demo data?

As we are currently fixing PUM, that would be great to fix this so that we could focus on QWAT evolutions.

[2017-10-02 09:15] sylvainbeo commented on #160
Hi,

As PUM is now existing...what is the future of the current migration scripts ? Should we spend some more time to fix it, if we replace it with PUM  ?

[2017-10-02 09:26] ponceta commented on #160
@sylvainbeo next @qwat/qwat-psc will be focused on PUM on 18.10.2017. It would be great to discuss and assess this too. It will be online meeting 10:00-12:00.

[2017-10-02 09:26] haubourg commented on #160
We discussed that during the PSC. It was decided to bet on PUM only and avoid duplicated efforts

[2017-10-02 11:31] ponceta commented on #147
Snapping on common nodes is quite natural IMHO, at least on QGIS 3. This could be enhanced by highlighting the node's polygon to be snapped.

@haubourg said in https://github.com/qwat/QWAT/issues/218

Isn't there already actually some mechanism that prefer one polygon to be snapped, because I could reproduce some systematic snapping to the desired polygon (see gif here under)

![snapping_common_no

[2017-10-02 11:46] ponceta commented on #218
This issue can be closed since the bug is fixed. https://github.com/qgis/QGIS/pull/5149

Please move other potential issues in new issues.

[2017-10-02 12:33] ponceta opened #226 "QGIS : Snapping on intersections"
Snapping on 3D layers intersections does not work:

On these particular cases :

- [x] between a 2D layer and 3D layer
- [x] between 3D layers
- [x] between line and cicurlar arc
- [x] between 2 circular arc
- [x] between polygon and circular arc

On :
 - [x] Memory layer
 - [x] Geopackage layer / not only on 3d layer
 - [x] Postgis layer
 - [X] Shapefile

[2017-10-02 12:34] ponceta opened #227 "QGIS : Better handling of snapping - general ticket"
- [ ]  [General CAD-Like snapping roadmap discussion - QEP107] (https://github.com/qgis/QGIS-Enhancement-Proposals/issues/107) #273

Many improvements proposals on snapping :

- [x] Add visual feeback of snapping type https://github.com/qwat/QWAT/issues/147
- [x] Snapping on invisible feature https://github.com/qwat/QWAT/issues/193 > Work in progress
- [x] Snapping on intersections on memory layer

[2017-10-02 13:09] ponceta commented on #193
IMHO, Snapping on invisible features is a feature.

Removing it completely would be wrong. I suggest to set it optionnal in the same way that snapping on intersections is optionnal.

Default could be set to visible only.

[2017-10-02 13:49] ponceta opened #228 "QGIS : advanced snapping configuration is broken on latest master"
Win 7 x64 QGIS 2.99

Activate snapping
Activate advanced configuration.
No configuration menu nor dialog is displayed.

![image](https://user-images.githubusercontent.com/8614223/31080381-d2043e7c-a788-11e7-8a7d-2ad23ad378e5.png)

[2017-10-02 13:57] 3nids commented on #228
This is expected behavior.
But there could be a button to open the complete config dialog.

[2017-10-02 13:57] ponceta opened #229 "QGIS : better handling forms - general ticket"
Improvements :

 - [x] Improve performances of current form lazy loading  > QGIS 3 https://github.com/qwat/QWAT/issues/154
 - [x] Relation reference widget - filter lists are not refreshed in attribute table form view https://github.com/qwat/QWAT/issues/190
 - [x] improve QGIS to handle different layer definition sections : planned for end 2017 / early 2018: https://github.com/qwat/QWAT/issues/209

[2017-10-02 14:06] ponceta commented on #228
For test purpose:

[QGIS_test.zip](https://github.com/qwat/QWAT/files/1349131/QGIS_test.zip)

![image](https://user-images.githubusercontent.com/8614223/31081219-735bfe98-a78b-11e7-99df-08b8efd91639.png)

[2017-10-02 14:19] ponceta opened #230 "QGIS : Better handling of altimetry - general ticket"
Improvements :
- [x] Maptools do not handle z values nicely https://github.com/qwat/QWAT/issues/146
- [x] Default z value handling in QGIS https://github.com/qwat/QWAT/issues/210

Bugfixes :
- [x] Important bug on reshape tool https://github.com/qwat/QWAT/issues/221

[2017-10-02 14:25] pblottiere commented on #190
@dsavary Do you agree with the next behavior ?

![optimised](https://user-images.githubusercontent.com/9266424/31082060-ba6340ae-a785-11e7-90b3-0e387e3ef3bd.gif)

[2017-10-02 14:25] ponceta commented on #225
@dsavary @haubourg  DXF export for arc, circles and ellipses should be mentioned here too right?

[2017-10-02 14:54] ponceta commented on #210
@haubourg does this has been assigned to @m-kuhn?

[2017-10-02 15:59] dsavary commented on #190
@pblottiere yes! It seems to be good.
The feature 4 has no value if I understand well:)
The behavior is the same when you open only a form ?

[2017-10-02 16:20] haubourg commented on #210
To me assigning means we have prioritized the work and we have the budget available, which is not the case yet. So In my mind it was for 2018 plans.

[2017-10-03 06:24] ponceta commented on #210
Ok, thanks for the details.

[2017-10-03 08:34] pblottiere commented on #190
Yes, like in your GIF example.

Yes

[2017-10-03 12:12] pblottiere commented on #190
A PR is in progress.

[2017-10-04 12:51] haubourg commented on #225
After some discussions with Loïc, he has a lot of needs for refactoring edit tools and CAD needs.
He just published a first QGEP here: https://github.com/qgis/QGIS-Enhancement-Proposals/issues/106
@dsavary @ponceta I think it's worth you participate in the discussion there.
Another one is coming specifically for snapping and curves / 3D enhancement.
I'll try to help in merging your needs

[2017-10-04 16:10] haubourg commented on #221
@pblottiere if you have some time left, can you try to fix that? Please assign yourself to this ticket and in https://issues.qgis.org/issues/17118

[2017-10-11 06:58] ponceta opened #232 "Small bug on default value expression in forms"
One can't select field names in expression tool for default values :

![image](https://user-images.githubusercontent.com/8614223/31425990-cfe1c8f0-ae61-11e7-892d-8ab8cee50e2c.png)

Works well two lines further in expression tool for constraints :

![image](https://user-images.githubusercontent.com/8614223/31426014-e1b4be34-ae61-11e7-9dd7-73a524565191.png)

Tested on QGIS 2.18.13 (win x64) on text

[2017-10-11 07:04] ponceta commented on #232
https://issues.qgis.org/issues/17268 For QGIS hub following

[2017-10-11 13:50] haubourg commented on #221
fixed in master QGIS3
Backport in 2.18 started

[2017-10-11 14:55] haubourg commented on #232
Confirmed,  on 2.18.10 and master 2.99 too.
@pblottiere any idea why the default values expression scope doesn't show fields? Is that by design or just forgotten somewhere?

[2017-10-16 08:34] pblottiere commented on #221
PR is merged is 2.18 : https://github.com/qgis/QGIS/pull/5349.

Let me know!

[2017-10-17 08:37] haubourg commented on #190
PR is https://github.com/qgis/QGIS/pull/5350

[2017-10-17 08:44] haubourg commented on #189
QGIS 3 now has a user profile switcher that seems to full fill the requirements be used

![uploads/2b5d21aa-84e4-4f4c-ba3d-6bc8328c3d53/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F2b5d21aa-84e4-4f4c-ba3d-6bc8328c3d53%2Fimage.png)

@ponceta did you test it already?

[2017-10-17 08:49] haubourg commented on #213
@ponceta Did you run real tests with the database optimisation ?

[2017-10-17 08:56] haubourg opened #233 "Use drag and drop forms for QWAT project"
SIGE has commited a change in QWAT forms that are now designed using drag an drop forms and no more QT designer UI files.

It is asked to push that work in the demo project.

[2017-10-17 09:25] tudorbarascu commented on #233
Cool, I had also tried to go that way, but I stumbled upon https://github.com/qwat/QWAT/issues/217 so I'm still using UI files for performance.

[2017-10-17 09:28] haubourg commented on #217
Oh I wasn't aware of thoss issues. Did you raise them in QGIS redmine?

[2017-10-17 09:33] tudorbarascu commented on #217
Unfortunately no, I was first waiting for a response to my "Anybody else encountered this?" question. But on the same layer, two styles, one with drag&drop and one with UI files. The difference is very high for a layer with lots of columns/widgets. Will try and make a test project with geopackage in the following weeks.

[2017-10-17 11:07] dsavary commented on #146
@haubourg
No. But for QGIS 3.0 it would be great that the reshape tool take the z coordinate of snapping points (as default behavior and like the tool "create a feature" (line))

[2017-10-17 11:18] dsavary commented on #147
News about this issue ?

[2017-10-17 13:55] haubourg commented on #147
@wonder-sk told me it was on the list.

[2017-10-17 14:57] haubourg commented on #225
Reviewing Loic work, he spotted two critical issues with SRS handling and cicular string SRS handling:
https://issues.qgis.org/issues/17269
https://issues.qgis.org/issues/17270

They will need to be adressed.@ponceta  @savary, did you hit those issues already?
Can we spend time on fixing them ?

[2017-10-18 07:32] dsavary commented on #225
@haubourg
No .  I did not notice this before.
No . I think this is not a priority for us. We only use one projection in our QGIS project.  More important bugs about drawing tools

[2017-10-18 07:39] haubourg commented on #225
Ok thanks Daniel!

[2017-10-18 07:47] haubourg commented on #146
PR here https://github.com/qgis/QGIS/pull/5239

[2017-10-18 16:29] haubourg commented on #221
@savary can you test if release nightlies are good to you?

[2017-10-18 20:54] savary commented on #221
I think I was added to this post by mistake. Don't you mean someone else?

[2017-10-19 06:25] haubourg commented on #221
@savary, sorry yes, I meant to ping @ponceta.
But your tests are welcome too.

[2017-10-19 06:36] dsavary commented on #221
@haubourg my profile name is @dsavary and not "savary" . Sorry :)

[2017-10-19 11:50] dsavary opened #234 "Huge symbole size in the layer tree legend of a QGIS projet"
When you use for the layer style :

- units map for the symbol size
- simple symbol or SVG symbol
- Zoom to scale : < 1: 10 (very little scale)

The symbole size doesn't remain fixed and appears huge when you zoom in .
regression in QGIS 2.18 or normal behaviour ?
similar issue QGIS closed : [https://issues.qgis.org/issues/13979](https://issues.qgis.org/issues/13979)

If the symbole size is in uni

[2017-10-19 13:42] haubourg commented on #234
Oui, c'est le comportement normal depuis la 2.14 je crois.
Le plus simple est de mettre des taquets de taille max / min pour empêcher de trop grandire dans le bouton avec une clé à molette.
J'avais essayé de discuter pour mettre des limites à ces tailles, sans réussir à le faire accepter.

It's the default behavior since 2.14 IIRC. Using scale or size limits in the map units setting dialog is the

[2017-10-23 06:11] ponceta commented on #217
@tudorbarascu @Pully we dropped ui forms in favor of drag and drop forms a few months ago.

I also dropped all unused relations (which were slowing the form opening, sometimes drastically)

@3nids was surprised that it had such an impact on performance.

Regarding constraints, we are actually not using theses for qwat, since many constraints are already provided from the database and there are onl

[2017-10-23 06:15] tudorbarascu commented on #217
@ponceta Thanks for the info.

[2017-10-23 06:34] ponceta commented on #225
I was not aware of that but it seems like a frontier between GIS and CAD is closing in, since a circle won't be a circle anymore after some reprojections.

[2017-10-24 08:09] dsavary commented on #190
tested with QGIS 2.18
If you choose the "null" value in the list, it works well. :+1:
But, strange behaviour :

- if you deleted the value with the keyboard, the "not null" constraint is not respected
- if you don't choose any value in the "filter" lists, the attribute value is replaced by the first value found in the list. (in the demo example, it take 11). strange ?
It would be better that it pu

[2017-10-24 08:22] dsavary commented on #234
it would be nice if the symbols size in the layer legend (in QGIS project) still remain fixed. Proposal to the QGIS community . :)

[2017-10-30 08:34] ponceta commented on #234
Same for QGEP, but not for all?

![image](https://user-images.githubusercontent.com/8614223/32161369-94d515de-bd55-11e7-9fc1-8af4526633a4.png)

[2017-10-30 08:41] ponceta opened #235 "[Forms] Constraint visibility on multiple tabs forms"
Actually, having constraints on forms is sometimes not so obvious to correct, specially if you don't know in which tab is the field not fitting the constraint.

![image](https://user-images.githubusercontent.com/8614223/32161545-429d131a-bd56-11e7-90fa-ed756c9ceec5.png)

A good visual help could be to color the tabs labels where constraint is not fitted.

And display tabs names before fields names

[2017-10-30 15:36] haubourg commented on #147
@wonder-sk I tested the new visual snapping option, great!
two questions:
- I couldn't have the "intersection" snapping option working. Do you have that issue too?
- The icon sizes are small, i don't see them well under the edit cursor. Is it configurable somewhere?

[2017-11-03 12:34] wonder-sk commented on #147
Just checked and it seems to work fine for me - I get a cross indicator where it should be. Does it mean that for you the snapping on intersection does not work at all? (Have you enabled it in snapping options?)

Do you have a high DPI display? The icon sizes are in pixels currently, so they may look a bit small with high DPI. It is not configurable anywhere right now. But maybe it would be good t

[2017-11-05 20:24] haubourg opened #236 "Improve Datum handling for copy/paste in QGIS"
Datum handling in current master and qgis 2 isn't using correctly datum transformations, which can lead in geometry precision loss when copy/pasting features from between two SRS using differente datum, which is the case in switzerland between new MNT95 and old SRS.

Discussion previously occured in QEP 100:  https://github.com/qgis/QGIS-Enhancement-Proposals/issues/100
QWAT group decided to get i

[2017-11-10 10:47] haubourg commented on #236
@3nids I saw  your comment here  https://github.com/qgis/QGIS/pull/5535#issuecomment-343388781We still have one day remaining in the budget for code review. Can I ask @pblottiere  to spend a day on that?
ping @ponceta

[2017-11-22 06:48] tudorbarascu opened #237 "Chain filters cannot select NULL values"
When using chain filters, it's not possible to select a material that has a NULL diameter.

This means the "Other", "Unknown", "To be determined" values and all the materials without Diameter cannot be selected.

The combinations between material and NULL diameter are unique, so it should have worked.

![bug](https://user-images.githubusercontent.com/3179646/33113603-cdbb8a22-cf61-11e7-9303-6eed66

[2017-11-24 08:08] haubourg commented on #193
@wonder-sk Hi Martin,
I have 2 days available in the end of 2017 budget to fix that in QGIS 3 or 3.2. Would you be available to work on that?

[2017-11-24 08:22] haubourg commented on #147
Ok, rechecked twice and all good !
Thanks a lot Martin !

[2017-11-24 08:23] haubourg commented on #90
Reminder to embed PUM new delta logic and customization todo

[2017-11-24 08:26] haubourg commented on #221
@Paul, could you throw an eye on the last issue found by @dsavary  ?

[2017-11-24 08:29] #218 closed

[2017-11-24 08:32] #212 closed

[2017-11-24 08:32] haubourg commented on #212
Done in QGIS 3

[2017-11-24 08:39] haubourg commented on #209
Discussed in PSC 2017 11 23:

- QLR is a whole layer definition extract with all "styles"
- QML exports only the currently displayed "style" which is composed of labels + forms + styles etc..

What is expected is:

- add subentries in the "style" to save only forms / labels / styles / metadata etc..
- display the style title outside of the style widget, so that users know permanently what style is

[2017-11-24 08:41] haubourg commented on #209
This feature is meant to adress easier local customization of projects and easier resync with master project

[2017-11-24 08:48] #147 closed

[2017-11-24 08:51] haubourg commented on #173
Best pratice is to dump separatly ordinary data and value lists so that no PK conflict can happen.
Value lists are considered as part of the model and not user data and should be handled in customisation scripts

[2017-11-24 08:51] #173 closed

[2017-11-24 08:52] haubourg commented on #189
I think that with map themes and user profiles, we are able to handle most use cases. Can we close ?

[2017-11-24 08:55] haubourg commented on #81
closing we have fresher issues for that

[2017-11-24 08:57] #81 closed

[2017-11-24 08:58] #121 closed

[2017-11-24 08:58] haubourg commented on #121
I think it's done!

[2017-11-24 10:33] #159 closed

[2017-11-24 10:33] haubourg commented on #159
closing since a full rework of the website is planned in 2018

[2017-11-24 10:45] haubourg commented on #237
@pblottiere any opinion here?

[2017-11-24 11:33] 3nids commented on #237
I think it's a good solution to add empty or strings like "unknown" in diameter column.
There is already on unknow diameter per material type to handle such situations.

[2017-11-24 11:41] 3nids commented on #236
@haubourg I'm on the UI now, might be worth waiting for it to be done. Then if Paul feels like going through this it would be awesome, we just need a guy who feels confident with datum concept (which is not my case ;) )

[2017-11-24 12:48] m-kuhn opened #238 "Show style name in layer properties title"
It's hard to tell which style is active while configuring a layer. It would be nice to have this information around.

Proposal:

![stylename](https://user-images.githubusercontent.com/588407/33211276-0e73d296-d11e-11e7-8b49-4b06e6942ef0.png)

[2017-11-24 12:55] haubourg opened #239 "238"

[2017-11-24 12:55] #239 closed

[2017-11-24 13:00] haubourg commented on #238
merging in #209

[2017-11-24 13:00] #238 closed

[2017-11-24 13:12] haubourg commented on #220
Is there anything new in QGIS3 concerning the additional geometry handling?

thinking of this, I think that we should keep with something less dependant of the QGIS desktop client.

I would vote for a feature action calling a stored_procedure like "select qgep_api.init_alternative_geometry('myLayer', 'myFeatureId', 'alternative_geometry_field', [object_size]);

that could create a default alternat

[2017-11-24 13:26] m-kuhn commented on #209
If you are ok with this proposal, let me know and I'll open a PR upstream

[2017-11-24 13:26] haubourg commented on #226
Works in all cases here

[2017-11-24 15:11] m-kuhn commented on #235
+1 for tab colors.
Constraint warnings are gone from the top. They remain on the label itself, so this becomes even more important.
If you want, I can give it a go.

[2017-11-27 09:27] haubourg commented on #226
I reopen that since I found that intersection of two circular Compound curves can't be snapped.

[2017-11-27 10:04] dsavary commented on #226
Tests with QGIS 3.0
intersections don't work in these cases :

- between a 2d layer and 3d layer (line, polygon, cicurlar arc)
- between 3d layers (line, polygon, cicular arc)
- between line and cicurlar arc
- between 2 circular arc
- between polygon and circular arc

for memory, shapefile, postgis, geopackage layer.

[2017-11-27 13:07] 3nids commented on #226
is there an upstream ticket?

[2017-11-28 10:30] haubourg commented on #154
After some issues with another project, we found in QGIS2 that relation reference widget in some cases loads more than three times the related table.
A first fix was made here https://github.com/qgis/QGIS/pull/5677 to avoid the two unnecessary fetches from other project fundings. However, we still hit blocking issues in some cases with recursive infinite queries, individual fetches on each target

[2017-11-28 10:40] m-kuhn commented on #154
Any feedback on the QGIS 3 situation? qgis/QGIS#5677 pretty much is a port of a fix I did for QGIS 3, but there's much more in there.

[2017-11-28 10:45] haubourg commented on #232
That can't be done: see Nyall's comment. This isn't possible.

I close that

[2017-11-28 10:45] #232 closed

[2017-11-28 11:04] haubourg commented on #154
@m-kuhn Sorry for not being able to know where code lines come from.
In short 2.X implementation suffers from some bugs we are working on, but one sure thing is that it won't scale because form loading in edit mode will fetch the referenced whole layer to populate the edit widget (except for the option "use readonly line instead of comobox" - but in some cases, it seems data is fetched anyway).
So

[2017-11-28 11:09] m-kuhn commented on #154
It will still be multithreaded. What happens is: background thread will be blocked, while the UI is already being loaded and shown. Values in the relation reference widgets will be added to the form when loaded.

the new system will permit to add this, I'll be happy to implement this solution. It will not be more performant but a nice usability fix.

that's implemented already

[2017-11-28 15:07] haubourg commented on #154
Thanks for the explanations ! I'll test QGIS3 more intensively then.

[2017-11-28 15:47] haubourg commented on #236
part 1 is done. Invoice received today .

[2017-11-29 15:47] haubourg opened #240 "Display differential of value lists when testing the upgrade of a database"
The most common local customization are value list or translation changes.
Current PUM process can only check database structure differences, not content.
It would be nice to add in the upgrade_db.sh a display of the value list differences after having tested the structure differences between the production database and a newly created one form core qwat + updates + local customization scripts.
Th

[2017-11-29 21:50] haubourg commented on #156
feature grid is now published in the documentation site here http://qwat.readthedocs.io/en/latest/features.html

[2017-11-30 13:13] pblottiere commented on #190
Hi @dsavary!

Indeed, you're right. It's fixed, I just have to write a PR.

What do you think about setting the first element of the list each time the filter is updated? With your example, as soon as you select *Material value* in the first filtering combobox, *NULL* will be selected (and a message will be raised about an invalid constraint).

@haubourg I would be glad to hear your opinion on thi

[2017-11-30 15:03] haubourg opened #241 "deploy release fails to upload dump to release files"
Hi Matthias,
I tagged 1.3.0 in QWAT to test the deploy logic for automatically creating release and push dumps to release file.
Release is created smoothly, but upload fail without much logs:
https://travis-ci.org/qwat/qwat-data-model/builds/309517936#L5868

Any idea?

[2017-11-30 15:06] haubourg commented on #241
@m-kuhn ping

[2017-11-30 17:30] pblottiere commented on #190
The PR is https://github.com/qgis/QGIS/pull/5775

[2017-11-30 21:17] #168 closed

[2017-11-30 21:18] haubourg commented on #160
almost done in deploy scripts along with PUM in 1.3.0. Latest test today showed release was done automatically bu upload of dump failed (no clear logs)

[2017-11-30 21:19] #156 closed

[2017-11-30 21:25] #172 closed

[2017-11-30 22:21] m-kuhn commented on #160
fixed as of 2 hours ago

[2017-12-01 08:07] haubourg commented on #241
[code]

[2017-12-01 08:55] #241 closed

[2017-12-01 08:55] haubourg commented on #241
Solved ! thanks a lot!

[2017-12-01 10:33] haubourg commented on #160
Dumps appear to be empty. @m-kuhn @sylvainbeo we probably missed the restore step with demo data in 1.3.0.
what would be the right process?

1- manually replace existing dumps with  demo data dumps in 1.3.0.
2- restore the previous data only demo before PUM applies the delta
3- dump as today

[2017-12-01 10:36] m-kuhn commented on #160
I might be missing something, I haven't looked into the pum process itself a lot.
I think it would make sense to restore a demo data dump before and send it through the deltas, that will also increase chances to detect broken deltas.

[2017-12-01 12:36] haubourg commented on #160
Exactly. I think we should do that around line 44 in travis.yml.

We need in fact:
1- get the previous tag meeting the x.x.x version template (just now the previous tag is "test"), so a loop with something like `git describe --abbrev=0 --tags `git rev-list --tags --skip=1 --max-count=1`

2- wget the corresponding data-only dump (custom format with .backup extension)

3- restore that line 49 after

[2017-12-01 12:40] m-kuhn commented on #160
Can't we just restore the first-ever dump and run that through all the deltas?

[2017-12-01 12:44] haubourg commented on #221
PR for master here https://github.com/qgis/QGIS/pull/5780

[2017-12-01 12:48] haubourg commented on #209
@m-kuhn we first need an estimate for that work. Could you do that?

[2017-12-01 12:49] m-kuhn commented on #209
2 hours?

[2017-12-01 12:57] haubourg commented on #160
That would be nice, but the first ever correct data demo dump has been done in 1.2.6. I don't know how to downgrade delta from there back to 1.0.0

[2017-12-01 13:02] m-kuhn commented on #160
Whichever it is, it's just easier to implement if it's a stable version.

[2017-12-01 13:04] haubourg commented on #209
with doc, tests and bugfix included? Better count one day  ?

[2017-12-01 13:04] haubourg commented on #209
If you agree, GO!

[2017-12-01 13:35] pblottiere commented on #221
I'm waiting for a review before doing the backport.

[2017-12-01 13:45] m-kuhn commented on #209
Sounds good to be on the safe side.

I'll check if tests make sense.

[2017-12-01 20:23] haubourg commented on #154
for QGIS2 @pblottiere just issued a PR that reduces a lot number of queries sent to the databases and avoids the relation widget to do unnecessary queries to the DB when the embedded relation reference widgets have the options "readonly" and "point on the map".
It still does not solve the cases for non geographic tables, but this works !!
See https://github.com/qgis/QGIS/pull/5783

[2017-12-05 10:27] ponceta opened #242 "[Documentation]"
Proposals:
 - [x] Qwat doc in a specific repo : eg. qwat/docs?
 - [x] Qwat doc translation in transifex?
 - [x] Fix or workaround  current issues with readthedocs builds (failing because of submodules)

Thoughts?

[2017-12-05 11:05] haubourg opened #243 "Convert the demo data dump and default initialization process to MN95 (EPSG 2056)"
Now that default projection in switzerland is MN95, default project creation and demo data should be in MN95 SRS.

[2017-12-05 15:05] pblottiere commented on #190
PR about setting a NULL key when the value is deleted from the keyboard is merged for 2.18.

But I need some answers about my questions on the "filter" lists to continue :). Let me know.

[2017-12-05 19:24] haubourg commented on #160
In PR #213, I propose to run travis only from 1.2.1 full dump with demo data. @m-kuhn, does that look good to you?

[2017-12-06 09:44] varrieta opened #244 "_valve_count not updated with valve insert"
The pipe attribute __valve_count_ doesn't get updated when a new valve is inserted but does when a valve is updated (done by tr_valve_update_trigger).

[2017-12-06 11:04] haubourg commented on #243
related to https://github.com/qwat/qwat-data-model/issues/199 (hard coded srs in delta)

We need a way to have parameters in delta files to be able to do the Travis continuous integration with other SRS than the initial one.

[2017-12-06 11:06] haubourg commented on #193
@wonder-sk Hi in case you had some time left, We are out of budget for 2017. Would you be interested in that for 2018 ?

[2017-12-06 12:12] pblottiere commented on #221
PR for master has been merged. I'm working on the backport now.

[2017-12-06 15:24] dsavary commented on #190
I think:
Each time, the user change the filter, the first "matching" element of the list is selected.

- If you choose a existing material value (for example "l'acier", the first matching value will be selected.
- If you choose no value in the filter like "material value"  in example, NULL will be selected.

[2017-12-06 15:26] dsavary commented on #221
Good news thanks.
Tell me when I can test.

[2017-12-06 15:57] pblottiere commented on #190
OK, I'm going to do that. Thank you for your input @dsavary :+1:!

[2017-12-06 21:33] haubourg commented on #244
Confirmed here.
Moving a valve and updating a pipe geometry didn't update the count value here.
IMO, maintaining all those computed fields is a pain, we should move pipes to a view with calculated fields, following thick database [good practices](http://thehelsinkideclaration.blogspot.fr/2009/04/helsinki-code-layers-in-dbms.html)

[2017-12-07 10:29] nliaudat opened #245 "[Import procedure documentation]"
Need documentation on procedure to import data.

The sample FME scripts from https://github.com/qwat/qwat-migration are outdated.

As example, I've tested with FME to send data to vw_element_hydrant, but FME do not support writing to postgis view. So I've create on import table : `CREATE TABLE qwat_od.hydrant_import AS (SELECT * FROM qwat_od.vw_element_hydrant);` and attempted to copy data to view

[2017-12-07 14:27] ponceta commented on #245
I've an idea here for FME : https://knowledge.safe.com/idea/27822/enable-postgis-view-writer.html

Upvote is welcome since upvoted suggestions could be taken into account more easily.

Regarding network elements and hydrants, you should have a look at what is done at the insertion of hydrants :

![image](https://user-images.githubusercontent.com/8614223/33719887-81659c8c-db62-11e7-85e6-5be0442aa57

[2017-12-07 14:36] ponceta commented on #243
This will be interesting for us too in Pully, since we will have to move to MN95 one day, we will have to migrate our data and project.

[2017-12-07 15:57] varrieta commented on #245
Here your table qwat_od.hydrant_import is filled with the data in qwat_od.vw_element_hydrant, so your are re-inserting the same datas into  qwat_od.vw_element_hydrant, right?
This might be why it raises the error :

Because you can't insert two nodes at the same position...

But it is right to use qwat_od.vw_element_hydrant for data insertion. I did so for our migration..

[2017-12-07 16:06] nliaudat commented on #245
@varrieta
I have an empty database, so qwat_od.vw_element_hydrant return null and that's not the problem.

I mean my source data have twice an hydrant on the same position ....

The preceding procedure of simple copy/paste works fine with small dataset.

![image](https://user-images.githubusercontent.com/6782613/33724796-a847a10c-db70-11e7-8bbe-a0577a26f8c9.png)

Many thanks for your help !

Copy/

[2017-12-08 16:30] haubourg commented on #245
@nliaudat @varrieta you are welcome to share your scripts in the migration repositories. I'll be happy to help you in that.

[2017-12-09 12:07] 3nids commented on #245
I would recommend an alternative approach to Arnaud's.

Create a simple copy of the table:
[code]
Run FME import on import_hydrant, leave ID column as NULL while inserting.
[code]
Not sure about last command syntax though.

That's a little hack to FME's limitation.

[2017-12-09 12:21] 3nids commented on #244
There would be an issue on delete too I guess.

Here is an untested delta.

[code]

I think it would be great to add a test case for this.
Let me know if you want me to do it and provide a proper delta.

[2017-12-09 12:27] 3nids commented on #207
yes, precision is in network elements.

[2017-12-09 12:35] 3nids commented on #206
I'll try to explain briefly.

Alternate geometries exist to provide a solution to display elements in a readable way at different scales by avoiding overlaps.
By default alternate geometries are the same as the main geometry and remain as long as it is untouched.
When modified (in a dedicated layer), alternate geometry differs from the main one. From this point, if the main geometry changes, the u

[2017-12-09 12:38] 3nids commented on #204
I think there are some ongoing discussion about the topic on QGIS
@m-kuhn any feedback about being able to digitise other geometry columns on QGIS? (a polygon geometry of a point layer)

[2017-12-11 08:53] ponceta commented on #224
This did not when in bugfixing, at last?

I've spotted some strange mechanism which can be great if you know how it works but dangerous for some users as it may issue some errors in the data.

There are some special interactions on the date format which enables to increase year, month day values using left click or scrolling when year / month / day is highlighted.

![date_increase](https://user-im

[2017-12-11 12:07] 3nids commented on #224
not yet started on my side

[2017-12-14 10:18] dsavary commented on #221
This bug fix is included in the last QGIS version 2.18.15 ?

[2017-12-14 20:03] pblottiere commented on #221
Not yet, I just made the backport.

[2017-12-15 10:42] pblottiere commented on #190
Hi @dsavary,

This PR  https://github.com/qgis/QGIS/pull/5879 should fixed your issue.

[2017-12-18 08:42] pblottiere commented on #190
PR is merged.

[2017-12-18 08:42] pblottiere commented on #221
Backport is merged.

[2017-12-18 13:40] m-kuhn commented on #209
Sorry @haubourg the proposal here was only for the screenshot above, not for the full control over what to save. I have mixed this up with #238 .

The full proposal will require 2 - 3 days, sorry for not realizing that these are two different tickets earlier.

[2017-12-18 14:16] haubourg commented on #209
Oh, OK, 2 hours sounded fast yes !

[2017-12-18 14:46] m-kuhn commented on #209
https://github.com/qgis/QGIS/pull/5900

[2017-12-21 14:26] varrieta opened #246 "Installation.geometry_polygon in 2D"
Geometry_polygon for the installation layer is in 2D and can't be created using the snapping on the construction points that are 3D

[2017-12-22 11:51] wonder-sk commented on #193
Sorry for the delayed response... Sure we can do it in 2018 if you are interested in this feature.

[2017-12-22 15:38] haubourg commented on #193
@wonder-sk well, let's keep that in standby that until I get a clearance for the 2018 actions. Any time estimate on that task?

[2017-12-22 15:40] wonder-sk commented on #193
Cool... My estimate for this is ~2 days

[2017-12-29 19:34] 3nids opened #247 "missing turbine class for installation"
there is no installation subclass for turbines

[2017-12-29 19:35] 3nids commented on #247
this is a requirement for SIRE and would be useful for the SIGE
@jonasgraf please confirm interest or not.

[2018-01-11 10:40] haubourg opened #248 "Update delta files and bulk loading need a way to deactivate audit log triggers"
Applying migration logs all update inserts or delete triggered inside the delta files.
Those should not be logged, they cause a massive DB growup and probably slow down a lot upgrade process too.
See https://github.com/qwat/qwat-data-model/issues/214#issuecomment-356876669

We need a small script to deactivate a/reactivate all logging triggers for deltas and bulk loading task.
We need that in the

[2018-01-18 09:17] nliaudat commented on #245
A sample import procedure is available at https://github.com/nliaudat/qwat-import-sample

[2018-01-18 09:30] haubourg commented on #245
@nliaudat  Awesome! very nice procedure ! We should add a link to it from QWAT's readthedoc. I think linking is better than embedding, so that you easily update it than into the sphinx doc, and host files with it.
@ponceta @varrieta @dsavary @3nids Any thoughts?

[2018-01-18 09:46] nliaudat commented on #245
Better if you clone it to https://github.com/qwat/qwat-migration and take ownership.
I've created my own repo cause I was in an hurry and have no right for uploading.
That's a work in progress and I'd like you validate, correct, comment before publishing.
Regards

[2018-02-05 10:58] varrieta commented on #204
For our use, I adapted the action Matthias did for the structure layer in QGEP:

[code]

You need to add the vw_element_installation as a polygon layer but it works well.

[2018-02-05 10:59] varrieta commented on #204
Only problem, you can't snap to the construction point to digitize the polygon #246

[2018-02-06 10:58] #160 closed

[2018-02-07 09:13] tudorbarascu commented on #181
I just noticed that if I create a feature in a Linestring layer with snap on the 3d node, the new line has 3D and cannot be saved (I have to toggle off the nodes layer in order to create the line with snap on the pipe nodes). Is there a way to deactivate this behavior? Linestrings shouldn't become LinestringZ..

[2018-02-07 09:37] haubourg commented on #181
@lbartoletti @pblottiere Hi guys, I had no time to test you Z branch improvements yet. Does it adress Tudor's issue ?

[2018-02-07 12:49] pblottiere commented on #181
Hi @tudorbarascu!

I tried to reproduce your issue on master but I didn't succeed in. But I probably missed something...

Here are my steps:
1. create a LineStringZ layer
2. add a new 3D feature in LineStringZ layer and save
3. create a LineString layer
4. add a new 2D LineString feature by snapping on some points of the LineStringZ feature
5. no issue during the saving of the 2D feature (which is

[2018-02-07 13:33] ponceta commented on #76
PR for SIRE improvements

 - [ ] Improvements to export views
https://github.com/qwat/qwat-data-model/pull/217
 - [ ]  Small fix for remote when enabling SIRE extension
https://github.com/qwat/qwat-data-model/pull/216
 - [ ] missing classes/attributes for SIRE (issue)
https://github.com/qwat/QWAT/issues/247

This is the first step to be "SIRE ready"

[2018-02-07 14:10] ponceta commented on #76
About SIRE :
https://www.vd.ch/fileadmin/user_upload/organisation/dse/scav/sire/FlyerA4final.pdf

SIRE Essentials + Mandatory data/attributes :
https://www.vd.ch/fileadmin/user_upload/organisation/dse/scav/sire/Final_DirectivesDonnee_4.1.pdf

SIRE MCD :
https://www.vd.ch/fileadmin/user_upload/organisation/dse/scav/sire/Dictionnaire4.6.pdf

[2018-02-08 04:38] tudorbarascu commented on #181
@pblottiere Sure! Thanks for looking. The problem I described is when snapping on PointZ (nodes in our case) not on LinestringZ. To replicate, you need a PointZ and a Linestring layer. Draw a Linestring that snaps to any PointZ feature and try to save.

Test tables:

[code]

At first I created the test tables without the ``name text`` column but it seems I found a regression as QGIS doesn't show t

[2018-02-09 10:22] #128 closed

[2018-02-09 10:22] haubourg commented on #128
closing for lack of priorization

[2018-02-09 10:56] haubourg opened #253 "QGEP add separated roles admin, user, etc.."
Work done by @3nids (along with dispatch tables in schemas and PUM integration )

Related issues :

[  ] https://github.com/QGEP/QGEP/issues/403

[2018-02-09 10:59] haubourg opened #254 "QGEP dispatch tables in schema for easier management"
The database structure will follow the QWAT's one with :

*_od : schema for ordinary data (actual user data)
*_vl: value lists
*_sys: system tables like version for PUM, audit logs

To be noted, QGEP now has a qgep_api schema which stores the stored procedure. This is a good practice that would be nice to have in QWAT too.

[2018-02-09 14:59] haubourg opened #255 "221"

[2018-02-09 14:59] #255 closed

[2018-02-12 11:24] 3nids commented on #254
You would move existing stuff to qwat_api ?

[2018-02-12 11:27] 3nids commented on #181
Quickfinder will gets integrated in core in 3.2 for the services part (geomapfish, osm).

[2018-02-12 11:52] haubourg commented on #254
@3nids
I just opened a ticket to have on going actions in the qwat's dashboard, no action required here :)

We've been discussing about thick database practices a few times. A refactor to use only views, limit cascaded views to 2 levels max, limit triggers on tables when calculated views can do the work, store and organize stored procedures in a dedicated schema,  is always a good thing.
I'd like

[2018-02-13 09:06] haubourg commented on #146
pr https://github.com/qgis/QGIS/pull/5823 for issues:

- Reshaping Curved geometries computes strange Z values https://issues.qgis.org/issues/17575

- creating new curve string does not uses default Z value and crashes https://issues.qgis.org/issues/17576

[2018-02-13 14:05] haubourg commented on #236
PR merged
https://github.com/qgis/QGIS/pull/5906
https://github.com/qgis/QGIS/pull/5898
https://github.com/qgis/QGIS/pull/5535

[2018-02-13 14:05] #236 closed

[2018-02-13 14:57] pblottiere commented on #181
@tudorbarascu Oh! I tried and I just got a segfault during saving... I'll take a look!

[2018-02-13 15:00] pblottiere commented on #181
@tudorbarascu I tried with my branch coming with this PR https://github.com/qgis/QGIS/pull/5823 and there's no more segfault. Moreover, I successfully saved the linestring layer.

I'll let you know once this PR is merged!

[2018-02-16 12:10] ponceta commented on #242
Ping @haubourg is there much work to make current doc "transifexable"?

We should only provide the tools and the base documentation, the crowd should provide the rest!

[2018-02-16 12:47] haubourg commented on #242
Well yes good idea, though the message I ear from the board is not so oriented to a community based approach.
However currently, I don't think even a transifex is simple enough to be easily accessible by the very few potential contributors.
If you look at the QGIS translation process, it is not simple at all and this prevents many users to jump in.
Even sphinx RsT is a barrier (to me at least).
An

[2018-02-16 13:12] #213 closed

[2018-02-16 13:12] haubourg commented on #213
I close that, this seems fixed. Please reopen if necessary

[2018-02-16 14:09] haubourg commented on #209
@ponceta @dsavary
 Given this is a not something users will discuss, but usefull to GIS administrators, what is the priority of this task for 2018? My opinion is that it is very much needed and as a very high mutualization value for the whole QGIS community. I would then plead to launch that as soon as 3.0 is out.
Opinions?

[2018-02-18 14:25] tudorbarascu commented on #181
@pblottiere Noticed the PR was merged 3 hours ago.
I just built and tested and the problem is still present.
Thanks for your very nice work.

[2018-02-18 19:55] pblottiere commented on #181
@tudorbarascu Damn :(! It means that I didn't reproduce your issue correctly... I'll try again tomorrow and I let you know.

[2018-02-21 09:01] haubourg commented on #146
PR #5823 merged, thanks @pblottiere @lbartoletti and @tudorbarascu for that!

[2018-02-21 10:25] haubourg opened #259 "Clarify release and version developper guidelines"
Hi all,
version management and release policy has know various pratices up to now.
In 2017, any pull request introducing data model changes created a new version.
Releases were handled by hand, and not every version had an associated release.

This led to some communication issues with the general board, because minor versions (aka bugfix versions) where used as roadmap targets

It also leaded to

[2018-02-21 16:45] elemoine commented on #248
Proposal:

Create `qwat_sys.audit_tables` and `qwat_sys.unaudit_tables` functions. The former would be responsible for calling `qwat_sys.audit_table` for all the tables to be audited.  The latter would do the opposite.

Then we can call `unaudit_tables` in `update/delta/pre-all.py`and `audit_tables` in `update/delta/post-all.py`, to disable auditing during migrations.

And we'd do likewise for vie

[2018-02-21 18:49] haubourg commented on #248
Hey that sounds good and less hacky than playing with replica session variable.
@3nids any thought?

[2018-02-22 13:36] elemoine commented on #248
This is what I am proposing: https://github.com/qwat/qwat-data-model/compare/master...elemoine:ele_audit. I can turn this into a proper PR if people agree with the approach.

[2018-02-23 10:59] lbartoletti opened #260 "[DOC][DATA-MODEL] Eliminate the need for manual links?"
It's written (FR):

1. Liaisons parents-enfants
I think this is contrary to the principle of digitisation of the conduct that must be unique as long as it has the same attributes.
Moreover, there is an error with the action in the project:

2. Liaisons fuites-conduites
Why this is not a relation in the database?

Thoughts?

[2018-02-25 17:33] #215 closed

[2018-02-26 12:46] elemoine commented on #248
This is the PR for this: https://github.com/qwat/qwat-data-model/pull/233.

[2018-02-27 08:50] haubourg commented on #259
No reaction ?
Well last PR by @tudorbarascu  and @elemoine follow that guidelines. I must say that allowing mutliple sorted delta files this is a lot clearer and easier to use this way for me as a reviewer.

[2018-02-28 14:02] #248 closed

[2018-03-01 13:46] haubourg commented on #247
@3nids did that make it into the SIRE extension finally?

[2018-03-01 16:55] 3nids commented on #247
no, that demands more work and study!

[2018-03-01 17:24] haubourg commented on #247
Ok thanks.

[2018-03-02 07:03] varrieta opened #262 "Dynamic link on hydrant for hinni system"
For Hinni hydrants, we have to integrate an URL linking to the Hinni system. The URL is made of a static part, the link, and a dynamic part, the identifier of the hydrant.

Does anyone else have to deal with Hinni hydrants links?

[2018-03-02 09:49] varrieta commented on #262
Since the link doesn't need to be saved in the database, I use a qgs open action to create and then open the URL. Simple and efficient, if anyone needs to do the same.

[2018-03-05 11:00] dsavary commented on #221
tested with 2.18.16  , ok .
We can close this issue :)
Thanks Paul

[2018-03-05 14:17] #221 closed

[2018-03-06 10:54] haubourg commented on #136
Tested and approved using the new digitising toolbar for circles and the advanced digitising panel

![digitize_circle_by_distance](https://user-images.githubusercontent.com/1629853/37028630-1deefac2-2135-11e8-8e5e-4b58f62c38a4.gif)

Many thanks @lbartoletti !

[2018-03-06 10:54] #136 closed

[2018-03-06 15:41] dsavary commented on #209
@haubourg
It is a priority need for us . (Gis admin)
To plan as soon as possible ( 2018 )

[2018-03-06 16:19] m-kuhn commented on #209
Highly appreciated also from a qgis community perspective.

[2018-03-06 16:43] haubourg commented on #209
Agreed with the priority here. @ponceta do you give us a GO or do you need QWAT's team approval?

[2018-03-07 08:39] lbartoletti opened #264 "[USER] improve Forms UI adding required fields"
Except for pipe which have this functionality the others doesn't have it

[2018-03-12 09:58] #259 closed

[2018-03-12 09:58] haubourg commented on #259
Tested and approved when release 1.3.2

[2018-03-12 11:18] haubourg opened #268 "Readthedocs fails to build documentation"
This is due to failures in readthedoc authentication process when trying to clone submodules.

We found that: https://github.com/rtfd/readthedocs-build/issues/30

Workaround 1 could be to change authentification mode to https instead of ssh

Workaround 2 would be to build the doc ourselves, push the built files to another repository to presever git index size in main repo, and then use github page

[2018-03-12 12:47] #146 closed

[2018-03-12 12:48] haubourg opened #270 "[QGIS] Handle null Z values internally as NaN"

[2018-03-12 12:55] #268 closed

[2018-03-12 13:16] lbartoletti opened #271 "[DOC] Wrong version number"
Use data-model version instead of a static 0.1
See: https://github.com/qwat/QWAT/blob/master/doc/conf.py#L60

[2018-03-12 13:22] haubourg commented on #268
Workaround 1 implemented in https://github.com/qwat/QWAT/commit/c9f5726b431712f35081346d55e43b52b6fd8dd9

[2018-03-12 14:36] haubourg commented on #122
Closing,.
Will open new issues related to opened QEPs and user's request in 2018

[2018-03-12 14:36] #122 closed

[2018-03-12 14:52] #271 closed

[2018-03-15 12:13] haubourg commented on #193
We have an external contributor funding that fix. Work starting soon, thanks!

[2018-03-16 09:53] #230 closed

[2018-03-16 12:56] haubourg opened #273 "[QGIS] CAD Roadmap for editing tools"
@lbartoletti has produced a QGIS enhancement Proposal, which is the right way to discuss what tools are needed, the implementation details, and announce publicly to other potentially interested parties that we want to work in that area.

The QEP is https://github.com/qgis/QGIS-Enhancement-Proposals/issues/106

User group's feedback and priorities based on that document are welcome.

[2018-03-16 12:57] haubourg commented on #273
related to the other QEP drafted for CAD-like snapping https://github.com/qgis/QGIS-Enhancement-Proposals/issues/107

[2018-03-16 13:08] haubourg opened #274 "[QGIS] improve CAD editing tools in QGI3"
@lbartoletti work on CAD editing enhancements https://github.com/qgis/QGIS-Enhancement-Proposals/issues/106 is a global roadmap for new or improved editing tools inspired by CAD workflows.

QAD plugin and CADditigitizing plugin offer good prototypes or temporary features to wait for things to be contributed in Core

Already done in QGIS3:

- new regular shape toolbar
- new node tool
- advanced dig

[2018-03-29 14:56] SSGoveia commented on #127
Any news about importing DXF into the QWAT data model?

[2018-04-09 05:05] lbartoletti commented on #170
https://github.com/qwat/qwat-data-model/pull/247

[2018-04-09 06:11] lbartoletti opened #275 "Travis / PUM error"
See [this log](https://travis-ci.org/qwat/qwat-data-model/builds/363962464):
[code]

[2018-04-09 06:56] sylvainbeo commented on #275
@lbartoletti C'est -v pas -V (?)

[2018-04-09 06:56] sylvainbeo commented on #275
-h, --help            show this help message and exit
  -v, --version         print the version and exit
  -c CONFIG_FILE, --config_file CONFIG_FILE
                        set the config file

[2018-04-09 07:54] #275 closed

[2018-04-09 09:39] tudorbarascu commented on #181
@pblottiere I added a gif so that you can reproduce more easily.

* Create the tables
[code]
* Add a point then save

* Add a line starting from the point with snapping.

![bug](https://user-images.githubusercontent.com/3179646/38490899-0786f694-3bf3-11e8-9fd3-73f82b7d981a.gif)

[2018-04-09 09:58] haubourg commented on #181
@tudorbarascu Can you show the log panel with the error messages raised by PostGIS?

[2018-04-09 10:27] tudorbarascu commented on #181
@haubourg Sure, updated comment. I thought I had already posted it above. My bad ;).

[2018-04-09 11:15] 3nids commented on #275
I just changed this to avoid confusion because -v was already used for verbosity in subcommands.
I can revert.

[2018-04-11 07:13] lbartoletti opened #276 "[DOC] Developing the core data model: metaproject/hand made delta"
Idea from [a discussion](https://github.com/qwat/qwat-data-model/pull/252#issuecomment-380348623).

Add a part on [Developing the core data model](https://github.com/qwat/QWAT/blob/master/doc/developer-guide/qwat_dev.rst#developing-the-core-data-model)

cc @haubourg @3nids

[2018-04-11 08:39] ponceta commented on #262
On my side I added to that a virtual field with external ressource as attribute type and active url.

![image](https://user-images.githubusercontent.com/8614223/38605289-25bc08da-3d73-11e8-88c4-53f48fcdd7dc.png)

I had to remove space characters (that's why regex_replace):

`regexp_replace(concat( 'https://kontrollsysteme.hinni.ch/dbhvista/?mkey=****MySecureKey****&ShowEntityDesignation=', "identi

[2018-04-11 09:46] lbartoletti commented on #169
combining qwat_od.ft_element_hydrant_delete() and qwat_od.ft_element_hydrant_insert() into  qwat_od.ft_element_hydrant_update() do the job.

@3nids is this trigger generated by metaproject? How to change it? Thanks.

[2018-04-11 13:37] dsavary commented on #190
Tested with QGIS 2.18.18 -> OK
Tested with last QGIS 3.0 dev : -> KO
If the user change one of the "chain filters" the corresponding value is not automatically refresh, the last value keep unchanged. ( input error in database...). The user must select the correct value.
See the gif
![referenced_value_list_mot_refresh](https://user-images.githubusercontent.com/6229296/38620127-3d2c9e70-3d8d-11e8-85

[2018-04-11 14:03] dsavary commented on #193
Good news ! planned for QGIS 3.1 (2018) ? I think not for QGIS 2.18 :)  ...

[2018-04-11 14:04] dsavary commented on #209
Is this issue also to fix the bug with QLR export (Layer Definition File)  in QGIS 2.18  ?
The settings of the form are lost (only for the current style)
I create a new issue for this ?

Tested in QGIS 3.0 : the export QLR seems to be working well.

Bug demo gif :
![export_qlr_lost_form](https://user-images.githubusercontent.com/6229296/38621826-398abeb0-3d91-11e8-94c0-cd34a5b8e20f.gif)

[2018-04-11 15:20] dsavary commented on #154
With QGIS, we start to use more and more relations "parent-enfant" between some tables in DB.
The relation is not only between spatials tables, but also between "non spatial" tables
When we create a relation between tables in QGIS project and use the "reference value widget" in the form settings, there are frequently problems of performance to load the "attributes table" or "feature form". It beco

[2018-04-11 16:07] dsavary commented on #135
In the case that the user check the option "topology snap" in the snapping settings of the QGIS project, it would be nice that a vertex is automatically created at the intersection between points and lines (or points on the polygon perimeter ) .
@haubourg do you think that it can be done in QGIS core or it's too specific ?
If no, we can close this issue.

[2018-04-12 06:34] dsavary opened #277 "[QGIS] - in read-only mode, the drop-down list (combo box) on a form can be "edit""
QGIS 2.18.18 : if you open a form on a read-only layer, you can now consult the value list.
Is it a bug ? or a new  request from the QGIS users community ?
The user cannot update the value in DB, but can read the wrong information on the form.
![combo_box_readonly](https://user-images.githubusercontent.com/6229296/38659816-98182d12-3e1a-11e8-8081-0b4798c60bc3.png)

In our opinion (Lausanne), it's

[2018-04-12 07:14] haubourg commented on #135
@dsavary I think this is too specific to our business logic. To me, this belongs to the database API logic.

Some can argue differently, but if we go that way with QGIS core, we should add an option to enable that in the snapping dialog. The same stands for the "multi layer" node tool editing capabilities. Some want to keep different layers in sync, some don't. As long as it's easy to finely contr

[2018-04-12 07:14] #135 closed

[2018-04-12 07:24] haubourg commented on #190
@pblottiere nasty issue, do you think tests are doable for this feature?

[2018-04-12 07:32] pblottiere commented on #190
I think that the underlying widget has been redesigned in QGIS 3.0. I'll take a look to fix that.

[2018-04-12 07:35] haubourg commented on #262
Why not add some Hinni valves in the demo dataset , propose a QML example somewhere and a "Tips and tricks" section in the documentation or web site?

[2018-04-12 08:56] haubourg commented on #76
Work done according to Pully and SIGE. Please reopen if necessary

[2018-04-12 12:07] haubourg opened #278 "thick"

[2018-04-12 12:08] #278 closed

[2018-04-12 12:08] haubourg commented on #278
oups, typo error > closing

[2018-04-12 12:13] haubourg commented on #244
ping @lbartoletti can you update the status of the issue?

[2018-04-12 12:45] #244 closed

[2018-04-12 12:47] haubourg commented on #193
@lbartoletti hub cleanup, I assign you to the task you are already working on

[2018-04-12 13:08] lbartoletti commented on #170
Version 1.3.3 https://github.com/qwat/qwat-data-model/issues/250

[2018-04-12 13:08] #170 closed

[2018-04-17 15:49] dsavary commented on #139
@haubourg In QGIS 3.1 , I test the move or copy selection tool . We cannot well see the snapping symbols (Pink cross) even though the snapping mode is active.
It would be good if we can fix this bug and close this issue.

[2018-04-18 10:52] lbartoletti commented on #169
ping @3nids

[2018-04-23 15:05] pblottiere commented on #181
@tudorbarascu

Oh yes, indeed! Thanks for the GIF, I'm able to reproduce now! I take a look.

[2018-05-02 07:05] haubourg opened #279 "Readthedocs build fail because of submodule checkout"

[2018-05-02 07:07] #279 closed

[2018-05-02 07:07] haubourg commented on #279
We have been facing many doc building issues because of authentication issues in github from readthedocs when trying to initialize submodules.
Readthedocs team just added a flag for us and it seems to solve the issue correctly.

See https://github.com/rtfd/readthedocs-build/issues/30#issuecomment-385555423

[2018-05-02 07:08] lbartoletti commented on #193
PR Merged https://github.com/qgis/QGIS/pull/6750

[2018-05-02 07:29] haubourg commented on #193
Please keep it opened until we have a green light from the testers :)

[2018-05-14 16:59] haubourg commented on #209
I just launched a QEP for advanced proposal of export / import of QML parts here https://github.com/qgis/QGIS-Enhancement-Proposals/issues/125

Any comments welcome

[2018-05-22 18:29] 3nids commented on #253
I think this can be closed

[2018-05-22 18:33] 3nids commented on #224
this has been fixed both in master and 2.18

[2018-05-22 18:33] #224 closed

[2018-05-22 18:38] #76 closed

[2018-05-23 08:34] haubourg commented on #254
Yep, done thanks

[2018-05-23 08:34] #254 closed

[2018-05-28 12:53] tudorbarascu opened #282 "Displaying pipes width after diameter bug in master"
I noticed that in master, when doing data defined override option to present the pipes width based on diameters there's an issue and the rendering output it's not correct.

I've created a more detailed bug report + attached a test project at https://issues.qgis.org/issues/19043

[2018-05-28 13:02] haubourg opened #283 "QGEP plugin fixes"
@ponceta asked for fixes and changes of the QGEP plugin .

See https://github.com/QGEP/QGEP/issues/406

[code]

[2018-05-28 13:03] haubourg commented on #283
@3nids any news of the status of this work - required by early/mid  june?

[2018-05-29 09:01] haubourg opened #284 "Add an extension listing repository"
We now have two available extensions to QWAT

- SIRE extension, embedded in QWAT core
- AquaFri extension provided at https://github.com/qwat/qwat-data-model/pull/263#issuecomment-392697574

We need to reference all available extensions in the documentation and in the extension directory.

Reminder, extensions and customizations can be held inside or outside QWAT core. It depends more on the lifec

[2018-05-31 08:38] haubourg commented on #209
@ponceta @dsavary @kandre are you happy with the current state of the QEP?

[2018-05-31 12:44] dsavary commented on #209
@haubourg very good job.
I don't understand all the details about the discussion with Mathias Kuhn...
Perhaps, it may be necessary to specify, if the export of sections (symbole, form, ...) is done by default on the current style or the user can choose (before) in the menu one of the styles that he wants to export.

[2018-06-04 09:16] lbartoletti commented on #169
Denis @3nids ?

[2018-06-05 15:18] haubourg commented on #277
Hi Daniel,
it looks like a bug to me and I confirm that behavior. Didn't it appear before 2.18.18 ?
It seems also there in QGIS 3.
I let you priorize that with the User group if you want us to have it fixed.

[2018-06-22 06:47] haubourg commented on #84
In the meantin, @lbartoletti produced a GPS / topometry data import plugin (+ algorithm) for QGIS that seems to fit the needs.  It should be released soon.

[2018-06-26 12:40] haubourg commented on #112
Please reopen if the need occurs again

[2018-06-26 12:41] #113 closed

[2018-06-26 12:41] #114 closed

[2018-06-26 12:41] #115 closed

[2018-06-26 12:44] haubourg commented on #264
I didn't get what you are asking for. Can you point out precise needs?

[2018-06-27 12:58] haubourg commented on #283
Sorry it can't, Arnaud doesn't get 3d vertices created when ditgitizing a reach that is snapped on a 3D feature. Can you provide a the SQL definition samples that you show in your screencast so that we can check we don't hit another corner case ?

[2018-06-28 07:39] haubourg commented on #253
the group raise the issue that we miss documentation for the roles in readthedocs. @lbartoletti can you check the status of the doc?

[2018-06-28 09:14] haubourg opened #285 "network"

[2018-06-29 07:40] 3nids commented on #283
sorry, a bit confused by different sources of info....can this be closed now?

[2018-06-29 07:41] #283 closed

[2018-06-29 07:42] haubourg commented on #283
Done (I'm also confused by the 3 involved bug trackers :/ )

[2018-07-04 07:37] tudorbarascu commented on #181
Trying to migrate to 3. On master, if I add the pipe layer the NOT NULL constraints of the ``fk_node_a`` and ``node_b`` columns propagate to the dialog thus disabling the ``OK`` of the dialog. As these columns get filled by db triggers it's an impediment.
Is there a workaround?

[2018-08-23 11:47] lbartoletti commented on #84
Here the link https://github.com/Oslandia/landsurveycodesimport

[2018-09-18 13:52] kandre opened #286 "[Documentation] Update documentation according to QWAT user group needs"
- [ ] Translate sections, titles, introduction that are not in french (needs transifex)

- Modifications of table of contents tree :
     - [ ] Translation to french (needs transifex)
     - [ ] Delete or remove Translation (10) section
     - [ ] Remove Glossary (9), section as long as there is not more stuff in it
     - [ ] Move Features (1) section into Admin section

- [ ] Révision du chapitr

[2018-09-19 16:35] nliaudat commented on #286
Add link to qwat extension https://github.com/nliaudat/ch_fr_aquafri
Add link to qwat import sample https://github.com/nliaudat/qwat-import-sample

or better merge all into official repo.
Regards

[2018-09-20 14:06] haubourg opened #288 "Current continuous integration fails to detect differences in value lists"
Work in #https://github.com/qwat/qwat-data-model/pull/268#issuecomment-417561777 shows that if a delta files loads value lists but is not inlined with generation scripts, Travis fails to catch those differences.

The check is done by PUM which only check database structure (tables, views, functions, triggers, constraints, etc) but not value list.

In QWAT, we can consider that some value lists are

[2018-09-20 14:07] haubourg commented on #288
@elemoine @lbartoletti @tudorbarascu @3nids @marioba @ponceta

Any opinion on that?
Arnaud, I think this deserves some work to avoid nasty issues. I let you see if we schedule that in a PSC.

[2018-09-21 06:40] marioba commented on #288
Hi @haubourg,
I'm not sure I understood correctly the problem.

In qwat, you create value lists such as `qwat_vl.pipe_material`. If I'm not mistaken, these are considered actually as tables by PUM and then `pum check` shows the possible lack of the table.

Would you like that PUM is able to show the difference also on the content? E.g. when a value is added to `pipe_material`? Is what I say correc

[2018-09-21 07:15] haubourg commented on #288
@marioba Hi Mario, yes the actual lack is content checking. We have add one PR changing core value list and adding deltas that lead to different contents in migration process but Travis didn't catch the difference.
I just raised the issue, but we have no time allocated yet. @elemoine would be hot on proposing a pull request to PUM if we get funded. I'll keep you informed.

[2018-09-22 08:46] elemoine commented on #288
Hi @marioba. Yep, seconding what Régis said. Value-lists tables belong more to the structure of the database, rather than its content. So the idea would be to extend Pum to make it possible to pass pum check (and pum test-and-upgrade) a list of tables whose contents should be checked. I think that would make sense to add this to Pum, and I'd be happy to do it :)

[2018-09-24 05:19] marioba commented on #288
Hi @elemoine, yes, I think it's a good idea.

[2018-09-24 17:39] 3nids commented on #288
The distinction in qwat for custom VL should be that id > 10'000.
I like the idea of integrating content checking. But going to the point of introducing a customizable rule to determine which line should be check is too much.
I would be more inclined on implementing customizable tests that we could subclass in Python which would be cleaner and more flexible.

[2018-09-28 18:34] tveinot opened #289 "psql: FATAL: password authentication failed for user "-v""
I am trying to install QWAT using directions found https://media.readthedocs.org/pdf/qwat/latest/qwat.pdf
but when I get to ./init_qwat.sh -p qwat -s 21781 -d -r the return is psql: FATAL: password authentication failed for user "-v"
I added host all city-ad/tveinot 127.0.0.1/32 sspi include_realm=0 to my pg_hba.conf file in both the IPv4 and IPV6 lines but still get the authentication error. Does

[2018-09-28 18:48] tudorbarascu commented on #289
I don't know if the init for the database is supported under windows. The error you get is either from the script that's malfunctioning and didn't interpret the user right (it tries to connect to the database as a user named ``v`` and you probably wanted it with ``postgres`` or ``qwat``. Another possibility is that you didn't created correctly the ``pg_service.conf`` [file](https://docs.qgis.org/2

[2018-09-28 19:02] tveinot commented on #289
Since my conf file had other stuff in it from other projects I created a new one looking like this
#
#	Connection configuration file
#
# A service is a set of named connection parameters.  You may specify
# multiple services in this file.  Each starts with a service name in
# brackets.  Subsequent lines have connection configuration parameters of
# the pattern "param=value" or LDAP URLs starting w

[2018-09-28 19:44] tudorbarascu commented on #289
@tveinot From the link in my previous comment.. please read the "There are some caveats under Windows:" part as I suspect you neglected it. If you don't manage you could just restore one of the structures from https://github.com/qwat/qwat-data-model/releases. Please close this issue when you manage.

[2018-10-25 05:25] tudorbarascu opened #290 "altitude object reference in surveying and in the database"
Hello!
I was wondering how are you guys handling the object reference for altitude in table qwat_vl.object_reference

For now, we have:
[code]
and I am wondering if "conduite" means for you that is on the axis of the pipe, or on top of it?
The reason I'm asking is that we're analyzing our surveying workflows for valves and of course, when you survey with the GPS or with a total station you sometim

[2018-10-29 15:37] haubourg commented on #290
Hi Tudor, very good question, I think we can address that to QWAT's user groups.

As a (weak) reference, the [French GeoStandard RAEPA](http://www.geoinformations.developpement-durable.gouv.fr/geostandard-reseaux-d-adduction-d-eau-potable-et-d-a3478.html) states the following:

Wastewater water pipes are described by the "fil d'eau" reference, ie the water level  of the bottom of a reach.

Drinkab

[2018-10-30 15:06] ponceta commented on #169
Status of this? If it's an issue it should be corrected (before 1.3.3?)

[2018-10-30 15:51] 3nids commented on #169
@lbartoletti yes the triggers are generated automatically (metaproject)
But this should not happen at the hydrant but at the network or node level.

[2018-11-05 11:15] haubourg commented on #169
@lbartoletti can you push a fix now ?

[2018-11-09 09:55] tudorbarascu commented on #289
I think this can be closed, right?

[2018-11-09 10:00] tudorbarascu commented on #290
@qwat-psc It would be great to see what's your opinion so that we can standardize what's the meaning or just add both options in the next qwat model.

[2018-11-10 11:56] tudorbarascu commented on #282
It now works!

[2018-11-10 11:56] #282 closed

[2018-11-12 07:36] lbartoletti commented on #274
Update:
- reverse line tool added
- trim/extend tool in progress

[2018-11-12 07:38] lbartoletti commented on #273
Update:
- reverse line tool added (Oslandia)
- trim/extend tool in progress (Mairie de Megève)

[2018-11-12 07:42] lbartoletti commented on #227
Update for QGIS 3.4 Thanks to QGIS PSC for bugfix time:
- [fix snapping indicator when advance digitizing tools is enabled](https://github.com/qgis/QGIS/pull/8307)
- [Add snapindicator to shape tools](https://github.com/qgis/QGIS/pull/8292)

[2018-11-12 07:43] lbartoletti commented on #228
@ponceta should be closed?

[2018-11-12 07:44] lbartoletti commented on #196
@3nids seems still present in QGIS 3.4.1 I can reproduce it "sometimes"/"randomly"...

[2018-11-12 07:45] lbartoletti commented on #193
Could be closed now?

[2018-11-12 07:46] lbartoletti commented on #167
What is the status of this ticket?

[2018-11-13 14:15] haubourg commented on #169
OK, after testing, all installations are also afected. We probably need a gobal business rule to merge nodes when we want to snap to an existing node and merge underlying nodes. This is a big refactoring step, so I postpone the milestone in order to let the 1.3.3 release fly this week.

[2018-11-14 18:13] tudorbarascu commented on #176
@dsavary gentle ping regarding the above question.

[2018-11-15 12:10] tudorbarascu commented on #169
@haubourg IMHO it should be considered a bug (very high priority even).

[2018-11-15 13:03] tudorbarascu commented on #181
Issue with workaround here: https://issues.qgis.org/issues/19671

[2018-11-15 13:37] tudorbarascu commented on #181
@haubourg Sorry, from that issue you are taken to another etc. and then you see the solution. I updated the original issue with: ``A workaround would be to simply fill those specific columns with a default value, -1 let's say and it will let you pass while the database logic will change it to what's supposed to be.``

[2018-11-15 14:47] haubourg commented on #181
@tudorbarascu Nice ! thanks for making it clearer !

[2018-11-15 15:49] haubourg opened #292 "hydrant"

[2018-11-15 15:50] #292 closed

[2018-11-15 15:50] #285 closed

[2018-11-27 13:53] ponceta commented on #181
On notepad++
CTRL+H
replace 't'
by true

[2018-11-28 08:40] nliaudat commented on #124
A working solution to export to Epanet with ghydraulics :
https://github.com/nliaudat/qwat-to-ghydraulics

[2018-11-28 13:11] haubourg commented on #124
Nice!
@qwat/qwat-psc what about a QWAT module adding EPANET views ?

[2018-11-28 13:15] nliaudat commented on #124
Wait ... Epanet & SWMM are under heavy reconstruction and the future engine will be Qgis ....
https://github.com/USEPA/SWMM-EPANET_User_Interface/wiki/Getting-Started-as-a-Developer

[2018-11-28 13:39] haubourg commented on #124
Wow, good to know!

[2018-11-28 19:15] tudorbarascu commented on #124
:+1: @haubourg The news were already written right on top of this issue but it's very nice that they're more visible now. A big + from me towards a QWAT module adding EPANET views. This module + network tracing tools are two big things that are currently missing IMHO.
They're also an effort of improving the hydraulic engine at https://github.com/OpenWaterAnalytics/EPANET

[2018-12-06 12:07] ponceta commented on #176
@tudorbarascu if I understand it well for @dsavary users:

precision means technical quality of the instrument
fiability means personnal feeling of how the measurement went and how "trustable it is"

@dsavary tu me corriges si jamais! :)

[2018-12-06 14:17] ponceta commented on #242
This has been adressed, QWAT documentation is now multilingual and available here :
https://qwat.github.io/docs/master/en/html/
Anyone can join the translation team on transifex.

[2018-12-06 14:17] #242 closed

[2018-12-06 14:18] ponceta commented on #235
Now part of QGIS project!

[2018-12-06 14:18] #235 closed

[2018-12-06 14:20] dsavary commented on #176
@tudorbarascu sorry I completely forgot to answer you
@ponceta your explanation is correct
For Lausanne, the surveypoinnts will no longer be managing in networks database (like QWAT) but in a specific archive database (QSOUT).
the table "constructionpoint" is not to store survey points, but points manually ceated by the users for the different pipe network

[2018-12-06 14:21] ponceta commented on #214
Corrected on QGIS 3.X

[2018-12-06 14:21] #214 closed

[2018-12-06 14:22] ponceta commented on #158
I suggest to close this until any real need is shown.

[2018-12-06 14:40] dsavary commented on #290
@tudorbarascu we use the value "object reference" only for surveypoints.
the value "conduite" is not very clear.
For QWAT, we use almost always "on the pipe" , sometimes we use : without altitude, ground, on control valve. We don't move the coordinate "z" of the pipe after the surveying.
For QGEP, we use often the value "on the pipe" and "radier" (bottom) . For the points "on the pipe", we move th

[2018-12-06 14:49] ponceta commented on #205
Actually on hold, too complex. Please reopen if needed.

[2018-12-06 14:49] #205 closed

[2018-12-06 15:06] ponceta commented on #197
This has been fixed on QGIS 3.4.X QWAT views can be loaded in 1 click for views which have id as first attribute.

Exceptions are

- qwat_od.vw_qwat_network_element : because there's a select case on qwat_od.element_type
- qwat_od.vw_qwat_node : because there's a select case on qwat_od.node_type
- qwat_od.vw_search_view : because there's a select case on 'Ouvrages'::text AS layer_name

[2018-12-06 15:06] #197 closed

[2018-12-06 15:11] #157 closed

[2018-12-06 15:19] ponceta commented on #290
@tudorbarascu I can confirm that in Pully we measure altitudes on the pipes, which is the default value for all our objects in our water network.

Like Lausanne, we do not move these coordinates.

This is not the axis altitude but regarding of the pressure, this is not as relevant as on wastewater network. (as long as it is clear that it is "on the pipe" altitude)

[2019-02-25 07:37] lucamanga commented on #273
What's the progress of the trim/extend tool? It is an important tool in QAD on QGIS 2.18, for us :+1:

[2019-02-25 08:16] lbartoletti commented on #273
@lucamanga it's merged and available in QGIS 3.6

[2019-02-25 13:21] lbartoletti commented on #273
@lucamanga http://changelog.qgis.org/en/qgis/version/3.6.0/#trimextend

[2019-02-26 16:01] ponceta commented on #246
@varrieta no objection at all to go 3D here.

[2019-02-26 16:04] ponceta commented on #204
Is this still the case?

Should be updated to pyqgis 3

[2019-02-28 10:52] ponceta opened #294 "QGIS 3.X IDs are not filled for some object classes"
First we need to activate default values from postgres in the qgs project :

![image](https://user-images.githubusercontent.com/8614223/53559603-be6ddb00-3b4a-11e9-8019-ab72d1072e9f.png)

The edit views are problematic here since they don't auto increment IDs:

![image](https://user-images.githubusercontent.com/8614223/53561450-35a56e00-3b4f-11e9-924e-b4b774e8c9ac.png)

Following edition views are

[2019-02-28 11:48] ponceta opened #295 "QGIS 3.X node A and node B are not filled automatically for pipe"
Nodes IDs are not filled automatically at pipe insertion on QGIS 3.X

![image](https://user-images.githubusercontent.com/8614223/53564338-ebc08600-3b56-11e9-9ca0-173e9338b110.png)

Their NOT NULL constraint requires some values before allowing the user to validate his form.

[2019-02-28 12:00] ponceta commented on #226
LinestringZ regression :

![regression_snapping_intersections_qgis3](https://user-images.githubusercontent.com/8614223/53565122-d9dfe280-3b58-11e9-9097-6896d6abf8b1.gif)

[2019-03-01 14:43] ponceta commented on #295
Workaround : set 1 as default value, wait for fix in QGIS 3.4.6

[2019-03-01 14:43] ponceta commented on #294
Workaround : set 1 as default value, Wait for fix with 3.4.6

[2019-03-01 14:47] ponceta commented on #277
![image](https://user-images.githubusercontent.com/8614223/53645461-34e90680-3c39-11e9-8d3f-c8b33afa1501.png)

3.4.5 Fixed? @dsavary could you please check?

[2019-03-05 07:53] lbartoletti commented on #226
PR for intersection with Z and M in progress https://github.com/qgis/QGIS/pull/9379

[2019-03-06 15:01] tudorbarascu commented on #290
@ponceta @dsavary @lbartoletti Then I would change the default altitude to ``dessus de la conduite`` and add another value with ``axe de la conduite``.

As all of you work with the altitude meaning on top of the pipe then it's an easy migration ( don't have to do anything) but things would me much cleaner and we also introduce the pipe axis needed for hydraulic modelling.

As a bonus, we could als

[2019-03-14 11:04] lbartoletti commented on #226
The PR works also for intersection with curve

[2019-04-18 08:04] ponceta commented on #294
It is now (QGIS 3.4.6) possible to uncheck the enforce constraints.

![image](https://user-images.githubusercontent.com/8614223/56345971-4e321c00-61c1-11e9-81ff-903af5c675a2.png)

[2019-04-18 08:04] #294 closed

[2019-04-30 15:45] haubourg opened #296 "leak form (.ui file) shows non existing fields"
The form for leaks shows fields that are (no longer?) in the datamodel.
![image](https://user-images.githubusercontent.com/1629853/56974674-982ae280-6b6f-11e9-8721-460815fad8ab.png)

I'm wondering why leaks are not anymore referenced to district ? @3nids any idea?

Related to task  #233 and #181

[2019-04-30 15:54] haubourg opened #297 "Offer a geographic filtering solution"
When using a centralized QWAT DB serving different organization, it becomes quickly necessary to offer a way to geographically filter rows so that each organization sees only its owns data.

QWAT has not been designed for that purpose and we'll try to evaluate the different solutions available.
So far we see 4 possibilities :

-1 add layer filter in the qgs project and distribute different project

[2019-05-02 07:46] ponceta commented on #297
*Pully*

-1 Solution is used here, fk_district attribute does the job. But we have the chance to have a centralised edition for both districts.

Some tables missed this fk_district attribute.

Client side is a bit more configuration but is quite simple now on QGIS side.
-> QGIS enables to set an attribute with default non editable value.

[2019-05-02 08:18] ponceta commented on #296
*Pully*

We are now fully using drag and drop forms.

The reason why fk_district is not in leaks anymore is that every leak is linked to a pipe which already have an fk_district. -> Sufficient for export views but not for edition purposes.

In Pully we restored this fk_district field for edition purposes.

What would be the good practice in this case? I still wonder.

[2019-05-06 07:06] haubourg commented on #296
Hi, could you share your branch so that I can give it a try ?

is that a customization of the database model constraints ? Do you handle that with PUM? I'd be pleased to see your branch too.

Well, we first need to know if this is a requirement for the field work to link a leak to a district. IMO, I don't see any reason why we shouldn't because a pipe can cross many districts, but leaks can be han

[2019-06-18 12:31] haubourg commented on #296
closing, we are switching to drag and drop fields on the demo project

[2019-06-18 12:31] #296 closed

[2019-06-18 12:32] #295 closed

[2019-06-18 12:32] haubourg commented on #295
Solved in QGIS 3.4.7 and in QGIS3 migration

[2019-06-26 06:01] #253 closed

[2019-06-26 06:29] lbartoletti commented on #193
The main bug was fixed one year ago. I fixed a related bug for tracing.

FYI, there is a last related bug https://github.com/qgis/QGIS/issues/26733

Do you want me to take care of it?

[2019-06-28 09:44] haubourg commented on #193
are you talking to me? ;-)  Please go ahaed and close qgis/QGIS#26733 and https://github.com/qwat/QWAT/issues/193 if everything is OK:

[2019-07-02 15:46] ponceta commented on #226
According to @lbartoletti 's latest developpements, I close this since it is now solved for us. Please feel free to open new issues for specific cases.

[2019-07-02 15:46] #226 closed

[2019-07-02 15:51] ponceta commented on #204
@haubourg Duplicate of https://github.com/qwat/QWAT/issues/204 I think

[2019-07-08 06:17] lbartoletti commented on #290
@tudorbarascu LGTM
@ponceta @dsavary is it good for you too?

[2019-07-08 06:25] tudorbarascu commented on #290
Just daydreaming here, I would love to see:
- the 3d pipes created with z based on the axis height and not on the "top of the pipe"
- the creation of the 3d pipe based on database side logic, and not on QGIS side. I've thought about this a lot and it's a necessary thing for the model stability/testing as it's far less error prone IMHO

[2019-07-11 12:34] ponceta commented on #290
Good to me too.

@tudorbarascu daydreaming here would be to have actually more than 90% of 3D data...

[2019-07-11 12:36] ponceta commented on #286
@nliaudat the git model for QWAT extensions comes soon thanks to @lbartoletti

[2019-07-11 12:38] ponceta commented on #227
I close this since it is under work in QGIS continuous enhancements and not a QWAT issue anymore!

[2019-07-11 12:38] #227 closed

[2019-07-11 12:39] ponceta commented on #274
This can be closed. Not a QWAT issue anymore.

[2019-07-11 12:43] #189 closed

[2019-07-11 12:44] #181 closed

[2019-07-11 12:46] #229 closed

[2019-07-11 12:48] ponceta commented on #154
QGIS 3 has considerably enhanced forms loading. This can be closed since.

[2019-07-11 13:36] #154 closed

[2019-07-21 09:47] #290 closed

[2020-03-18 10:47] ponceta commented on #217
Still an issue?

[2020-04-01 07:22] tudorbarascu opened #303 "enhancement: add a tab, an option to open audit on a certain qwat object from its form"
Just thought it would be useful to see the audit on a specific object from a click/tab in a form.
Haven't thought it through the end but something like a tab, an action.. etc. to quickly see the audit for an object.. would be cool, right?

[2020-04-01 07:58] lbartoletti commented on #303
Oh nice idea. @haubourg @qwat/qwat-psc ?

[2020-04-01 08:10] haubourg commented on #303
Totally yes !
I have done this before, users really liked it. It needs a bit of html formatting to be readable.
and the loading must be asynchroneus, because audit_action tables is not indexed, but it definitly a good idea to me.

[2020-04-20 06:33] ponceta opened #304 "QGIS Server for QWAT / QGEP?"
How do you use QGIS server with QWAT?

Same project or specific views?

Editing or read only?

This would be nice to brainstorm a bit for our organisations and to be able to recommend an approach.

[2020-04-20 07:21] haubourg commented on #304
From our experience, a server context, you will want to have only one point layer so that you speed up rendering a lot, we have too many layers in the project by now.
This implies to change the form logic. QGEP can be one approach (one big QGIS form with conditional tabs). Or you can set up dedicated forms and create a dedicated REST service to feed those forms.

[2020-04-20 07:22] ponceta commented on #303
![image](https://user-images.githubusercontent.com/8614223/79724511-fc4a3780-82e7-11ea-97fa-a476ce71cb17.png)

This would be a nice improvement.

I think a right click action leading to filtered audit_action table for the specific entity (maybe easy with the QML Widget?)

[2020-04-20 07:28] ponceta commented on #304
@haubourg from your experience with QGIS server : Use of conditional forms (good or bad idea?)

[2020-04-20 07:42] haubourg commented on #304
You mean, reusing the qgs form automatically to generate the web client form? like Lizmap does?

I'm not sure this would be a good idea for a business application. You will look for maximum performance and ergonomy. Dealing with auto generated code, you will probably load hidden fields an ressources when the user doesn't need it. As long as we deal here with an long term application, with not so m

[2020-04-20 12:02] ponceta opened #305 "Actual Issues with qwat.qgs project (In progress)"
The idea here is to list, discuss and solve some issues with qwat .qgs project file

**Project general modifications :**
 - [ ] sslmode=disable -> set sslmode=prefer
 - [ ] Fonds de plan : propose a solution that enables demo data to be displayed in the best way possible.
 - [ ] Replace python macros with dependancy management
 - [ ] Edit Metadata information
 - [ ] Edit QGIS Server Parameters
 -

[2020-05-04 08:55] ponceta commented on #217
@tudorbarascu is it still an issue? Do you have an open issue for this on QGIS Upstream?

[2020-05-05 14:11] tudorbarascu commented on #217
I don't know if it's still an issue as I'm still using the workarounds from when  I discovered this. A little time constraint to test right now (it's on my TODO list). No ticket upstream. Sorry for not being helpful for now.

[2020-06-15 09:14] ponceta commented on #262
Opened a documentation issue. https://github.com/qwat/docs/issues/9

[2020-06-15 09:14] #262 closed

[2020-06-23 12:19] ponceta commented on #237
3.14.0 seems to fix this, as soon as you have a valid Null diameter entity for your material :

![Materials](https://user-images.githubusercontent.com/8614223/85398589-c2024e00-b555-11ea-9667-9c13752030fc.gif)

Otherwise it will take the first diameter available (that's why a check that every material has a Null diameter instance should be checked)

[2020-07-22 09:39] haubourg opened #306 "Add French data exchange format extension to QWAT repositories?"
We have been making a QWAT extension so that we can expose QWAT internal model to the French data exchange format, known as COVADIS-RAEPA.

The standard is described [here](http://www.geoinformations.developpement-durable.gouv.fr/geostandard-reseaux-d-adduction-d-eau-potable-et-d-a3478.html)

The latest developpement branch is [there](https://github.com/haubourg/extension_raepa/tree/use_audit_log_

[2020-07-22 11:12] haubourg commented on #306
I have populated a private repository at https://github.com/qwat/extension_fr_raepa
Let me know if I can make it public.

[2020-08-11 13:25] ponceta commented on #306
@haubourg thanks for the contribution, that's a very nice news.
I'm more than ok to release it to the public.
Just one small question about it, who is "maintainer" of this extension?

[2020-08-17 07:58] haubourg commented on #306
Hi @ponceta

Thanks!

I am, supported by @lbartoletti or @obrix if needed.

[2020-08-17 08:19] haubourg commented on #306
The repo is now public, let's cross fingers so that it helps QWAT spreading in France :)

[2020-09-16 11:45] kandre opened #307 "[WIP] INTERLIS import/export interface for SIA 405"
## General information

- Applicant:  Alexandre Bosshard and Stefan Burckhardt, coordinators and project leaders of the QWAT/QGEP group
- Relevant users: GIS users and GIS administrators
- Technical referent: stefan.burckhardt@sjib.ch
- Developer: OPENGIS.ch GmbH
- Development referent: Matthias Kuhn, Head of Opengis

## Users and administrators needs

### Graphical identity / Logo

Illustrations

[2020-09-16 11:48] kandre commented on #307
This issue is our shared document to define user needs, specifications, timeline and to follow up the execution.
As this feature should be thinked and developed in a participative way, feel free to react by using the comments below.
Issue [#600 in QGEP](https://github.com/QGEP/QGEP/issues/600) is not a duplicate, but very similar as we aim to mutualise as much as possible this development between

[2020-09-25 08:54] sjib commented on #307
@kandre  I
![vl_code_vsacode](https://user-images.githubusercontent.com/1265865/94247514-893f8f80-ff1d-11ea-95d0-ddb4a8df0d8b.jpg)
would add the following necessary working steps:

1. extension of qwat datamodel with matching of SIA405 water values with existing values in qwat (SIACodes)
2. INTERLIS Export SIA405 water - translation of qwat schema to ili2pg schema SIA405water, code to language val

[2020-10-02 05:06] ponceta opened #308 "QWAT CH - Applied on german translation"
One of the brakes to the use of QWAT in Switzerland is its missing translation to german.

The users should be provided with

- [ ] Translatable qgs demo project -> like QGEP
- [ ] availability of value lists in german
- [ ] translators and translation of the documentation ->
https://www.transifex.com/qwat/qwat-doc/dashboard/
- [ ] SIA 405 interlis export (https://github.com/qwat/QWAT/issues/307)

[2020-10-02 06:03] afink70 commented on #308
Hi, how could I help you?

[2020-10-05 07:01] ponceta commented on #308
Please feel free to check the documentation about contributing 👍

https://qwat.github.io/docs/master/en/html/contributor-guide/index.html#translating-qwat

Available if you encounter any trouble on how to contribute.

[2020-10-05 07:30] lbartoletti commented on #308
@ponceta BTW, the english version still contains french sentences.

[2020-10-06 08:43] kandre commented on #307
Thanks for you feedback,

@sjib indeed we lack SIA 405  values (a "siacode" column) in the qwat data model, and sql matching translations between ili2pg and qwat models, in both ways (export + import)
I would add those requirements in the technical analysis and specifications section, as it is not a user need (the "user" does not care about the internal mechanisms).

@ponceta totally agree, we lac

[2020-10-06 09:16] kandre commented on #307
@sjib this point is unclear to me, actually there is no qwat plugin and what should be integrated? Could you rephrase?

[2020-10-07 11:39] ponceta commented on #308
@lbartoletti Yes, thank you, I add this to the list, there's an existing issue for that!

[2020-10-07 14:10] ponceta opened #309 "Why QWAT?"
As for QGIS, we're searching some key ideas to communicate about QWAT :

Please add your ideas !

- a professionnal tool
- has user experience
- fast and efficient
- customizable
- opensource

Ref : https://docs.qgis.org/3.10/en/docs/training_manual/foreword/foreword.html#why-qgis

Parent QGEP : https://github.com/QGEP/QGEP/issues/606

[2020-10-22 09:18] ponceta commented on #84
New link : https://gitlab.com/Oslandia/qgis/landsurveycodesimport

[2020-12-24 06:45] #277 closed

[2020-12-24 06:47] ponceta commented on #237
@tudorbarascu this seems to be solved to me, please feel to reopen if needed.

[2020-12-24 06:47] #237 closed

[2020-12-24 06:51] ponceta commented on #217
@tudorbarascu it would be nice to provide the upstream community (QGIS) if this issue is still relevant on latest releases of QGIS.

[2020-12-24 06:56] ponceta commented on #190
Regression on QGIS 3.X.X Seems to be fixed, I close this. Please feel free to open a new issue in QGIS if any relational widget encounters any trouble.

[2020-12-24 06:56] #190 closed

[2020-12-24 07:56] ponceta commented on #234
Seems to be fixed on QGIS 3.16.X

[2020-12-24 07:56] #234 closed

[2020-12-24 07:59] ponceta commented on #234
![image](https://user-images.githubusercontent.com/8614223/103072669-4cd80a00-45c6-11eb-8659-09c566e014a1.png)

The symbol is now truncated if too large to be displayed in the legend.

[2020-12-24 08:06] ponceta commented on #246
![image](https://user-images.githubusercontent.com/8614223/103072889-cbcd4280-45c6-11eb-867e-3dde8cfb9e66.png)

[2021-02-04 17:09] kandre opened #310 "Missing pipe materials with various nominal pressure (PN)... or missing something else ?"
Knowing nominal pressure (PN) of pipes is quite important especially for operations department.
As far as I know, nominal pressure is stored on pipes in QWAT. However, when installing pipes, there are parts constituing a pipe (other than the pipe cylinder itself) that can have their own nominal pressure. These part can be flanges ("brides"), valves, etc. and for some are not part of the model or d

[2021-02-11 11:28] ponceta commented on #310
I would also go for 1.

Maybe @tudorbarascu has some interesting feedbacks on this?

[2021-02-11 11:33] tudorbarascu commented on #310
This is tied to https://github.com/qwat/qwat-data-model/issues/107

[2021-02-26 08:02] tudorbarascu opened #311 "upgrading to 3.16.4 installation form issue"
upgrading to 3.16.4 crashes the installation form as the ``dialog.findChild`` outputs different results between 3.10 and 3.16

For 3.10:

[code]

For 3.16:
[code]

Currently investigating. Anyone else has this problem?

[2021-02-26 08:12] tudorbarascu commented on #311
There's the ``2839923C-8B7D-419E-B84B-CA2FE9B80EC7`` magic value that appears but shouldn't be there as it is tied with the **value map widget** and I'm pretty sure it has no place in the result of dialog.findChild output.

See https://github.com/qgis/QGIS/search?q=2839923C-8B7D-419E-B84B-CA2FE9B80EC7&type=code

[2021-02-26 08:28] tudorbarascu commented on #311
Wel.. actually.. that's if you use the installation.ui file :). So.. if nobody else uses it.. I'll close this down and not do any followup.

[2021-03-01 09:15] lbartoletti commented on #311
mmm. I think insteallation.ui file is used by some groups ( @kandre @ponceta ?).
We have to filter this magic value @tudorbarascu ?

[2021-03-01 09:23] ponceta commented on #311
@tudorbarascu good catch!

We still have to update the qwat.qgs project to 3.16 (New LTR).

In Pully and SIGE we don't use .ui files anymore but the project has to be updated, either by removing or fixing this ui file definition.

[2021-03-01 09:24] ponceta opened #312 "Update qwat.qgs project to 3.16.X (LTR)"
To keep up with QGIS LTR version

- [ ] Fix ui bug on installations #311
- [ ] Rewrite qgis 2 'true' and 'false' to qgis 3 true and false syntax

[2021-03-01 09:37] tudorbarascu commented on #311
Well.. I thought about filtering in the python logic that but IMHO it's not the correct thing to do as that magic value shouldn't be there, the correct fix would be in the core so that the None widget doesn't appear when finding children.

[2021-03-09 09:51] tudorbarascu commented on #217
I cannot replicate anymore.

[2021-03-09 09:51] #217 closed

[2021-03-09 11:23] ponceta commented on #217
Good to know that QGIS 3.16 comes even better in terms of stability!

[2021-06-25 15:02] olivierdalang opened #313 "Add SIA405_code column to value list where applicable"
In QGEP, we have a `vsacode` column to do that match. We would need the same for QWAT if we want to convert from/to SIA405.

A column is the most flexible, as it allows for users to also match their custom value lists if any.

[2021-08-18 10:25] olivierdalang commented on #313
fixed in https://github.com/qwat/qwat-data-model/pull/334

[2021-08-18 10:25] #313 closed

[2021-09-07 07:30] nicolas-sitylb opened #314 "Why the data model folder is pointing to an older commit instead of the master branch of the data model repo?"
Hello,

I have a naive question, but when cloning the main [qwat/QWAT](https://github.com/qwat/QWAT) repo', the folder of the data model in that repository looks like this at the moment of writing:
![image](https://user-images.githubusercontent.com/61550003/132300247-f5bc06a5-3bab-46a7-bbb4-7c390d71b20b.png)
and points to an old commit which is not referenced as a branch: https://github.com/qwat/q

[2021-09-07 12:31] ponceta commented on #314
Hi,

We actually provide the latest datamodel version for users.

Latest released version is actually 1.3.5 (december 2020), 1.3.6 is coming soon.

Master branch can be broken when pushing new features, that's why we rely on tagged releases to provide the best experience.

The project folder should follow these published versions when possible.

`git submodule update --init --recursive` will updat

[2021-09-15 06:49] ponceta opened #316 "Labelling rules on qwat demo project seems to have typos"
`fk_distributor = 1and "status_active"= 'false'`

At least on the network following branch.

![image](https://user-images.githubusercontent.com/8614223/133384362-b17b8162-b190-45e1-ba6e-96b09ea1278f.png)

[2021-09-15 06:57] ponceta commented on #312
![image](https://user-images.githubusercontent.com/8614223/133385456-eb3ff269-d495-4f4f-8455-8f242055450c.png)

Rewrite qgis 2 'true' and 'false' to qgis 3 true and false syntax

[2022-02-22 07:36] tproduit commented on #126
One use case would be:

- The technical department is planning a project on a pipe.
- Detect which mains valves must be closed
- Detect which subscribers must be notified

[2022-02-22 08:15] bogdanvaduva commented on #126
Here is an example of valve to close (i did not included district_node table which contains source nodes)

-- FUNCTION: qwat_od.fn_valve_to_close(integer)

-- DROP FUNCTION IF EXISTS qwat_od.fn_valve_to_close(integer);

CREATE OR REPLACE FUNCTION qwat_od.fn_valve_to_close(
	var_nod integer)
    RETURNS TABLE(seq integer, valve_id integer, valve_geometry geometry, pipe_id integer, fk_node integer)

[2022-02-22 08:19] bogdanvaduva commented on #126
Regarding _Detect which subscribers must be notified_

There are some elements that you have to consider like starting node (you have an non oriented graph).You can consider NetworkX for that.  I do have a tool that does that  but uses JAVA so ...  I can only show a working example to who is interested.

[2022-02-23 14:17] varrieta opened #319 "pum upgrade: issue with pre/post_all.py"
I'm upgrading my qwat database using PUM from  version 1.3.4 to 1.3.6.

`pum -c pum_config.yaml upgrade -p pg_dev -t qwat_sys.info -d update\delta -v int SRID 2056`

All the deltas passed with no issues and my database is now at version 1.3.6 as expected.
But I have a problem with pre_all.py and post_all.py. I get theses errors messages:

For pre_all.py

Message from DropViews: psql service=pg_dev

[2022-02-23 14:24] varrieta opened #320 "PUM upgrade on windows"
When upgrading a database using PUM on windows, all `%` have to be replaced by `%%` in delta files (actually in 1.3.2.004 / 1.3.3.006 / 1.3.6)

[2022-06-15 08:52] tchangtiffany commented on #305
Hi  @ponceta ,

I have to try the qwat demo but have since days problems with the connexion between PostGis and Qgis for the database.
While creatins a new PostGIS connexion in QGIS I have this message: "definition of service "qwat" not found"
Do you know by any chance where I did wrong?

Thank you for your response.

Tiffany

[2022-06-15 09:23] ponceta opened #321 "Definition of service "qwat" not found"
Hi @tchangtiffany

For windows :

A pg_conf folder has to be created under :

C:\Users\MonNomUtilisateur\pg_conf

And a pg_service.conf file such as the one linked should be placed here.

[pg_service.txt](https://github.com/qwat/QWAT/files/8907830/pg_service.txt)

See https://qgep.github.io/docs/installation-guide/workstation.html#windows-pg-service for pertinent remarks about pg_service.conf file

[2022-06-15 09:23] ponceta commented on #321
Some documentation should be unified between QWAT and QGEP

[2022-07-08 09:20] varrieta commented on #319
Problem temporary solved by @olivierdalang. The script was adapted for windows.

It can't be used in production for now due to this issue [#354](https://github.com/qwat/qwat-data-model/pull/354)

[2022-07-08 09:21] varrieta commented on #320
linked to https://github.com/qwat/qwat-data-model/pull/354

[2022-07-08 09:21] #320 closed

[2022-09-09 05:55] #309 closed

[2022-09-09 06:01] #274 closed

[2022-09-09 06:04] ponceta commented on #312
Actual version is 3.22 LTR, project is updated every LTR

[2022-09-09 06:04] #312 closed