[2014-03-18 16:31] tudorbarascu opened #2 "Hello"
Hi and thank you for your really nice work,
I am trying to get the qWat plugin working without success.
Steps:
clone https://github.com/3nids/qWat
cd qWat
git submodule init
git update
make all
make deploy
Couldn't load plugin qwat due an error when calling its classFactory() method

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/qgis/utils.py", line 204, in startPlugi

[2014-11-12 10:51] arnaud-morvan opened #12 "5 index géométriques sur od_node.geometry"
Il y a 5 index géométriques sur od_node.geometry.

Je pense qu'il y a eu copié/collé pour la création des indexes géométriques,
et oubli du remplacement du nom de table.

Extrait des indexes de la table noeuds :

-- Index: distribution.annotationline_geoidx

-- DROP INDEX distribution.annotationline_geoidx;

CREATE INDEX annotationline_geoidx
  ON distribution.od_node
  USING gist
  (geometry);

-

[2014-11-25 05:57] #12 closed, assigned to nobody

[2014-12-13 18:18] #2 closed, assigned to nobody

[2015-01-31 08:18] tudorbarascu opened #15 "Changing the relation names from french to english"
Hi Denis,

Currently, the relations ID's in the project are named in French or in English.
It would be nice to change them all in English for consistency.
I can do it in the qgs project + UI QgsRelationEditorWidget object names.
1. Is this alright with you?
2. I would benefit from naming suggestions/corrections

![relations](https://cloud.githubusercontent.com/assets/3179646/5987435/6c1a4f22-a932-

[2015-02-02 06:35] #15 closed

[2015-03-04 12:36] tudorbarascu opened #17 "QGIS server problem regarding the qwat.qgs"
As in the qwat project we're using styling that is based on joined table column values, I wanted to ask you if you're using QGIS server for presenting your project as I encountered [this issue](http://hub.qgis.org/issues/12307) and if you know how to bypass this.
Thank you.

[2015-03-05 07:04] 3nids commented on #17
No, I'm not using the server to publish map.
You might want to get some feedback from Martin Dobias for this. I will ask him.

[2015-03-05 07:10] yjacolin commented on #17
Hello

I confirmed this wrong behaviour with QGIS Server 2.6 specially with the
"conduite" layer (sorry i dont know the english name).

QGIS 2.8 not tested.

Y.
Le 5 mars 2015 08:04, "Denis Rouzaud" <notifications@github.com> a écrit :

[2015-03-05 07:13] tudorbarascu commented on #17
Thanks a lot, I also just confirmed the issue with QGIS Server 2.4, ubuntu 12.04
Should I close down the issue as this doesn't touch your use case?
A great morning to you!

[2015-03-05 07:14] 3nids commented on #17
Let it open until I have feedback from Martin.
We will have a rough idea about the effort to solve this.

[2015-03-05 07:24] yjacolin commented on #17
Ping @xmenetrey ;)
Le 5 mars 2015 08:14, "Denis Rouzaud" <notifications@github.com> a écrit :

[2015-03-05 07:50] 3nids commented on #17
Martin's reply:

Hence, I cannot offer to solve this via Martin under the support contract I have with him. Sorry for that.

[2015-03-05 08:30] tudorbarascu commented on #17
The problem is certainly from 2.4 on (probably for all 2+ versions).
As I didn't had more than one joined layer until now it slipped through although we're using QGIS server for some time.
Thanks a lot anyway Denis,
All the best

[2015-03-05 15:14] yjacolin commented on #17
ping @xaviermenetrey

[2015-03-05 15:31] xaviermenetrey commented on #17
Hi,

We encountred the same issue with qgis server 2.6.

All layer's settings (styles, labels, and so on) based on joined attributes were broken.

I created some views and replaced the "broken" layers.

It solved the problem.

[2015-03-05 17:07] tudorbarascu commented on #17
Yes, views are a walk around but an expensive one when you have complex project and the layer needs to be editable (rules on views etc.). It seems Marco [has fixed the issue](https://github.com/qgis/QGIS/commit/b83b59dc77be55ea4424a0611edcd7f3e9a05c44)

[2015-03-05 17:07] #17 closed

[2015-03-07 17:01] tudorbarascu commented on #17
I just tested and indeed the issue is solved in master. Shouldn't it also be pushed to 2.8.2?

[2015-03-10 06:40] tudorbarascu opened #18 "new schema_force_visible column"
Good morning,
In the qgs project, the pipe styles still take into consideration the  old "_schema_visible" column which doesn't exist anymore. I can make a pull request if you hadn't already changed the project locally.

[2015-03-10 06:53] 3nids commented on #18
ok, I'm fixing it.

[2015-03-10 07:01] 3nids commented on #18
there are still some remaining _schema_visible but they are in the "styles" part of the project file. I can't access them through QGIS application. I don't know how to update them.

[2015-03-10 07:03] tudorbarascu commented on #18
I did a find and replace of "_schema_visible =" with "schema_force_visible =" on the qgs project. What do you think?

[2015-03-10 07:17] 3nids commented on #18
That's not correct.
_schema_visible has been simply removed. It is now calculated using `COALESCE( schema_force_visible, xxx_function.schema_visible )`

`schema_force_view` has been renamed to `schema_force_visible` for consistency.

The overall idea is that the fact that an item (pipe, valve) is visible or not at small scales depends on its function. However, it can be overwritten by  the `schema

[2015-03-10 07:23] tudorbarascu commented on #18
You're right.
For my project which differs a little the _schema_visible part still remains as I have joined tables with columns that are named "schema_visible" and the join puts by default ``_`` before the column name.

[2015-04-02 05:48] #18 closed

[2015-06-10 19:43] leshobster commented on #2
Hi, I've been trying to make this plugin work, but I've stumbled into the same error - ImportError: No module named mysettingsdialog. Are there any updates on this issue?

[2015-06-11 03:56] tudorbarascu commented on #2
Hi,
The plugin is obsolete.
You just need the database model and the qgs project.
See https://github.com/qwat/qWat/pull/20 for more details.

[2015-06-23 20:06] sebastian-r-schmidt opened #23 "git submodules update fails"
Hi, I Just tried to follow the install instructions and stumbled over the .gitmodules file. In my configuration, i could not do a git submodule update, it results in

"permission denied (public key).
fatal: Could not read from remote repository
Please make sure you have the correct access rights and the repository exists.
Clone of 'git@github.com:qwat/qwat-data-model.git' into submodule path 'data

[2015-06-23 21:01] tudorbarascu commented on #23
You're right. The url is better with the https option. The git@.. option is used when you're using ssh access (better for when you're using repositories a lot). As you probably didn't add your public key to github the command throwed that specific error.
Will change the README to take this into account.
All the best!

[2015-06-29 09:28] tudorbarascu commented on #23
This can be closed..

[2015-06-29 10:44] sebastian-r-schmidt commented on #23
Thanks for updating documentaion. Works for me - I'll close it.

[2015-06-29 10:44] #23 closed

[2015-07-02 04:37] tudorbarascu opened #24 "Demo project"
Hi,

I think that in the future we should have a demo project (English would be best but French would be ok for starters) with some created data so that others can better grasp the functionalities.

[2015-07-02 04:41] tudorbarascu opened #25 "git Labels: bug - enhancements"
I am already feeling the need to label the issues with at least the Bug and Enhancement labels.

[2015-07-02 05:31] 3nids commented on #25
yes, good idea! we can start.

[2015-07-02 05:31] #25 closed

[2015-07-03 14:35] tudorbarascu opened #26 "Create Documentation"
I think that we should start sooner or later with the documentation
Should it be done using Github pages or sphinx docs or maybe something else?
English version as base?
I have experience using sphinx/markup language so I can help here.

[2015-07-17 09:29] tudorbarascu opened #28 "Use diameter data driven properties to draw pipes"
Hi Denis,

As I've been using this feature for a long time, I am wondering if you guys also want it.
Sometimes, it's more helpfull to watch the rendered pipes and figure out which is larger than to look at the labels.

This is how it looks like for us. All the pipe lines are drawn with a minimum width.

![data_driven_pipe_properties](https://cloud.githubusercontent.com/assets/3179646/8744383/78619

[2015-07-17 09:33] 3nids commented on #28
yes, I am thinking of using this too.
I would use min and max width

[2015-07-17 12:52] tudorbarascu commented on #28
As I am using a minimum width for the case where pipe diameter is unknown and to have a minimum good rendered pipe line, to what case have the max width refers to?

I was just thinking that maybe it would be easier if we would add a line_width column to the materials table as the current rules are somewhat long. e.g.

CASE WHEN "pipe_material_a_code_sire" = 10 THEN toreal("pipe_material_a_diameter

[2015-07-17 12:58] 3nids commented on #28
I was just thinking to avoid lines getting too large, but I did not try.

An easier expression would be something like:

COALESCE("pipe_material_a_diameter_external","pipe_material_a_diameter",toreal("pipe_material_a_diameter_nominal")) / 900 + .2

Not sure it is worth adding in the data model.
It could also be a virtual column in QGIS.

[2015-07-17 13:08] tudorbarascu commented on #28
Yes, it is simpler with COALESCE, I can't recall why I choose differently then - lack of knowledge probably. Still, we need to account for the special cases where the diameter is unknown.
Would you go for a virtual column?

[2015-07-17 13:18] 3nids commented on #28
I would prefer to stick to expressions, as I did for rules, but I don't mind a virtual column!

[2015-07-20 05:57] tudorbarascu opened #30 "Valve symbology"
Hi,

As in nodes, there is also a need of drawing the valve with respect to the pipe orientation.

Also, I feel that we should use standard symbols for depicting valves (I think you're not using standard Swiss ones, do you?).
See https://www.edrawsoft.com/images/shapes/pfd-valves.png

Opinions?

[2015-07-20 12:50] tudorbarascu commented on #28
Solved by https://github.com/qwat/QWAT/pull/29

[2015-07-20 12:50] #28 closed

[2015-07-20 12:52] 3nids commented on #30
Hi,
The thig is that we don't have nodes under the valves as they're not supposed to be at one end of a pipe. Although, we could make a small function to calculate the orientation of the pipe under the valve and write this angle.

These are detailed icons. I think the standard one in Switzerland is a circle with a line crossing it.

[2015-07-20 13:00] tudorbarascu commented on #30
I know they're detailed. As I was looking at other GIS/Hydraulic water software and I noticed all of them got similar valves symbols as in the link above, I got the idea that having valve specific standard symbols somewhere in the future would enable easier migration for other users.

[2015-07-28 05:50] tudorbarascu opened #31 "Water meter labeling"
Hi,
What does RES stand for regarding the water meters labeling?

[2015-09-03 09:38] tudorbarascu opened #35 "Add part tool doesn't work anymore in 2.10 and master"
This blocks the normal workflow of adding polygon to installation buildings and handle to valves.

See https://hub.qgis.org/issues/12885

[2015-09-27 07:31] tudorbarascu opened #40 "Installation form doesn't open properly if object pre-exists"
When accessing the signals from type combobox the form looks as it should but for already completed value in that combo.. it doesn't:

![pic](https://cloud.githubusercontent.com/assets/3179646/10121727/f4f8977c-6502-11e5-95d9-41d8aef2aca9.png)

You can see from the image above that the pump specific details are missing.

[2015-09-27 08:49] tudorbarascu opened #41 "Installation form Acces tab not working"
Moreover, looking at the Access tab as it's currently linked to fk_locationtype; shouldn't it be named `Emplacement` or something that hints at where the object is located?

[2015-09-27 08:52] tudorbarascu commented on #41
Oh, I didn't realized at first, but it's not functioning due to a typo in the naming of the locationtype widget, `fk_location_type` should be `fk_locationtype`.

[2015-09-28 05:43] tudorbarascu opened #43 "Removal of the _installation_type_short column in favor of label expression"
Good morning,
Now that I thought about it more I think it would be better if the `_installation_type_short` column of the `vw_qwat_installation` table should not be in the view.
It's removal can be compensated by the labeling expression on the layer.
This would enable easier localization of the project.

Thoughts?

[2015-09-28 06:03] #41 closed

[2015-09-28 06:06] #40 closed

[2015-09-28 06:19] #43 closed

[2015-09-28 11:43] tudorbarascu opened #44 "Add water meter boolean to installation chamber"
I think that It would be a good enhancement to also add a water meter boolean to the chamber installation.
This would necessitate that the current `meter` be renamed to somethink like `flowmeter`.

[2015-09-28 11:53] tudorbarascu commented on #44
Will work on it and make a pull request. Please say if you think that I should do otherwise.
Thanks!

[2015-09-28 12:04] 3nids commented on #44
+1, good for me!

[2015-09-28 14:02] schoeller opened #45 "Syntax error in od_node.sql"
Dear all,

first of all thanks for your efforts in order to bring a solution like this to QGIS.

I am not a skilled developer, just a civil engineer trying to evaluate different possible solutions. I am running Windows 7 and Postgres 9.4.4 and Postgis 2.1.8. When executing the data-model installer from the git command line I receive the error

<code>
psql:ordinary_data/nodes/od_node.sql:58: FEHLER

[2015-09-28 14:19] 3nids commented on #45
Hi Sebastian,
Sorry for the troubles, I am doing a major upgrade in the data model, and (not a good thing) I am working on the master branch.
I will need about 2 more days to finish this work.
I'll let you know as soon as it is ready.
Sorry again.
Denis

[2015-09-28 15:20] tudorbarascu commented on #45
@schoeller Hi Sebastian, adding to what Denis just said, if you don't want to wait and test a working setup then just checkout the data model to a working commit like https://github.com/qwat/qwat-data-model/commit/4b6bd451c9a6ac15fae4c5a4613c9c77e026b0e9 by doing `git checkout 4b6bd451c9a6ac15fae4c5a4613c9c77e026b0e9`
It should match the current qWat repo as I have already tested it.
Please post h

[2015-09-29 09:33] schoeller commented on #45
@tudorbarascu Hi Tudor, I have done as told and now I receive the error

<code>
psql:ordinary_data/installation/vw_installation_views.sql:47: FEHLER:  Funktion
qwat_sys.fn_inherited_table_view(json) existiert nicht
LINE 1: SELECT qwat_sys.fn_inherited_table_view(
</code>

I figured that the function <italic>fn_inherited_table_view</italic> is defined in https://github.com/3nids/pg_inherited_table_

[2015-09-29 09:40] schoeller commented on #45
I just noticed that it is indeed called in the installation script

<code>psql -v ON_ERROR_STOP=1 -v SCHEMA=qwat_sys -f metaproject/postgresql/pg_inherited_table_view/pg_inherited_table_view.sql</code>

so I would expect the function to be defined under qwat_sys, but there is none. I will have to wait for Denis sign.

[2015-09-29 11:13] tudorbarascu commented on #45
It works just fine for me.
I have made a custom dump of a newly created database. You need to add a new distributor in the distributor table before starting to create any other water elements otherwise you won't be able to save them.

You can dowload the dump from https://www.dropbox.com/s/jg3ydipd7fy01n6/dumpqWat.backup?dl=1

[2015-09-29 13:05] schoeller commented on #45
@tudorbarascu Database restore worked out for me. Now the database connection itself is troublesome. I can access the database within Qgis without doubt. When opening the project file <em>qwat.qgs</em> though I get connection errors. I went forward and defined a system variable called
<code>PGSYSCONFDIR</code>
as defined on http://qgep.github.io/docs/installation-guide/system/workstation.html. I a

[2015-09-29 13:19] tudorbarascu commented on #45
@schoeller If you saved  the file in unix format like it's described in that documentation, it should be ok.
Opening up the project should not give any error if you have a correctly filled `pg_service.conf` and if the database security lets you.

You also need to restart the windows box to get the PGSYSCONFDIR variable working..

[2015-09-30 05:26] tudorbarascu commented on #31
@3nids Good morning!
I still haven't figured out what does the 'RES` part does from `identification || '#!#RES`..

[2015-10-01 14:08] tudorbarascu opened #47 "Enhancement to installation form regarding nodes"
I just noticed the fk_node doesn't have a corresponding widget in the installation buildings.
I think it would be good if we add one.
Moreover, as we're using another layer pointing to the same db table using the geometry_polygon, we're inclined towards a relation widget so that when creating polygons we can select the node.
This would save us a step by not creating first the feature on the instal

[2015-10-01 14:13] 3nids commented on #47
You're looking at the old model....
Now installations are network_elements which are nodes themselves.
No foreign key anymore, we use inheritance.

Also, there is no more an installation building table.

[2015-10-01 14:14] 3nids commented on #47
the QGS file is not ready yet, I'll have it by tomorrow evening hopefuly

[2015-10-01 14:22] tudorbarascu commented on #47
I meant to talk about the vw_qwat_installation view but as I was used to call it installation building... it came out that way.
Afte you created that view, you only made a layer based on the point column and I am thinking of another layer based on the geometry_polygon one.
Basically, I'm thinking about the workflow where the features are created using the layer based on the polygon geometry.

I'm

[2015-10-01 14:29] 3nids commented on #47
that was the intermediate model (pump inherits installation which is linked to node).
Now pump -> installation -> element -> node

[2015-10-01 14:30] tudorbarascu commented on #47
Cool as hell! :)

[2015-10-03 05:12] #47 closed

[2015-10-05 09:04] schoeller commented on #45
@3nids tried the new database model. Checked out freshly. When running install script it cannot find <code>pg_inherited_table_view.sql</code>. After checking that out from https://github.com/3nids/pg_inherited_table_view I still get the same error as initially. I hence fixed the schema name to <code>qwat_sys</code> and altered the installation script to read <code>psql -v ON_ERROR_STOP=1 -f metapr

[2015-10-05 14:11] schoeller commented on #45
just realized that <code>data-model</code> contains another submodule. So I ran <git submodule init && git submodule update</code> within the <code>data-model</code> subdirectory and then the install script passed without errors.

[2015-10-06 06:05] #45 closed

[2015-10-10 05:51] tudorbarascu opened #49 "Pipe comment about table should't be used for editing relevance"
Is this comment relevant?
[code]

[2015-10-10 06:01] tudorbarascu commented on #35
Closed as no longer relevant as geometry_polygon column now multipart --> Solved.

[2015-10-10 06:02] #44 closed

[2015-10-10 06:52] tudorbarascu opened #50 "Cannot add nodes"
[code]

[2015-10-10 07:09] tudorbarascu opened #51 "Cannot add hydrants"
[code]

[2015-10-10 09:17] 3nids commented on #51
are you editing hydrants using qwat_od.vw_element_hydrant or on the table directly?
I might have forgot to change this in the project.

[2015-10-10 09:17] #51 closed

[2015-10-10 09:36] tudorbarascu commented on #51
Using the `table="qwat_od"."vw_element_hydrant" (geometry)`
You didn't forgot!

[2015-10-10 10:42] tudorbarascu commented on #50
At first look, by using the old check constraints behavior on the node table fixes the problem.
Are you exhibiting the same problem?
Thoughts?

[2015-10-12 05:33] 3nids commented on #49
not anymore!

[2015-10-12 05:34] 3nids commented on #50
When does this occur?
You're not supposed to create nodes yourself (I won't issue a fine though ;) )

[2015-10-12 06:00] tudorbarascu commented on #50
It occurs when creating nodes.
I was thinking of creating nodes with different altitudes and draw a pipe between them and see the 3d length etc.

[2015-10-12 06:00] #50 closed

[2015-10-12 06:09] 3nids commented on #50
The way to go would be to create survey points.
Although the mechanism of transferring the altitude to the nodes is not determined yet.

[2015-10-12 06:18] #49 closed

[2015-10-20 05:31] tudorbarascu opened #60 "Opening the project removes all VIEW based layers for underlying tables without data"
If the project is opened without any demo data, the layers that have views as source don't open (appear as bad layers).
This is only in Master, QGIS 2.10 works just fine.

[2015-10-20 09:49] tudorbarascu commented on #60
the issue to follow is http://hub.qgis.org/issues/13638

[2015-10-20 10:48] schoeller opened #61 "qwat.qgs is claiming service='sige_commun' while opening"
Hi and thanks for the work,

after having installed the database according to the README I open up the <code>qwat.qgs</code> project file. As a testing user I expect a demo project to be loaded so that I may fiddle around. Instead I get a message from QGIS 2.10 saying that the database service <code>service='sige_commun'</code> should specified since it cannot be found within the standard database

[2015-10-20 11:10] tudorbarascu commented on #61
We are planning on having a demo data project in the near future, see https://github.com/qwat/QWAT/issues/24 and https://github.com/qwat/qwat-data-model/issues/69

For now, the sige_commun service points to data that's specific to SIGE (cadastral data, rasters etc.).
You should ignore that and simply start the project as it is.
The first thing you should do is add a value to distributors list  (e.

[2015-10-20 11:31] tudorbarascu commented on #61
Hopefully, we'll make a nice demo data, and we'll take into account that demo data link.
All the best Sebastian!

[2015-10-20 11:33] schoeller commented on #61
@tudorbarascu: After having cancelled unknown data sources I added to the layer <code>Tables auxiliaires / distributeur</code> a distributor. I now can edit other layers in order to test functionality.

[2015-10-20 12:34] schoeller commented on #24
@tudorbarascu @3nids : I took the liberty and contacted Rui Pina for the <code>qgis-epanet</code> sample which is a real life hydraulic modelling example, but by nature limited to information required for modelling. He's unsure whether the dataset available under https://github.com/vmora/qgis-epanet/tree/master/examples/aguas_de_coimbra is suitable for the job, but he's open for discussion whether

[2015-10-21 04:55] tudorbarascu commented on #60
the issue is fixed now

[2015-10-21 04:55] #60 closed

[2015-10-21 11:35] tudorbarascu commented on #35
Solved by Nyall

[2015-10-21 11:35] #35 closed

[2015-10-26 11:29] tudorbarascu opened #64 "Pipe status changing throws error"
Trying to change a pipe status from functional to `désaffecté` ends up in an error:

[code]

[2015-10-26 11:45] tudorbarascu commented on #64
I tested `update qwat_od.pipe set fk_status = 101 where id = 1` and it works.
Interesting, just noticed that changing the status combo-box results in reseting the value from the material combo-box! Don't have a clue why.

[2015-10-26 12:00] tudorbarascu commented on #64
There seem to be a bug in the relation reference widget.
A workaround would be to change the ui widget into a combo-box and configure in QGIS as `value relation` instead of `relation reference`

[2015-10-28 14:00] 3nids commented on #64
yes, I notice we have some troubles there. Will try to fix this.

[2015-10-29 06:06] 3nids commented on #31
I thik I used the #!# as a new line character.

[2015-10-29 06:06] 3nids commented on #31
RES is a short name for réseau (network)

[2015-10-29 06:19] tudorbarascu commented on #31
Thanks!

[2015-10-29 06:19] #31 closed

[2015-12-16 15:56] sylvainbeo opened #70 "An error in od_pipe.sql ?"
It seems to have an error in od_pipe.sql.

Those 2 lines should be inverted :
ALTER TABLE qwat_od.pipe ADD COLUMN year_rehabilitation smallint CHECK (year_end IS NULL OR year > 1800 AND year < 2100);
ALTER TABLE qwat_od.pipe ADD COLUMN year_end smallint CHECK (year_end IS NULL OR year > 1800 AND year < 2100);

[2015-12-16 16:55] tudorbarascu commented on #70
Hi @sylvainbeo
I think you're looking at older variant.
Those lines are not the same as  you presented in the [current od_pipe.sql](https://github.com/qwat/qwat-data-model/blob/master/ordinary_data/pipe/od_pipe.sql)
If not, then please give extra details on what's wrong.
Thanks.

[2015-12-16 18:19] sylvainbeo commented on #70
Yes. Nevermind. The data-model branch was not up to date. Sorry.

[2015-12-16 18:19] #70 closed

[2015-12-21 10:36] ldgeo commented on #26
Hello,
i think that sphinx is a good choice combined with readthedoc for automation.
i don't have access to the repo settings, @3nids could you activate the ReadTheDoc service in settings ? I will next create a account on readthedoc, configure it and add the initial structure of documentation.

[2015-12-21 11:21] ldgeo opened #71 "fme scripts"
Hello,
is anyone still using the fme scripts in the sources (tools/fme/) ?

[2015-12-23 07:53] 3nids commented on #26
Hi @ldgeo just done it.

[2015-12-23 07:57] 3nids commented on #71
They were use for migration. I don't care removing them, but they might source of inspiration for someone movng from topobase 2. What do you think?

[2015-12-23 10:17] ldgeo commented on #26
thanks, bootstrapped in 2de821fd912885fabc8e0b231d5c44453cdd30ed.
Needs come contents now :pencil2:

[2015-12-24 08:28] tudorbarascu commented on #71
Hi guys, what do you think about moving the scripts to another repo:  ``qwat/topobase_migration``

[2015-12-24 08:31] tudorbarascu commented on #26
@ldgeo Hi and thanks for joining.
I think that we should have a separate docs repo so that we separate things from the start.
What do you guys think?

[2016-01-05 08:53] ldgeo commented on #71
Hi, good idea to move it to another repo, @3nids is it ok for you ?

[2016-01-06 07:22] 3nids commented on #71
good to me, will do it.

[2016-01-06 10:56] ldgeo commented on #26
if the doc targets the data-model too, yes it's a good thing since data-model is in its own repo.
Having a documentation that covers all qwat's stuff is neat.
In the same lines, moving the qwat-dictionnary in a seperate repo will be a good thing, it will be easier to publish it in the official qgis plugin repository.

[2016-01-08 10:02] tudorbarascu opened #73 "node altitude at intersection"
Hi Denis,

What's your current work-flow of assigning altitude to simple nodes?
I know we talked about survey points in relation with the nodes but to my knowledge a final solution wasn't decided.

All the best,
Tudor

[2016-01-15 12:49] vpicavet commented on #24
Sample data should be provided by Lausanne or Pully soon.

[2016-01-15 12:51] vpicavet opened #74 "Z coordinate management ( altimetry)"
The altitude ( z coordinate) is stored inside QgsGeometry objects. We can access it via an expression ```z($geometry)```

The z coordinates of vertices should now be displayed and editable in the node tool dock. It does not seem to work with the PostGIS driver.

[2016-01-15 12:52] vpicavet opened #75 "Auto-add vertex when adding new object"
We want to automatically add a vertex when adding an object (valve…) on a pipe.
This should be implemented as a trigger in the data model.

[2016-01-15 12:53] vpicavet opened #76 "SIRE format export"
A set of export script should be available for SIRE format

[2016-01-15 12:53] vpicavet opened #77 "Log management improvement"
The current way of logging information and storing history for the data can be improved

[2016-01-15 12:55] vpicavet opened #78 "QGIS Node editing tool as freehand tool ( aka "click-click")"

[2016-01-15 12:55] 3nids commented on #76
The idea is to have view in a dedicated schema.
Then to use a plugin within QGIS to determine what window should be extracted and maybe select objects. Then we would ogr2ogr directly to write to shapes.

Note: we can use subprocess.call( 'ogr2ogr params' ) within qgis, and it calls the one installed along qgis (for windows).

[2016-01-15 12:59] 3nids commented on #77
From last discussions with Vincent, the idea would be to keep current mechanism (log every action in a dedicated table).
There has been some improvements on QGIS side to write fields and geometry updates at once for PostgreSQL (https://github.com/qgis/QGIS/commit/ad1fd2a922777ad048f2726341e9c09bc39128b9)
First need is to move the trigger from the low-level tables to the generated view (used for jo

[2016-01-15 13:00] 3nids commented on #78
See last discussion (with references to other discussions): https://lists.osgeo.org/pipermail/qgis-developer/2016-January/040962.html

[2016-01-15 14:06] vpicavet commented on #78
See upstream ticket : https://hub.qgis.org/issues/14112

[2016-01-19 15:21] vpicavet commented on #75
See qwat/qwat-data-model#88

[2016-01-19 15:46] mhugo commented on #74
I've just tested in the last master, and there is "Vertex editor" dock widget that allows to edit thz Z coordinate of a node.
Successfully tested on two postgis tables with 3D points and 3D linestrings

[2016-01-19 15:57] vpicavet opened #79 "Continuing a pipe will fail with PostGIS backend"
If we want to continue a pipe, declared as multi-geometry, the "merge entities" feature does not work when the backend is a PostGIS layer.

[2016-01-19 16:00] vpicavet opened #80 "Finalize a workflow for GPS data import"
We want to be able to import GPS data. As for now, the workflow for this feature is not clear.
A first step is therefore to refine the data import workflow, with inputs, potentially data processing, and results.  Guidelines for a GUI would be nice to have too.

Then we will be able to either implement a specific plugin, or describe the steps to achieve the workflow given existing qgis tools.

[2016-01-19 16:08] vpicavet opened #81 "Documentation of custom rules"
We should have a proper documentation for all rules which are defined in the data model.

See qwat/qwat-data-model#89

[2016-01-19 16:10] vpicavet opened #82 "End-user documentation « en Français »"
As our first users will be Francophones, we need a documentation in French.

As for documentation format, ReST/Sphinx/Readthedoc is proposed.

[2016-01-19 16:10] 3nids commented on #74
main problem is when creating new features, not editing.
If you have create geometry column using postgis 2 (ALTER TABLE...ADD COLUMN) and not v 1 (AddGeometryColumn), you can't commit the feature.

[2016-01-19 16:12] vpicavet opened #83 "Nice documentation on why and how to use "alternate geometries""
This specific field in the data model is not easy to grasp. It is considered as "geoschematic". We need a simple yet exhaustive documentation on this, so as to be able to use it correctly.

The documentation should be written in French first.

[2016-01-19 16:14] vpicavet opened #84 "GPS data import plugin"
When #80 has been done, we can start the development of the tool to import terrain GPS data.
This would probably be a specific plugin to import points with coordinates and some attributes.

According to the specifications, this can be generic and not specific to qWAT.

[2016-01-19 16:16] vpicavet opened #85 "Fix QGIS bug on linked widgets for materials"
@3nids found a bug which needs to be solved, regarding the linked widget, appearing when using the GUI for materials.

@m-kuhn should be able to fix it then

[2016-01-19 16:18] vpicavet opened #86 "Mass-editing of attributes"
We want to be able to modify attributes for multiple objects, in a single operation.

There is a core QEP open, with specifications from @andreasneumann

[2016-01-19 16:21] vpicavet opened #87 "Coherency control on qwat forms / user feedback"
As for now, generic forms have been created for the qWAT project. Some more modifications are needed to adapt them for specific needs, especially coherency control.

A generic QGIS approach allowing users to add rules for form fields would be the best approach.
The user should be clearly warned when the values chosen are not fulfilling the constraints.

[2016-01-19 16:26] vpicavet opened #88 "Multi-attributes filtering with GUI"
We would like to be able to search for features with multi-attributes filters. As for now the GUI available is not really straightforward to use ( attribute table).

The idea would be to use the mass-attribute features ( #86 ) and implement a GUI on top of this to allow for data filtering given multiple attributes. It would reuse the widgets dedicated to each field for a better integration with th

[2016-01-19 16:31] vpicavet opened #89 "Constraint drawing when adding vertices to a line"
We would like to be able to continue a line with new vertices, while constraining it to be aligned with the extremity of the existing path.

This will need  #78 to be implemented first.

@wonder-sk is a good candidate for implementing this :-)

[2016-01-19 16:32] vpicavet opened #90 "Write a tutorial"
To complement the user guide, a tutorial would be interesting, with a pragmatic approach on how to get started with qWAT, and showing the most current task.

This could take the form of a video.

[2016-01-19 16:34] vpicavet opened #91 "Handle inside / outside coating materials"
At some point we would like to handle inside / outside coating materials. This would need some additional tables to the qwat/qwat-data-model and some configuration to setup the forms.

[2016-01-19 16:36] vpicavet opened #92 "Default sets of values for attributes"
When editing objects, we often reuse recurring sets of values. It would be great to be able to save them somewhere as default values sets, so as not to have to re-enter these values each time.

[2016-01-19 16:43] vpicavet commented on #26
See #82 and #81 too.
@ldgeo Is your doc boostrap ready for i18n ? if not can you patch it for that ?

[2016-01-19 16:45] vpicavet commented on #71
I created the repo : qwat/topobase-migrator

[2016-01-19 16:52] mhugo commented on #74
Indeed, reproduced. I am on it

[2016-01-19 17:25] ldgeo commented on #26
@vpicavet not yet, i don't think readthedoc has support for internalization.
But i can already add sphinx-intl which add i18n support to sphinx.
So the default writing language will be French or English?

[2016-01-19 20:38] m-kuhn commented on #85
@vpicavet target 2.14? What exactly?

[2016-01-20 08:11] 3nids commented on #71
ok, done!

[2016-01-20 08:11] #71 closed

[2016-01-20 08:22] 3nids commented on #85
There is a bug in the chained relation reference widget.
I still have to isolate the problem.
Will let you know, but fixing shouldn't be too long hopefully.

[2016-01-20 20:55] mhugo commented on #74
PR https://github.com/qgis/QGIS/pull/2703

[2016-01-21 09:23] mhugo commented on #79
@3nids Could you be more specific ? What is the geometry type of the layer where the merge is executed ?
I guess it's multilinestringZ right ?

[2016-01-21 09:26] 3nids commented on #79
I am not sure what we speak about.
I am not at the origin of the issue.
Not sure, but wasn't it related to a plugin allowing prolongation of linestrings?
Although, we don't have multi line strings in QWAT...
a bit lost here!

[2016-01-21 09:30] mhugo commented on #79
Ok. My original understanding was : there is a project with linestrings (no multi) and the user wants to use the "merge selected features" operation from QGIS in order to allow "prolongation". But this "merge" operation is a geometric union and could potentially result in a multi geometry and thus cannot be commited.

So what is the need : to allow the prolongation, thanks to a plugin or a core op

[2016-01-21 09:34] 3nids commented on #79
I think the two issues exist.

For line prolongation, I think the decision was to wait CAD integration, and having this feature integrated in the node tool maybe.

For merging feature, I never tried, but indeed if it results in a multi geom, it should be fixed.

[2016-01-22 12:57] 3nids commented on #78
any news from Martin on this?

[2016-01-22 13:14] vpicavet commented on #78
Yes, he agreed and will start QEP/implementation probably next week

[2016-01-22 13:14] 3nids commented on #78
cool, thanks for the feedback.

[2016-01-24 08:56] tudorbarascu commented on #82
It would be nice if the documentation work-flow would encompass Transifex for translation in other languages

[2016-01-25 08:49] mhugo commented on #79
Ok, thanks for the clarification

I've just retested. It works fine with 2D linestrings, but not with geometries with a Z value ...

[2016-01-25 09:02] 3nids commented on #79
How come? Will your PR improve this situation?

[2016-01-25 09:09] mhugo commented on #79
I am working on the merge of linestringZ issue and will propose a PR for that.

[2016-01-25 11:22] mhugo commented on #79
https://github.com/qgis/QGIS/pull/2719

[2016-01-27 17:15] vpicavet commented on #75
Closing as  qwat/qwat-data-model#88 is now closed

[2016-01-27 17:15] #75 closed

[2016-01-27 17:16] #79 closed

[2016-01-29 09:00] 3nids commented on #78
discussion with Martin went well, here is the paste: http://pastebin.com/1Mj1DGFM

node tool will have both behavior (drag/drop and click/click)
a QEP will be issued by Martin
should land in 2.16

[2016-02-09 10:19] mhugo commented on #74
Merged in master. To be tested

[2016-02-10 07:58] 3nids commented on #86
project is sponsored by Basel Stadt and will land in 2.16.
@nyalldawson is the deveoper.
will see if we can combine directly with #88

[2016-02-10 08:51] 3nids commented on #86
I asked nyall for an offer

[2016-02-10 09:25] andreasneumann commented on #86
Hi Denis,

We (the Kanton Zug) also have interest in this functionality (search in
multiple fields directly from the form view).

I would like to be informed about the specification.

Would the result of the search be a filtered set or selection or let the
user decide if he wants to filter or select?

Andreas

On 2016-02-10 09:51, Denis Rouzaud wrote:

Links:
------
[1] https://github.com/qwat/QWA

[2016-02-10 09:33] 3nids commented on #86
My first thought is that we have a check box in front of each widget allow to use it or not in the search. It would be an "AND" filter.
Then, you would have "set as selection" and "add (/remove) to (/from) selection" buttons.
Add to selection would be the way of creating "OR" filters.

But I have no strong opinion on this. Let's keep in touch with Nyall to define this.

[2016-02-10 09:44] andreasneumann commented on #86
Will you do a specification document where we all can review/comment? E.g. on Google docs or on Github Wiki?

[2016-02-10 09:48] 3nids commented on #86
I am waiting on Nyall's opinion and start something then.
I just created it, so if you want to write anything down, you can start straight ahead.
https://docs.google.com/document/d/1OBis2-WM95PJEKJ-V9VA4NDx_kyHFWAsoLfl2s-MApw

[2016-02-10 10:13] 3nids opened #93 "Document altitudes handling in data model"
Now, that QGIS is ready to deal with 3D and that the data model was updated to 3D geometry, the question regarding workflows arises.

There is basically 3 places where altitudes are stored: nodes (valves, hydrants, installations, etc.), pipes and survey points.

In point tables (nodes and survey points), we have the information on the precision and we might provide further information such as the

[2016-02-10 10:17] 3nids commented on #93
@tudorbarascu thoughts?

[2016-02-10 11:12] tudorbarascu commented on #93
In my opinion, the point tables and the geometry should be tightly coupled so that:

- changing a pipe geometry should propagate to the point/nodes tables of that pipe
- viceversa, changing a node/point altitude -> 3d geometry is changed
- when drawing a new vertex, the corresponding point altitude should automatically be calculated using interpolation (actually, if it's interpolated, we shouldn't

[2016-02-10 11:27] tudorbarascu commented on #93
``One open question, is what to do when a node is inserted without any altitude on a pipe which has altitude information at both ends``

IMHO it should create an interpolated vertex with altitude stored only in the geometry.
Another point shouldn't be created anywhere else as by default, any vertex that's not in the nodes/survey points table should be considered interpolated by convention.

Moreov

[2016-02-12 06:15] tudorbarascu commented on #73
Talk moved in #93

[2016-02-12 06:15] #73 closed

[2016-02-12 07:07] ponceta opened #94 "Extract data from qwat"
We're facing difficullties to make standard exports from qwat to the outside world.

Theses problems appear at least on shp and dxf exports.

E.g. on the pipe layer:

Erreur : Erreurs d'écriture d'entité :
Entité géométrique non importée (Erreur OGR : Field geometry_1 of width 255 truncated to 254.)
Entité géométrique non importée (Erreur OGR : Field geometry_1 of width 255 truncated to 254.)
Enti

[2016-02-12 09:20] 3nids commented on #94
That's because you're trying to export the alternative geometry columns to the desired output. Either you ogr2ogr for shapes or QGIS' custom DXF export, and in both cases select only appropriate columns

[2016-02-12 09:20] #94 closed

[2016-02-12 09:22] ponceta commented on #94
Ok, ty!

[2016-02-12 10:52] 3nids commented on #93
@tudorbarascu Thanks a lot for the feedback

I believe we agree on the main lines. Indeed things are coupled. I would just make sure we don't lose any information on altitude on nodes. To ensure that, I think that we need a survey point or a node at each location where we have an altitude, then all the rest can be interpolated from that. Hence, Z values in pipes are volatile.

For nodes, the idea

[2016-02-12 11:34] tudorbarascu commented on #93
@3nids  Indeed, a survey point/node should be required at each location where we have altitude (that's not interpolated).
``Your idea that nodes associated to a pipe shall move accordingly is really interesting. I just wonder if it should be done on the server side (data model) or client side (QGIS map tool).``

This question has bugged me a lot, and I think in the future we will need both as:
- h

[2016-02-12 15:05] alexandrebosshard commented on #93
Hi Tudor and Denis,

The opinion of Pully team is:

- The survey points are the basis of the mesure (control points)
- After that, we can associate the mesure to a node
- And after that, the z of the pipe can be interpolated based on the node or survey points

If an element moves, we mesure it on the terrain, and we have a new control point.

[2016-02-12 15:24] rogermaurer commented on #93
@3nids @tudorbarascu @alexandrebosshard

OK for:
- Z coordinate introduced manualy or recovered from mesurement on geometrie of nodes and survey point
- Attributs on nodes and survey points for precision_planimetric, precision_altimetric and measure_origin
- Z coordiante on geometrie of pipes recovered from nodes and survey points

But:
- Definition of a default altitude (for example: 0) must be a

[2016-02-12 17:53] vpicavet opened #95 "Implement inside / outside coating material"
Once the feature specs are ok ( see #91 ), this is the implementation step.

[2016-02-12 17:54] vpicavet commented on #91
First step is to design what we want to handle. Then issue #95 is for implementation.

[2016-02-12 18:02] vpicavet opened #96 "Store model version on deployment"
We need to know the data model version

See qwat/qwat-data-model#91

[2016-02-12 18:07] vpicavet opened #97 "Document model updates"
We have a model update process, for developers as well as end-users.
This should be fully documented

[2016-02-12 18:09] vpicavet opened #98 "Add a test environment for model updates"
We should build a test environment, which verifies that model deltas applications are equivalent to current model version.

This depends on #97

Still missing

* [x] fix issue in https://github.com/qwat/qwat-data-model/pull/121
* [ ] run deltas on demo data: so demo data is ported to new version and deltas are tested on a real (not empty) DB.
* [x] delta should implement system version update (har

[2016-02-12 18:12] vpicavet opened #99 "Analyze model triggers wrt inheritance"
We should make sure that :
* atomicity is preserved
* no race conditions are allowed
* no deadlock can happen

[2016-02-12 18:13] vpicavet opened #100 "Document workflow for new features & model changes"
We should document the developer's process ( on github's wiki).
This would be the developer's guide

[2016-02-12 18:14] vpicavet opened #101 "Document custom fields and tables"
As part as the developer's guide, we should document how to add new custom fields and tables, with conventions used.

[2016-02-12 18:20] vpicavet opened #102 "Longitudinal profile"
Add a feature for longitudinal profile of pipes.
See if the parts of the QGEP implementation could be reused for qwat

[2016-02-12 18:22] vpicavet opened #103 "Altitude interpolation"
Once the workflow of altitude management has been settled down (see  #93 ), we should add altitude interpolation. This will probably be implemented directly in the data model.

[2016-02-15 07:44] 3nids commented on #93
@rogermaurer you have no choice but to define a default altitude since PostGIS does not handle NULL values in Z.

Otherwise, I believe we agree on the general workflow.

[2016-02-15 11:19] tudorbarascu commented on #93
@alexandrebosshard Hello and nice to have your team here.
We have a general consensus then and I would like to add to your second point that survey measures should also be linked to a vertex. And by that I mean that a measure it's not necessarily a node.
How does that sound to your team?

@rogermaurer Hello and welcome also.
Please also take a look and maybe your opinion on http://github.com/qwat/

[2016-02-16 09:45] tudorbarascu commented on #61
@schoeller I think you can close this down if you don't have any issues anymore.

[2016-02-16 10:10] #61 closed

[2016-02-16 16:38] dsavary commented on #93
Hi,
The opinion of Lausanne team :

We agree the proposal of Denis
_“Hence, my proposition is that 3D in pipes shall not be considered as the place to store the altitude values but instead a process will generate automatically the 3D values based on the points tables “_

When we move the element of the network (valve, part, hydrant …), it is necessary that the pipe geometry keep the topological li

[2016-02-19 14:21] tudorbarascu opened #104 "Coordinates are displayed wrong in the latest master"
@3nids I just noticed this morning the coordinate numbers were wrong for my localized QWAT project.

I also looked at the default project (21781 SRID) and it also gives wrong coordinates: ``6.8541,46.3837``.
As I just tested under Windows also, this seems an upstream issue.
However, I cannot replicate the issue if I open a new project and add layers.

Did you notice this?
![problem](https://cloud.

[2016-02-19 16:46] vpicavet commented on #74
Closing, Reopen if commited code has problems

[2016-02-19 16:46] #74 closed

[2016-02-19 17:11] 3nids commented on #104
I think you just need to disable OTF.
I'll do it asap (monday) on project and push.
In the mean time, can you check if it works for you?

[2016-02-20 07:41] tudorbarascu commented on #104
This issue is with OTF disabled (In project properties and in options settings), I also tested upon restarting QGIS just to be sure.
Moreover, all my layers are in the same projection as the project, so even with OTF enabled, it shouldn't have been the case for any reprojection.

[2016-02-20 07:49] tudorbarascu commented on #104
It seems the issue was already signaled here: https://hub.qgis.org/issues/14319
Maybe there are some leftovers in the .qgs XML or the issue was not fixed in the https://github.com/qgis/QGIS/commit/800b521231b3655513c311a9578da0390dff2962 commit.

[2016-02-22 14:01] vpicavet commented on #96
Merged in data model

[2016-02-22 14:01] #96 closed

[2016-02-24 06:48] #104 closed

[2016-02-26 10:58] tudorbarascu opened #107 "Future enhancement: establish a structure to store meter consumption data"
In the future, we would need a standardized way of storing the water meters consumption data.
This would help to detect water losses in certain networks but also for hydraulic modeling.

The water network should be split into into several consumption zones.
Each consumption zone should be measurable so that we know what amount of water enters and what amount leaves that zone.
If we also have consu

[2016-02-26 12:08] tudorbarascu commented on #82
I can help in translation to English if the documentation base will be in French but I think the project would gain better traction if the base would be in English and the French added immediately through Transifex.
I am offering to support this workflow by:
- writing documentation in English
- help French documentation writers that don't know English and transform their French documentation to En

[2016-02-26 12:10] tudorbarascu commented on #76
out of curiosity, what does the SIRE format serves and why isn't it in Spatialite.

[2016-03-01 12:27] ponceta opened #108 "label_2_visible set to false by default instead of NULL"
Creating a new valve item generates a "false" value under the column label_2_visible which makes the saves impossible since integer is expected.

Does not appends when creating from the imported view (not the one set by default on the project).

Trying to fix it through ui forms/valve.ui via qt or .qgs project but did not manage to find a simple workaround yet.

Any hints are welcome!

[2016-03-01 12:39] ponceta commented on #108
Does not come from the ui form.

[2016-03-01 13:15] ponceta commented on #108
Found it :

Need to replace the wrong edittype for label_2_visible under the .qgs project under vw_element_valve into something like that

<edittype widgetv2type="ValueRelation" name="label_2_visible">
  <widgetv2config OrderByValue="0" AllowNull="0" FilterExpression="" UseCompleter="0" fieldEditable="1" Key="vl_code_int" Layer="vl_visible20130304110011703" Value="value_fr" labelOnTop="0" AllowMul

[2016-03-02 05:51] tudorbarascu commented on #108
Hi, I cannot reproduce on master, so either the issue was present at one point in time or you modified the project somehow. Thus, a link to your zipped project + empty db model  (or optionally the latest commit in your data model) would shed some light.

[2016-03-02 06:58] ponceta commented on #108
Solved : value was not set as relationnal

![image](https://cloud.githubusercontent.com/assets/8614223/13452906/7c44e43c-e04c-11e5-988d-0f994a5a62e4.png)

[2016-03-02 06:58] #108 closed

[2016-03-14 13:21] ponceta commented on #84
According to this Feature, here's a nice base tool that @xaviermenetrey implemented for Pully a few months ago, it has been updated recently by me and is currently adapted to support 3D.

This plugin could go generic and could be a great tool for any import.

https://github.com/VilleDePully/EasyImport

[2016-03-14 14:04] ponceta opened #111 "Saved hydrants, valves, ... are not snapable with CadTools"
I've not send an issue to https://github.com/geopython/CadTools yet because I wanted to have your feedbacks on this issue:

When editing hydrants, valves or installation parts, snapping tool from cadtool is very useful.

![image](https://cloud.githubusercontent.com/assets/8614223/13746809/6c8611e4-e9f5-11e5-9b0e-0243dbd37e35.png)

But once the feature has been saved. The snapping tool is disabled

[2016-03-14 14:45] 3nids commented on #111
no idea, I don't any trouble with Advanced Digitizing tools.
it's a bit weird to me.

[2016-03-14 15:40] ponceta commented on #111
This is really a CadTool related issue. I tried with cadtools deactivated and it worked.
I'll try to go deeper since cadtools offers some appreciated geometrical operations.
mentionned in https://github.com/geopython/CadTools/issues/21

[2016-03-20 15:11] vpicavet commented on #103
See here too for elevation management documentation : 
https://github.com/qwat/QWAT/wiki/Elevation-in-qWAT

[2016-03-20 15:12] vpicavet commented on #93
Full summary / documentation here, to be reviewd : 
https://github.com/qwat/QWAT/wiki/Elevation-in-qWAT

[2016-03-20 15:24] vpicavet commented on #24
See https://github.com/qwat/qwat-data-sample

[2016-03-20 15:24] #24 closed

[2016-03-20 15:28] vpicavet commented on #76
@tudorbarascu some info here ( FR, you can google translate it) : 
http://www.vd.ch/themes/environnement/eaux/eau-potable/systeme-dinformation-des-reseaux-deau-sire/

[2016-03-20 15:31] vpicavet commented on #78
WIP, a prototype as Python plugin is almost done by Martin. Next will be a QEP and c++ port if relevant.

[2016-03-20 15:33] tudorbarascu commented on #76
@vpicavet Thanks for the info!
I won't be needing translation since I can read/speak French.

[2016-03-20 15:40] vpicavet commented on #86
See : https://github.com/qgis/QGIS-Enhancement-Proposals/issues/55

[2016-03-20 15:48] vpicavet commented on #97
See : https://github.com/qwat/QWAT/wiki/Developers_guide

[2016-03-20 15:48] #97 closed

[2016-03-20 15:51] vpicavet commented on #100
See here : https://github.com/qwat/QWAT/wiki/Developers_guide and https://github.com/qwat/QWAT/wiki/Contributors_guide

[2016-03-20 15:51] #100 closed

[2016-03-20 15:54] vpicavet opened #112 "Implementing Z interpolation in model"
Following documented handling of elevation in #93 we now need implementation in the model

[2016-03-20 15:57] vpicavet opened #113 "Tool to compute interpolated elevation for network elements"
We need a tool allowing the user to click on a network element and compute an interpolated elevation value given surrounding Z measurements ( on nodes and survey points).

This would be a maptool with some parameters ( to be refined, add your comments below ) :
- tolerance distance for survey points
- and/or number of survey points to take into account

[2016-03-20 15:58] vpicavet opened #114 "Tool to compute elevation for a set of objects given a set of measurements"
An advanced tool compared to #113 would allow the user to :
- select a set of object to compute elevation for
- pick some survey points or nodes as elevation references to interpolate from

[2016-03-20 16:00] vpicavet opened #115 "Tool to create node or survey points with elevation"
A complementary tool on top of #113 and #114 would allow the user to : 
- create a node or a survey point at a specific location
- set the elevation value at this point : manually, nearest vertex value, interpolated value from nearest object

[2016-03-20 16:02] vpicavet commented on #93
Linked issues :
* implementation in model : #112
* end-user tools in #113 #114 and #115

[2016-03-20 16:02] #93 closed

[2016-03-20 16:37] vpicavet commented on #111
If this is CadTool related, closing for now here. Reopen if you find some qWAT-specific problematic behaviour.

[2016-03-20 16:37] #111 closed

[2016-03-20 16:45] vpicavet commented on #101
Documented here : https://github.com/qwat/QWAT/wiki/Developers_guide

[2016-03-20 16:45] #101 closed

[2016-03-20 16:47] vpicavet commented on #103
Closing, duplicate with #112

[2016-03-20 16:47] #103 closed

[2016-03-20 16:48] vpicavet commented on #99
Conclusions to be explained further, but summarized :
* Very difficult to do a full theoritical analyze
* We need to stress-test the model
* This needs scenarios and replay capabilities

[2016-03-20 16:48] #99 closed

[2016-03-20 16:52] vpicavet opened #116 "Add SQL methods to revert changes ( undo history feature)"
Following discussion on log ( #77 ), next step would be to add methods to revert some changes in SQL.

See the issue on data model for a list of actions to take into account : qwat/qwat-data-model#112

[2016-03-20 16:57] vpicavet opened #117 "GUI for history of changes and revert actions"
Following discussion on logs ( #77 ), it would be nice to have a clean GUI to access history and be able to revert changes.

This requires #116 to be implemented first.

[2016-03-20 16:58] vpicavet commented on #77
Specific issues for further steps have been created.
Last item before closing this is moving triggers to generated views.
@sylvainbeo will take this action in the next days.

[2016-03-20 18:32] vpicavet commented on #80
From various user inputs, a spec document has been written ( offline french only).

Summary of the main points for this document :

* field survey with GPS come from GPS/GNSS or tacheometer, stored in CSV files, SHP or ASCII files
* the *survey_point* table is used to load this raw data ( some specific *usr_* fields could be added to it if needed)
* a mapping scheme enables to transform this data

[2016-03-20 18:32] #80 closed

[2016-03-20 19:05] vpicavet opened #118 "Unit tests for data model"
We need more tests for the data model, in order to validate behaviours

This issue concerns first level tests ( low-level, unit operations)

[2016-03-20 19:07] vpicavet opened #119 "End-user scenarios for automated testing"
We need to define end user scenarios for 2nd level testing.

This would be a set of actions done by a user when using qWAT.
These actions will then be written as SQL commands and tested against the result.

[2016-03-20 19:08] vpicavet opened #120 "End-user scenarios testing implementation"
This issue concerns the implementation of #119

[2016-03-20 19:09] vpicavet commented on #119
This can be an opportunity to write the end-user documentation at the same time

[2016-03-20 19:13] vpicavet opened #121 "Write QEP and port "click-click" editing to C++"
Following #78 when we have a working Python implementation, write a QEP and port it to QGIS core

[2016-03-20 19:19] vpicavet opened #122 "Specify which CAD features are needed for qWAT"
This is a end-user specification issue.

We need to know what kind of CAD tools are needed for qWAT.
Then we will need to compare to existing CAD QGIS features & plugins
A global discussion with the community will also be required
Then we will be able to draw a global plan for CAD tools improvement in QGIS satisfying qWAT needs.

Add your needs in comment here

linked issues:

- [x]  - https://git

[2016-03-20 19:21] vpicavet opened #123 "Windows installer"
Most newcomers use windows. qWAT should therefore be easy to install on Windows, and installation documentation should be written for this OS.

There are currently some hard points when installing on Windows ( e.g. shell scripts).
First step is to list them here, and then implement an installation process

[2016-03-20 19:23] vpicavet opened #124 "qgis-epanet integration"
We would like to be able to run simulations on a qWAT data model with Epanet, using the qgis-epanet Processing plugin.

This needs some integration effort, mainly creating views on the model for qgis-epanet to find the right data format.

[2016-03-20 19:24] vpicavet opened #125 "Multi-object edition tool"
A tool allowing to edit geometries for multiple objects would be interesting.
E.g. edit a node and geometrically move the attached pipes.

[2016-03-20 19:25] vpicavet opened #126 "Network analysis capabilities"
It would be interesting to be able to run some analytics on the water network.
This would be a set of PostGIS queries computing statistics or specific indicators for the network.

A GUI could be designed on top of these queries allowing the user to set parameters, pick objects and more.

[2016-03-20 19:27] vpicavet opened #127 "CAD DWG/DXF import and editing"
Importing plans from Autocad format is important.
Importing and directly using DWG/DXF files is a plus for qWAT.

This is already a work in progress funded by Andreas Neumann and implemented by Jurgen Fischer

[2016-03-20 19:29] vpicavet opened #128 "Rationalize georeferencer for vector & raster"
qWAT would benefit from a common georeferencer tool in QGIS core for raster and vector alike.

Andreas Neumann has begun writing specs and is willing to mutualize efforts on this topic.

[2016-03-20 19:43] 3nids commented on #88
https://github.com/qgis/QGIS-Enhancement-Proposals/issues/55

[2016-03-21 10:11] vpicavet opened #129 "slider to set DPI"
We have some use cases for changing the DPI dynamically in the canvas :
* 4K ( and more ) display
* editing small items at a specific zoom level displayed bigger on the screen

[2016-03-21 10:13] vpicavet opened #130 "Fix some DXF export bugs and enhance features"
- [ ] data-defined properties are not taken into account, at least for line width, and SVG symbol orientation
- [ ] rule-based labelling is not working on export
- [ ] 3D is not taken into account

Jurgen would be the best candidate for developing this

[2016-03-21 11:32] jef-n commented on #130
See also [QGIS #13757](http://hub.qgis.org/issues/13757) and [QGIS #14495](http://hub.qgis.org/issues/14495)

[2016-03-21 19:25] tudorbarascu commented on #124
Just noticed https://github.com/USEPA/SWMM-EPANET_User_Interface
It would seem that after the good news that EPA will rebuild the Epanet and SWMM GUI (https://www.linkedin.com/groups/3780529/3780529-6068038287379947524) there's even better news on the roll: they're actually doing it QT and pyqt (https://github.com/USEPA/SWMM-EPANET_User_Interface/wiki/MTP-%231-%E2%80%94-REENGINEERED-SWMM-AND-EPANE

[2016-03-22 06:06] tudorbarascu commented on #124
[It seems](http://community.wateranalytics.org/t/development-of-new-epanet-swmm-gui/243 ) the developers are interested in community feedback and have started work for about 2 months.
If any of you guys has some ideas that may be beneficial for qWat/Epanet and influence their development it would be very nice.

[2016-03-23 06:57] 3nids commented on #116
we have some interest from others to develop a solution
see https://github.com/3nids/postgres91plusauditor/issues/9

[2016-04-01 16:08] vpicavet commented on #129
The main use case is to be able to see the canvas with an image zoom ( as opposed to a geographical zoom). DPI slider for canvas is a way to achieve this, and can be really useful for high-resolution screens.

Another option could be a magnifier tool.

[2016-04-04 12:51] mhugo commented on #129
QT has probably a way to handle large displays and sets the DPI, but I cannot find it ...
Alternatively we can add a slider to zoom the canvas.
Do we want everything to be zoomed ? Or only texts / labels / diagrams ?

[2016-04-04 12:53] 3nids commented on #129
the idea is to magnify the whole map as if we were using a magnifier

[2016-04-05 09:19] vpicavet commented on #78
Plugin version available here : https://github.com/wonder-sk/CadNodeTool

[2016-04-07 06:51] mhugo commented on #129
@3nids Is it a pixel-based zoom that is needed ? Or a "real" zoom where vector features (and possibly symbology) would be zoomed ?
I cannot see the added value of a pure pixel-based zoom compared to say ... the integrated "magnifier" tool of Windows for instance.

[2016-04-07 07:03] 3nids commented on #129
yes it would a pixel-based zoom on the map canvas only.
I don't know the magnifier on windows, but as far as I see it, the advantage is that the zoom will be applied strictly and only on the map canvas.
One use case is the manual placement of labels. We have very small labels and it is very painful for the eyes to work at 1:1. Being able to have a 2x zoom would be very helpful.
Does it make sense

[2016-04-07 07:17] mhugo commented on #129
Ok. So you need a zoom that follows the mouse and let you do other actions (label placement for instance).
Would it be wrong if it is a vector-based zoom ? (no "big pixels" when you zoom)

[2016-04-07 07:32] vpicavet commented on #129
If we need to do actions while having the zoom, the DPI slider seems better.
Last remaining question would be pixel-based versus vector-based zoom.
And in case of pixel based, do we want pixelized zoom ( nearest neighbour ) or interpolation ( e.g. bilinear )

[2016-04-07 07:38] pblottiere commented on #129
:+1:

We could provide to the user a simple way to set the desired method.

[2016-04-07 07:42] 3nids commented on #129
I thought at beginning that the whole map canvas would be zoomed. Although, a window around the map also has it advantages, and most important might avoid confusions between the two ways to "zoom".
I would go for interpolation without adding any option. The cost might not be that bad no?

[2016-04-18 08:47] 3nids commented on #88
multi attribute editing has been merged in master

now, for multi attribute filtering, this document gathers the ideas
https://docs.google.com/document/d/1OBis2-WM95PJEKJ-V9VA4NDx_kyHFWAsoLfl2s-MApw/edit#

Nyall will do an offer and the idea is to rush to merge this in 2.16 already.
Zug has no more money for this. I will probably ask the CH user group but there many demand for support lately, henc

[2016-04-18 12:24] pblottiere commented on #129
PR submitted : https://github.com/qgis/QGIS/pull/3009

[2016-04-18 12:26] 3nids commented on #129
thanks.
will you go for DPI rather than pixel-based?

[2016-04-18 16:52] vpicavet commented on #88
This has to be discussed with other qwat funders. Let me know when you have an offer so that I can integrate into funding documents.

[2016-04-20 06:09] pblottiere commented on #129
@3nids Indeed, it seems that a DPI magnifier is what they REALLY want. However, it's not the initial request and when I took a look to mapsettings, I noticed some strange behaviours with DPI. So, I need more time than the time initially allocated to this item. Do you agree?

[2016-04-20 06:31] 3nids commented on #129
Well this not m decision to take, but from the discussion there doesn't seem to be much of a choice.
So, for me yes, this is the way to go.

[2016-04-21 10:07] sylvainbeo commented on #98
First release in https://github.com/qwat/qwat-data-model/tree/master/update.

Use: python test_migration.py --pg_service qwat

The command returns the validity of the current model tested (OK or NOT OK).

NOTE: test_migration.expected.sql file has to be fixed on each qWat version, as it is use a reference.

[2016-04-22 17:09] vpicavet commented on #86
Implemented and pushed in qgis/QGIS/pull/2995

Thanks Nyall and Kanton Basel Stadt !

[2016-04-22 17:09] #86 closed

[2016-04-22 17:11] vpicavet commented on #78
Please test and report feedback on the plugin

[2016-04-22 17:13] vpicavet commented on #81
Here for now : https://github.com/qwat/QWAT/tree/master/doc

Should we move it to the wiki instead ?

[2016-04-22 17:15] vpicavet commented on #85
Any news on this one ? Reproduceable ?

[2016-04-22 17:22] vpicavet opened #131 "Virtual Machine with pre-installed qWAT"
It would be great to be able to distribute a Virtual Machine with a pre-installed qWAT solution, for testing and evaluation purposes.

It could be based on OSGeo-Live

[2016-04-23 08:00] tudorbarascu commented on #131
I can create and host a VM that does exactly that. I'm already doing it for the [qgep project ](http://qgep.github.io/docs/admin-guide/vm/index.html) so it wouldn't be such a bother.
Actually, I think it would be nice to have just one machine for the two projects.
I am using Debian with Cinnamon as Desktop as Cinnamon is more friendly towards new users.
My plans include adding Web Services in the

[2016-04-25 04:46] vpicavet commented on #131
Having a Vagrantfile for automated VM building would be ideal, so we can push it to the repo, and have an updated VM easily. It would also help keeping the VM as small as possible.

Do not hesitate to assign yourself the task if you feel like doing it.

[2016-04-25 07:21] 3nids commented on #125
this might be attached to Martin's dev for the node tool?

[2016-04-25 07:56] jef-n commented on #130
3D support: qgis/QGIS@b3bf4a1

[2016-04-25 08:10] vpicavet commented on #130
Great ! Thanks Jef

[2016-04-25 08:10] #130 closed

[2016-04-25 09:30] 3nids commented on #98
@sylvainbeo glad to see this developped!!!
before closing the issue, it would be good to:

* write a doc on how to commit on the data model (deltas and release of new version (git tag?))
* add the infrastructure for the deltas on the repo
* add a script to publish a release that would do the test of `old_model + deltas = new_model`

[2016-04-25 09:55] tudorbarascu commented on #131
I'll do it.
As I don't have experience with vagrant for now I'll simply make a vm and work towards the ideal case as I'm learning vagrant.
It seems I cannot assign myself to any issue but consider me assigned.

[2016-04-25 10:08] m-kuhn commented on #85
@3nids waiting for your feedback, ping me if you need my assistance.

[2016-04-26 12:27] vpicavet commented on #131
If you install on a VM, please take notes on all required steps, this can be a good basis for the installation page of the documentation ( see wiki).

[2016-04-26 12:30] tudorbarascu commented on #131
Will do.
I think that for the long run it would be better if we would make a separate repo for the docs.

[2016-04-27 06:06] 3nids commented on #98
For each commit, one should provide:

* modification of creation scripts
* deltas

Will the expected dump will be automatically created?

If we agree that everything should go through a PR, I think we should have a unit test that achieve this. Hence, it's probably not required to keep the expected dump on the git repo. I think it's important to generate it live, otherwise each commit will produce

[2016-05-12 14:40] sylvainbeo commented on #98
Working on it. I try to cover all case before commiting.

[2016-05-25 12:23] vpicavet commented on #87
See https://github.com/qgis/QGIS/pull/3079

[2016-05-26 08:13] vpicavet commented on #129
Merged in master. Closing ?

[2016-05-26 08:15] vpicavet commented on #88
This has been implemented by Nyall recently. Should be in master in time for 2.16

[2016-05-26 18:58] sylvainbeo commented on #98
Migration process is now automatic. No more need for the pre-generated  test_migration.expected.sql.
MIgration is tested on 2 tests DB. If it's ok, the process can be run on the main DB.
See the upgrade_db.README, and the documentation.

[2016-05-27 07:37] 3nids opened #132 "QWAT naming convention"
QWAT is currently being written as qwat, QWAT, qWat.
We should stick to one. I'm not a huge fan of the last, I would go for all in capital letters.
What do you think?

[2016-05-27 07:41] 3nids commented on #98
Good job, have you the intention of doing the test on travis?
I think that for every commit the test should ensure that current db = previous version + all the deltas.
Hence if anyone pushes directly a change in the file, we get directly a mail saying it's broken. Adding the delta in a later commit would then fix it (hopefully ;) ).
Thoughts?

[2016-05-27 07:45] sylvainbeo commented on #132
Why not. But the name may potentially change in the futur. Anyway, i'm ok with all writing.

[2016-05-27 07:50] sylvainbeo commented on #98
Can be done indeed.

Test shoud ensure that current db = previous version + (all the deltas >= current db_version).
update/delta directory may contains all deltas, including old ones. The migration process take in account the version of the current DB, and the nums contained in the deltas file's names.

[2016-05-27 07:57] vpicavet commented on #132
I'm ok with all capitals, the main idea would be for people to catch easily that the name is pronounced "cue-what"

Other options could be qWAT or Qwat in that sense.

[2016-05-27 07:58] 3nids commented on #98
I think we should test deltas only in current major version.
As far as I see it, there is 2 solutions:

* keep a dump of the first release of current major version (1.0.0)
* use git tags when we release a new major version, so the test can git checkout at the last tag of the major version

Second sounds better to me, but I am no expert on this topic

[2016-05-27 07:59] sylvainbeo commented on #132
Indeed. I've met a few people who do not know how to pronounce it.

[2016-05-27 08:08] sylvainbeo commented on #98
What do you mean by "we should test deltas only in current major version" ?
The purpose of the deltas is to keep an evolution of the model, and be able to replay that evolution on a random state of the DB (according to the version number). Are we ok for that ?

[2016-05-27 08:32] sylvainbeo commented on #98
Doing a checkout on the git repo is ok with an automatic test, but maybe not with a test the user do on his own. We are in that case, and I'm not very confortable with that. But we can talk about it.

[2016-05-27 09:44] 3nids commented on #98
Indeed we agree on the purpose of the deltas.
I just meant that we don't need to test deltas on 1.x.x if we are on 2.x.x while we can still keep them in the repo. I would say that going from 1.x.x to 2.x.x might not be feasible with deltas, this can be seen as hard upgrade in postgis.

git checkout might not be the way to go sorry, the idea would be to download a release tarball, create the databa

[2016-05-27 09:55] 3nids commented on #98
Indeed we agree on the purpose of the deltas.
I just meant that we don't need to test deltas on 1.x.x if we are on 2.x.x while we can still keep them in the repo. I would say that going from 1.x.x to 2.x.x might not be feasible with deltas, this can be seen as hard upgrade in postgis.

git checkout might not be the way to go sorry, the idea would be to download a release tarball, create the databa

[2016-05-27 09:59] sylvainbeo commented on #98
Yes you're right. Major migrations won't be possible just with deltas.
Before that, to improve that first version of the automatic migration process, we should do some real tests. That way, we can see what's ok, and what's not. In particular, the SQL request i do on the DB to detect changes. I made tests to check they are the good ones, but some maybe be missing. Would be cool to have more feedbac

[2016-05-27 10:26] 3nids commented on #98
It will make things much easier if we have the testing on travis.

The idea of the workflow is:
- create a branch
- modify the SQL creation code to add your changes
- create the delta file
- check the result of travis

Like this you can commit whenever you want, it should fail on travis until you get the proper deltas. Whenever it's ready, you can push your changes to master.

[2016-05-27 11:55] sylvainbeo commented on #98
Oh, we are talking 2 differents things.
You're right for the developper side. The workflow you described is good. I'm going to add it in the documentation.

Before that, I was talking about the user side (the user who installed QWAT 6 month ago, and wants to upgrade, and don't know anything about git).

[2016-05-27 12:40] 3nids commented on #98
I don't think we have to care about them ;)
More seriously, going with dump/restore might do the job.

[2016-06-03 10:07] sylvainbeo commented on #98
Working on the process. We will have to tag a first version of the model. Else, the process cannot work.

[2016-06-03 11:41] sylvainbeo commented on #98
Testing in a separate simplified environnement : https://github.com/sylvainbeo/test

[2016-06-03 13:02] ponceta commented on #132
https://translate.google.com/#fr/sq/QWAT

Ca sonne vraiment différemment selon d'où on vient...

[2016-06-03 13:21] sylvainbeo commented on #98
Ok. Process added to the git. You can see a real test working by checking the sbe_update branch.
Feedbacks are welcome.

Model tags must be named : x.x.x,  and major versions : x.0.0
This is important for the process to work.

I added a tag on the data model (1.0.0)

[2016-06-06 14:44] 3nids commented on #98
Thanks a lot for your work!!! I am very glad to see this implemented!

I miss a bit of documentation on how shall I proceed to pull the request (shall I tag already the new version). Is the version harcoded somewhere (couldn't find it)?

I think the general process on how to developp is clear (to me): create a branch with all your changes (can be in several commits), create the delta, pull a reque

[2016-06-07 06:01] DanBing commented on #132
Je confirme ...

https://translate.google.com/#pl/sq/QWAT

De :    Arnaud Poncet-Montanges <notifications@github.com>
A :     qwat/QWAT <QWAT@noreply.github.com>
Date :  03.06.2016 15:02
Objet : Re: [qwat/QWAT] QWAT naming convention (#132)

https://translate.google.com/#fr/sq/QWAT
Ca sonne vraiment différemment selon d'où on vient...
?
You are receiving this because you are subscribed to this thr

[2016-06-08 05:41] 3nids commented on #132
let's decide this on monday.

[2016-06-09 11:39] #129 closed

[2016-06-09 11:53] vpicavet commented on #88
Implemented in 2.16

[2016-06-09 11:53] #88 closed

[2016-06-09 12:25] vpicavet commented on #85
@3nids Still present in 2.16 ?

[2016-06-10 08:11] 3nids commented on #85
I just tried to use the custom widget in QtDesigner to use relation reference widget.
When saving the UI, QtDesigner crashes with this output
[code]

@m-kuhn any idea?

[2016-06-10 08:15] m-kuhn commented on #85
Do you have a stack trace?

[2016-06-10 08:35] 3nids commented on #85
fixed in https://github.com/qgis/QGIS/commit/76bf6e0dc6cf7a1c84a3d0cc4fe7b8c1032e8eb0 thanks
testing the widget now

[2016-06-10 08:45] 3nids commented on #85
working well apparently.
reused in https://github.com/qwat/QWAT/commit/3fe5fcac27b6edc521f6d60f2b7d1287bbbbf674

[2016-06-10 08:45] #85 closed

[2016-06-10 14:35] dsavary opened #133 "copy and offset a line"
The user could select 3D polyline and give it a offset length  (choice of the side where the line should be offset). The user can choose if he wants to offset the selection or offset a copy of the selection. If it choose the copy, the feature must keep the same attributes , except the ID and if it's possible the same number of vertices.

start development : @gusthiot
Link : [https://github.com/gus

[2016-06-10 14:41] dsavary opened #134 "extend a line to a reference object"
It would be great that the qgis user can select a line to extend and then a reference object  (line or polygon, for example a building) until which the line should extend.

[2016-06-10 14:49] sylvainbeo commented on #90
The tutorial has been started in french, and will be available in the sphinx documentation

[2016-06-10 14:51] sylvainbeo commented on #119
These tests have been added. They also will be used to make the stress tests for the DB

[2016-06-10 14:51] #119 closed

[2016-06-10 14:52] #120 closed

[2016-06-10 14:53] dsavary opened #135 "create a vertex in a 2D or 3D line automatically when the user create a point."
Description of the tool :
When the user creates a point over a 2D or 3D line (by using edge snapping), a vertex is automatically created. The tool calculates the 3D elevation for the vertex line and the 3D point (interpolation). When the user creates a point over an existing vertex of a 3D line, the altitude of the point takes automatically the same altitude as the vertex.
#115

[2016-06-10 15:01] dsavary opened #136 "Create a circle according to a dimension (slightly different behavior of the plugin "intersect it")"
Description of the tool :
create a circle according to a given radius (dimension), then you can create a point in a choice layer by snapping only on the intersection (no snapping on vertices ) - the functioning is close to the plugin "intersect it" (except : choice of interactive layer when creating the intersection point, disable the snapping option on the  vertices of circle, only activate the s

[2016-06-10 15:03] dsavary opened #137 "additional snapping options"
Description of the tool:
The user can activate additional snapping type : snap to a perpendicular line, snap to the extension of a line. the use of different symbol according to snap choice should indicate to the user what kind of snap option is active during the digitizing. For example, a green cross appear for a intersection snapping.  (Avoid errors of digitization)

[2016-06-10 15:05] dsavary opened #138 "move a selection of features"
Move a selection of features by giving the start point and a destination point. The snapping options should be activated in order to move the feature by snapping on a reference feature. The attributes are preserved.

[2016-06-10 15:06] dsavary opened #139 "copy of a selection of features"
Description of the tool:
Copy / paste a selection of features by giving the start point and a destination point. The snapping options should be activated in order to paste the feature by snapping on a reference feature. The attributes are preserved except for the ID of the feature. Ability to paste the object into another editing layer.

[2016-06-10 15:08] dsavary opened #140 "Treatment of a selection of survey points to the appropriate tables of the network feature (QWAT)"
Description of the tool:
The user can select a list of survey points on the map canvas and activate the insert processing of the features in the appropriate table (valve, hydrant, etc.) according to the codification of each survey point (internal use) and some attributes in the feature form are fill out by a list of default value (mapping and matching table for each kind of feature).

[2016-06-13 07:08] dsavary commented on #140
in relation with #80 and #84

[2016-06-13 07:16] dsavary commented on #102
Description of the tool :
The user should be able to generate a longitudinal profile of a selection of 3D line. The points (network object) along the profile line must also be projected on the profile. In this way, the user can control the elevation of each vertex of the line according to the points (netwotk points like valves, ...) in the line.
If the elevation of the points are different from th

[2016-06-13 07:59] 3nids commented on #134
already implement in reshape tool. Might be part also of the new node tool.

[2016-06-13 07:59] #134 closed

[2016-06-13 08:03] 3nids commented on #133
This is already feasible using copy/paste then offset.

I would propose to extend the paste action, and have options:

* paste and move
* paste and rotate
* paste and offset

See issues #138 and #139

[2016-06-13 08:03] 3nids commented on #138
I would propose to extend the paste action, and have options:

* paste and move
* paste and rotate
* paste and offset

See issues #133

[2016-06-13 08:04] 3nids commented on #139
I would propose to extend the paste action, and have options:

* paste and move
* paste and rotate
* paste and offset

See issues #133

[2016-06-13 09:05] tudorbarascu commented on #102
It would be nice if the profile tool would be done with JavaScript etc. so that it can also work in a web client.

[2016-06-14 10:34] tudorbarascu opened #141 "Pipe styling issues/enhancements"
Hi @3nids

I believe the styling rules for pipes/conduites are broken.

For instance, for the first style line: `fk_distributor = 1and "status_functional" = 't'` there is no "status_functional`` column so the filter is bad.

Also, maybe the rules would benefit for a description as it's not clear enough what they do:
![styling](https://cloud.githubusercontent.com/assets/3179646/16039755/4c92fc4e-32

[2016-06-19 18:20] m-kuhn commented on #126
FYI, over at QGEP we have built this with python(networkx library) but a database side is also worth evaluating. We have already built some interactive tools to work with the network analysis tool.

[2016-06-19 18:24] m-kuhn commented on #125
We have discussed some ideas regarding this. Basically the idea would be to select multiple layers in the legend and then update a maptool/the maptools to be able to work with this.
It would be great to get more feedback for them.

[2016-06-28 08:19] mhugo commented on #113
I see how to interpolate between two points, but when there are more than 2 points, what to do ? An average ?

[2016-06-28 08:31] mhugo commented on #113
About interpolation given multiple points on an irregular grid :
http://math.stackexchange.com/questions/828392/spatial-interpolation-for-irregular-grid

[2016-08-01 19:51] tudorbarascu commented on #131
Fixed in https://github.com/qwat/QWAT/commit/e571d5564d004bcc75b24dc97f548ab1e9376f3a

[2016-08-01 19:51] #131 closed

[2016-08-16 08:48] dsavary commented on #139
Development in progress , you can look the code here [VDLTools](https://github.com/gusthiot/VDLTools)
Please test the tool and report the bug.
At the moment, we create only one tool bar for several tool.
For a generic use, we could split this tool bar in several block of plugin

[2016-08-16 08:48] dsavary commented on #138
Development in progress , you can look the code here [VDLTools](https://github.com/gusthiot/VDLTools)
Please test the tool and report the bug.
At the moment, we create only one tool bar for several tool.
For a generic use, we could split this tool bar in several block of plugin

[2016-08-16 08:53] dsavary commented on #136
Development in progress , you can look the code here [VDLTools](https://github.com/gusthiot/VDLTools)
Please test the tool and report the bug.
At the moment, we create only one tool bar for several tool.
For a generic use, we could split this tool bar in several block of plugin

[2016-08-16 08:54] dsavary commented on #135
Development in progress , you can look the code here [VDLTools](https://github.com/gusthiot/VDLTools)
Please test the tool and report the bug.
At the moment, we create only one tool bar for several tool.
For a generic use, we could split this tool bar in several block of plugin

[2016-08-16 09:01] dsavary commented on #136
For this tool, we test to use a circle geometry, but the "basic snapping options" of QGIS doesn't allow to snap at the intersection between a linestring and a circularstring.

[2016-08-16 09:01] dsavary commented on #133
Development in progress , you can look the code here VDLTools
Please test the tool and report the bug.
At the moment, we create only one tool bar for several tool.
For a generic use, we could split this tool bar in several block of plugin

[2016-08-16 09:10] dsavary commented on #113
Look at the tool "Interpolate" in this plugin : [VDLTools](https://github.com/gusthiot/VDLTools)

[2016-08-16 09:18] dsavary commented on #115
Look at the tool "Interpolate" and "Profile" in this plugin : VDLTools
It can help us to handle the altitude (coordinate Z) of the network element in QGIS.

[2016-08-16 10:05] dsavary commented on #78
We test the plugin CadNodeTool. This tool is very appreciated by the users. The functionning of snapping is more evident and more fast than the basic node tool. The possibiliy to move several objets (the line and the point on line) all at once is useful.
Will this tool be soon included in QGIS core ?
Do you think that the tool "Cadnodetool" will be merged with the basic "node tool" ?

[2016-08-18 13:26] sylvainbeo commented on #117
In progress

[2016-08-18 13:26] sylvainbeo commented on #116
In progress

[2016-08-29 15:57] vpicavet commented on #121
See : qgis/QGIS-Enhancement-Proposals/issues/69

[2016-08-29 15:57] vpicavet commented on #78
See #121

[2016-09-12 08:41] sylvainbeo commented on #102
What is the finished status for this tool ?

[2016-09-14 08:47] dsavary commented on #139
Is there any news about developments in QGIS Core for this functionality?
For which version of QGIS ?

[2016-09-14 08:47] dsavary commented on #138
Is there any news about developments in QGIS Core for this functionality?
For which version of QGIS ?

[2016-09-14 08:47] dsavary commented on #137
Is there any news about developments in QGIS Core for this functionality?
For which version of QGIS ?

[2016-09-14 08:48] dsavary commented on #133
Is there any news about developments in QGIS Core for this functionality?
For which version of QGIS ?

[2016-09-14 08:48] dsavary commented on #135
Is there any news about developments in QGIS Core for this functionality?
For which version of QGIS ?

[2016-09-14 08:48] 3nids commented on #138
This will be in 3.0 (already merged)

[2016-09-14 08:53] 3nids commented on #137
All this is already available in QGIS for quite some time with advanced digitizing tools.
case 1: Just use perpendicular and select the appropriate segment.
case 2 is a bit more tricky: enable construction mode, place a point on the segment, place the mouse over it, lock the angle, disable construction mode. Next point will be aligned with the segment. If needed, this could added to the advanced d

[2016-09-14 08:54] 3nids commented on #133
I would like to add this option to the move feature tool. You would have the choice: paste and move or just move. This shouldn't be too hard to implement :)

[2016-09-14 08:54] 3nids commented on #135
I am not aware of anything but it's not a topic I follow closely.

[2016-10-03 09:27] haubourg commented on #80
for the record, specifications are stored in sahre platform here  https://www.oslandia.net/share/ws-qWAT/docs_specifications/fonctions_qgis_qwat/

[2016-10-04 17:02] haubourg commented on #141
Confirmed here status_functional does not exist in view nor anywhere in the db.
@3nids any idea of the right styling rules?

[2016-10-05 06:24] tudorbarascu opened #144 "Adding year constraint on widgets doesn't work when relation_reference widgets are present"
As we already have in the database model the `(year IS NULL OR year > 1800 AND year < 2100);` constraint on pipes I thought of putting this constraint on QGIS side on this form: `"year" IS NULL OR 1800 <= "year" AND "year" <= now()`.

I discovered that this doesn't work at all when "relation reference" widgets are present. If the "relation reference" widget is orphaned (by deleting the relation in

[2016-10-05 20:31] 3nids commented on #141
Status_functional is a joined field in qgis, not a field in the view.
Indeed _functional_ should better described. The idea is to distinguish objects that are __temporary__ not in used but would be print on the map from objects that are definitely out of order and would not be printed.

[2016-10-05 20:56] tudorbarascu commented on #141
I had searched for the column in the joined layers and it wasn't there.
It's actually easy to see that it isn't there, just click the test button for the ``fk_distributor = 1and "status_functional" = 't'`` rule.

I guess it must be in one of the layers (cadastral layers) that are dropped when loading the project.
@3nids Can you confirm?

[2016-10-06 05:56] 3nids commented on #141
sorry, I realized it's still in PR https://github.com/qwat/qwat-data-model/pull/121
I will update this to merge

[2016-10-06 12:08] haubourg opened #145 "CAD tools refactoring"
- [ ]  Current CAD tools are in different plugins, not always working nicely.
- [ ]  Current GUI CAD classes deserve refactoring (porting from GUI to core some classes) and should be put inline with QGIS 3 API refactor.
- [x]  advanced editing tools do not handle nicely 3D geometries (reshape tool loses z, cut line returns a Nan Z) > see #146

[2016-10-06 12:24] haubourg commented on #113
Decision PSC 06/10/2016 agrees on keeping such features in VDL Tool plugin.

[2016-10-06 12:24] haubourg commented on #114
Decision PSC 06/10/2016 agrees on keeping such features in VDL Tool plugin.

[2016-10-06 12:31] haubourg commented on #115
Decision PSC 06/10/2016 agrees on keeping such features in VDL Tool plugin.

[2016-10-06 13:05] haubourg opened #146 "Many edit tools do not handle Z altitude value nicely"
- [x] add a default Z value option in the project - Part 1
- [x] - reshape tool looses atlitudes for all the whole geometry in some cases. In other cases, nan is in qgis buffer and leas to trouble with different data provider (postgres or shp for intance.
- [x] - cut feature also looses Z
- [x] - default 0 altitude or -9999 should be used (signed integers in db might not like negative values anywa

[2016-10-06 13:26] haubourg commented on #133
PSC 06/10: good to keep in wishlist for CAD tool refactoring.

[2016-10-06 13:56] haubourg commented on #137
psc decision to close this ticket

[2016-10-06 13:56] #137 closed

[2016-10-06 13:58] haubourg opened #147 "Add visual feeback of snapping type"
Users lack visual feedback of snapping type currently happening. Lausanne asks that different symbols can shown when snapping on vertex or segment.
Additionnaly, having a visual indicator of which layer is snapped would be a great plus.

Ref https://issues.qgis.org/issues/15119

[2016-10-07 11:47] pblottiere commented on #144
@tudorbarascu Indeed, I reproduce the same thing here on master_2.

By the way, I noticed that the size of the "warning" icon is now far too big within the the form:

![warning](https://cloud.githubusercontent.com/assets/9266424/19188755/29d7e48e-8c94-11e6-90e9-8a5590c7445d.png)

I'm going to do some more digging and get back to you.

[2016-10-10 13:45] haubourg commented on #90
As discussed in PSC 06/10, Lausanne will give typical edit use cases as scenarii for tutorial. Best option would even be some screencast videos inside the documentation

[2016-10-10 13:48] haubourg commented on #123
PSC 06/10 has no internal need. This point is being raised from users outside of PSC.
This point must be discussed as part of the communication - spreading policy of QWAT.

[2016-10-10 13:59] haubourg opened #148 "Developp a generic infrastructure to handle linked document to features"
This project aims to be able to handle documents referencing from QGIS. It could be linked to an external Document Management System, or an internal Postgresql data structure.
Example: link pictures, scans, reports over network features.

[2016-10-10 14:00] haubourg commented on #148
PSC 06/10 decision; this is a mid term project led by SIGE . It is not a shorterm need in QWAT but would be very useful to all applications.

[2016-10-10 14:25] 3nids commented on #148
IIRC it was Roger who is leading this.

[2016-10-10 14:41] haubourg commented on #146
Another one: copy / paste from 2d  to  3D layer fails.

[2016-10-10 15:03] haubourg commented on #136
PSC 10/06 : should be solved in QGIS 3 since new snapping API snapps on all feature types. Old one wasn't aware of curved geometries.
Still needs to be tested in QGIS 3 branch

[2016-10-10 19:14] haubourg opened #149 "switch unit tests on the real dataset basis"
asked by PSC 06/10 . Tests should be run using real dataset to ensure all cases are taken into account on dataabse side.

[2016-10-10 19:18] haubourg opened #150 "Load tests are required to validate trigger chain"
Tests will try to identify bottlenecks and deadlocks in database architecture.

First results shown on 13 september.
Full results at PSC 06/10

[2016-10-10 19:23] haubourg commented on #150
tests are published here :
https://github.com/qwat/qwat-data-model/tree/19a25c22a11e0a607477d6871d7e9b05efae1a6d
https://github.com/qwat/qwat-data-model/blob/19a25c22a11e0a607477d6871d7e9b05efae1a6d/tests/tests_scalability.sh

[2016-10-10 19:24] haubourg commented on #150
Results are good, not performance issue. (See detailed report in share repository)

One deadlock has been found. Solution found by simplifyuing trigger cascade and removing valves from nodes

[2016-10-10 19:24] #150 closed

[2016-10-10 19:30] haubourg opened #151 "Remove Install part from node inheritance"
PSC 06/10 ask to remove part installation from nodes because it does not make sense to create node under such events.

[2016-10-10 19:50] haubourg commented on #149
@3nids Salut Denis, j'ai probablement mal noté un point au PSC sur les tests unitaires. Tu avais demandé une évolution des tests pour intégrer les données réelles de la base ?

[2016-10-10 19:55] #149 closed

[2016-10-11 05:21] 3nids commented on #151
moreover, it is very likely you will place some in middle of a pipe, like the valves.

[2016-10-11 17:54] haubourg opened #152 "ouvrage form is broken in attribute table / form view"
in QGIS master and release, form view accessible from attribute table is truncated. The conditional part showing different widgets according to ouvrage type is not displayed correctly.
Same form open outside from attribute table works.

Tracing init function installation_form.py shows that it is triggered for each table row every time user select another feature. This can be a killer for big table

[2016-10-11 17:55] haubourg commented on #152
@mhugo could you check if this is a core issue or a python init script issue? Thanks

[2016-10-12 07:20] haubourg commented on #152
here a snapshot of the broken form
 ![capture d ecran de 2016-10-12 09-18-11](https://cloud.githubusercontent.com/assets/1629853/19300878/ef6260dc-905c-11e6-9144-5c4deac0f801.png)

vs the working form:

 ![capture d ecran de 2016-10-12 09-15-45](https://cloud.githubusercontent.com/assets/1629853/19300860/dda17a86-905c-11e6-9d54-222aa2d06c7e.png)

[2016-10-12 07:26] rogermaurer commented on #148
Order was given to Opengis for drafting a QEP.

[2016-10-12 07:54] mhugo commented on #152
Fixed in https://github.com/qwat/QWAT/commit/3b36a1c4dd5514ad6f80e121683eae40eb0f06d5

[2016-10-12 07:54] #152 closed

[2016-10-12 09:06] haubourg commented on #152
Nice thanks!

[2016-10-27 06:53] pblottiere commented on #144
@tudorbarascu I have made some minor fixes last week on constraints https://github.com/pblottiere/QGIS/tree/fix_constraints. Regarding the strange behaviour with relation widgets , it was just a boolean issue...

I wanted to do a PR but Nyall is obviously working on the refactoring to add new features for constraints handling: https://github.com/qgis/QGIS/pull/3673

[2016-10-27 07:35] m-kuhn commented on #144
Fixed in the 2.18 bug fixing round (constraints not working and icon size)

[2016-10-28 08:57] m-kuhn commented on #148
Feedback welcome:
https://github.com/qgis/QGIS-Enhancement-Proposals/issues/79

[2016-10-31 07:50] tudorbarascu commented on #144
Just tested and it works. Thanks!

[2016-10-31 07:50] #144 closed

[2016-11-02 09:33] 3nids commented on #138
see https://github.com/qgis/QGIS/pull/3709

@dsavary does it fulfill your needs?

[2016-11-07 16:29] haubourg commented on #147
discussion started here: http://osgeo-org.1560.x6.nabble.com/Snapping-visual-feedback-td5294666.html

[2016-11-08 09:34] haubourg opened #153 "Creer un groupe Board pour le suivi de projet"
Le groupe Board sera sollicité pour les validations de décisions de pilotage de haut niveau sur le projet.

Rôles :
chaque organisation peut s'exprimer dans les tickets

Animateur:
@haubourg est chargé de vérifier que les organisations (actuellement SIGE, Lausanne, Morges et Pully) ont toutes validé la décision avant de la rendre opérationnelle. Le cas échéant, un consensus devra être trouvé avec

[2016-11-08 09:34] haubourg commented on #153
@qwat/board test notification du groupe projet

[2016-11-09 11:02] alexandrebosshard commented on #153
Salut Régis, pour la description de ton rôle d'animateur, je propose la phrase suivante:

@haubourg est chargé de vérifier que les organisations (actuellement SIGE, Lausanne, Morges et Pully) ont toutes validé la décision avant de la rendre opérationnelle. Le cas échéant, un consensus devra être trouvé avec une reformulation de la décision. Puis celle-ce fera l'objet d'une nouvelle validation.

[2016-11-09 11:03] haubourg commented on #153
@alexandrebosshard  intégré!

[2016-11-09 13:12] haubourg opened #154 "Improve performances of current form lazy loading"
When opening a form with relation widgets, there is a significant loading time of all related child forms.

Some users report that is even slower if form is in editing mode.

For the record, there is some work in progress in that area (UX design):
 - http://osgeo-org.1560.x6.nabble.com/Visualisation-of-relations-td5289714.html

[2016-11-09 13:18] haubourg opened #155 "Prévoir un changelog explicite avec la release V2"
Point vu le 8/ 11 /2016.
Objectif: clarifier les principales différences entre V1 et V2

[2016-11-09 13:22] haubourg opened #156 "Build a specification grid for QWAT"
L'idée est de mieux afficher le périmètre fonctionnel de QWAT et de permettre de suivre de manière plus macroscopique les évolutions, ou synergies possibles avec d'autres outils

[2016-11-21 09:55] ponceta opened #157 "[Website] History page"
Hi,

Several months ago, it was discussed that @tudorbarascu should be mentionned at least on the history page http://0e925d873b.testurl.ws/history/ and as one of the main contributors for the project.

It could be great to update these informations.

And there's a technical failure on the website since clicking on the history menu should not redirect to http://0e925d873b.testurl.ws/history/ but h

[2016-11-21 09:59] ponceta commented on #153
@haubourg board créé, utilisateurs informés, je pense que tu peux fermer le ticket ;)

[2016-11-21 10:01] sylvainbeo commented on #157
Hi,

Urls just have been fixed..

[2016-11-21 10:03] haubourg commented on #153
:)

[2016-11-21 10:03] #153 closed

[2016-11-21 10:05] ponceta commented on #157
@sylvainbeo Merci! ;)

[2016-11-21 10:55] #141 closed

[2016-11-21 10:57] haubourg commented on #141
fixed in 8f8ab9bbb56a4e4b4e02e0f81f6b11af9d8676e2
status_functionnal replaced by status_value_en

[2016-11-21 11:05] haubourg commented on #30
Hi, I just worked in that area. I agree current symbols could be improved. On another wastewater project, we have users setting rotation manually on all valves or nodes, with the rotation tool. See the snapshot here. Computing it on the fly could be an optiont too but might be strange in some cases such as angles or crowded zones.
![image](https://cloud.githubusercontent.com/assets/1629853/2048039

[2016-11-21 16:10] haubourg opened #158 "QWAT misses constraints in forms"
Since 2.16 It is possible to add constraints to widgets so that user can't validate a form that will not be accepted in the database.
This ticket will list every constraint found until qgs project is inlined with DB's constraints

[2016-11-22 07:24] ponceta opened #159 "[Website] Navigation"
Enhancements proposals for qwat website @qwat/board, critics and thoughts are welcome!

The home page of qwat website is shiny, but its navigation is misleading the user:
(at least on desktop since on mobile there is no arrow and no scrolling needed)

The arrow

![image](https://cloud.githubusercontent.com/assets/8614223/20514057/30fd2f48-b08a-11e6-81ba-ce50cdc84d47.png)

is misleading the user to

[2016-11-24 13:19] haubourg commented on #146
@wonder-sk Hi Martin, we found some available developpers to work on Z improvements.
Should we add a default z value option at project level or general settings level? My opinion is that project level is the right place with SCR information.

[2016-11-28 12:32] 3nids commented on #141
until now, the QGIS project was the SIGE project, that was the only way to keep it up to date.
I had some simplifications for the symbology of pipes to merge but cannot.
I will step away with the SIGE project from now on but I would have prefer to know it a bit in advance since I have to update the procedure on the users' computers (git repo) and I hope they did not print any plan with the updated

[2016-11-28 12:57] haubourg commented on #141
Oh sorry Denis, I didn't know you used that direcly. I can revert that if you want to merge, changes are not heavy to redo by hand afterwards.
 In the other hand, the project was broken for any newcomer to github's repository, which was quite misleading. Give me the green light for reverting!

[2016-11-28 13:08] 3nids commented on #141
Well, we discuss it at some point and  It might be the right time to do it (separate our project in its own repo).
I will try to keep you inform of next changes to arise in our project, mainly in forms (use of conditional visibility of groups/tabs, and use of drag and drop for all layers) so you can keep main demo project up to date.
It would still be easy to bring back our project again. I just c

[2016-11-28 13:32] haubourg commented on #141
BTW, If I assume it is the right time to add constraints to forms too, so that users don't face postgres constraints errors.
Target QGIS versions for other QWAT users is an important point to discuss. We now need to add minimum version requirements in the release log. Constraints will link us to 2.16 (with useability issues) or 2.18. What about conditional visibility and drag& drop?

@qwat/board :

[2016-11-28 13:34] 3nids commented on #141
for us, go for 2.18

[2016-11-28 13:41] 3nids commented on #98
To be closed:

* fix issue in https://github.com/qwat/qwat-data-model/pull/121
* run deltas on demo data: so demo data is ported to new version and deltas are tested on a real (not empty) DB.

[2016-11-29 07:28] 3nids commented on #98
Also, another thing is that the version of the model is not hardcoded in the DB, correct? So, there is no way to know what is the current version....the admin has to keep track.
@sylvainbeo thoughts?

[2016-11-29 08:54] sylvainbeo commented on #98
Indeed. The version is not hardcoded in the DB. Version is only a tag on the git repository. Maybe we could add the version somewhere.

[2016-11-29 09:01] 3nids commented on #98
can you take care of this?

[2016-11-29 09:14] sylvainbeo commented on #98
mmm in fact, i just saw that there is already a table version in qwat_sys schema.

[2016-11-29 09:18] 3nids commented on #98
right, Vincent did this at some point. Would be good to keep it up to date:

The delta script should take care of doing so, and the test should check at the end that versions correspond.
Also, it might be good to check that we do not skip a delta, no? i.e. there should be a start version in the delta: delta-1.0.0-to-1.0.1.sql
what do you think?

[2016-11-30 13:57] 3nids commented on #118
Tests on alternative geometries are missing (on elements, pipes and valves)

[2016-11-30 14:04] 3nids commented on #98
I added some points and listed them as a TODO list on the header post of the PR.
@sylvainbeo waiting on your feedback on this

[2016-12-01 13:33] 3nids commented on #98
@sylvainbeo I fixed some issues:

* functions are in a dedicated folder and can be easily re-run. Hence no need to write them in the delta.
* increase git depth to 9999 so we fetch all the tags (this was causing the issue in the push test where we had about 50 commits, which is default travis git depth)
* fix checking to current version by using `$TRAVIS_COMMIT` and `$TRAVIS_PULL_REQUEST_SHA`. Hen

[2016-12-01 14:46] sylvainbeo commented on #98
Deltas are well executed in order. I just tested that in a bash to be sure.

[2016-12-01 17:46] sylvainbeo commented on #98
Delta now implements system version update (harcoded) and conformity test check the version matches

[2016-12-01 21:00] 3nids commented on #98
Perfect.
Are you sure functions triggers are properly tested ?  I think we should have some error due to left functions triggers of vw_element_valve if not deleted in the delta. What do you think ?

[2016-12-05 09:34] sylvainbeo commented on #98
You're right. We should delete manually the vw_element_valve triggers in the delta file.

[2016-12-05 09:42] 3nids commented on #98
so....the migration test should fail at the moment, while it is not.
Hence, I suppose there is an issue with the test.

[2016-12-05 09:56] sylvainbeo commented on #98
Yes. I don't now for the moment where the problem comes from.

[2016-12-05 12:31] sylvainbeo commented on #98
Ok. In fact there's not errors. As we mentionned earlier, the FT function are not listed in the verification (because they are automatically generated, hence, no possible errors on that part).
That's why the remaining ft_element_valve_insert, delete and update don't break the integration process.

We just have to add the deletion of those 3 in the delta.

Are we agree ?

[2016-12-05 12:50] 3nids commented on #98
All right. We probably disable checking these because adding fields also make the view and triggers check fails due to fields ordering.
Not 100% perfect, but I think it'os ok!

[2016-12-05 12:55] sylvainbeo commented on #98
Agree. I think we can close this issue, merge the PR and maybe open another issue, to keep trace of the remaining work to do in the future ?

[2016-12-05 13:04] 3nids opened #160 "Demo data improvement"
Things to be improved

* [ ] data should be migrated automatically with model updates. See how QGEP does for instance (Travis automatically run the migration process). See #98
* [x] data demo dump must be upgraded to latest version manually. All data tables should be filled and with anonymous data.

[2016-12-05 13:04] 3nids commented on #98
Fine with me, the remaining bits are related to demo data anyway.

[2016-12-05 13:04] #98 closed

[2016-12-05 13:04] 3nids commented on #98
good job!

[2016-12-14 14:58] haubourg commented on #133
Done in QGIS 3 by @3nids

[2016-12-14 14:58] #133 closed

[2016-12-14 16:34] haubourg commented on #147
CR atelier du 14 décembre 2016. Pour Lausanne, le feedback visuel auquel sont habitués les dessinateurs est en priorité celui d'autocad avec confirmation visuelle du type de snapping :
- vertex (rond)
- segment (carré)
- intersection (croix)

[2016-12-14 16:36] haubourg commented on #132
I guess the decision was made to "QWAT". Can we close this?

[2016-12-14 16:51] haubourg commented on #160
@sylvainbeo  could you evaluate how much time that would require?

[2016-12-14 16:56] haubourg commented on #92
With constraint and default values in forms, editing can be much more simple.
Still, having some "autofill feature" just like we have in modern web browser would be a time saver

[2016-12-14 16:59] haubourg commented on #90
on 14/12/2016, we discussed doc improvements and process oriented documentation, aka tutorial.
Decision is to first add a context bloc of QWAT concepts by Oslandia (rha). Next steps need to be collaborative, and some short videos of editing / printing workflows will be welcome.

[2016-12-14 17:01] haubourg commented on #26
doc infrastructure is present. Closing, please create a more specific issue

[2016-12-14 17:01] #26 closed

[2016-12-14 17:03] haubourg commented on #30
@tudorbarascu Hi Tudor, trying to cleanup issues. Is that still up to date?

[2016-12-14 17:05] haubourg commented on #64
works in 2.18. Closing the issue

[2016-12-14 17:05] #64 closed

[2016-12-14 17:06] haubourg commented on #77
closing since later tickets handle that - PR almost merged

[2016-12-14 17:06] #77 closed

[2016-12-14 17:13] haubourg commented on #84
Decision 14/12/2016 was taken to postpone that to middle 2017, evaluate new processing framework as a candidate for basic ETL operations. Lausanne has already working VDL tools, Pully has EasyImport also.

[2016-12-14 17:13] haubourg commented on #82
Doc is already in French. I close that and create a new specific issue for Translation using transifex.

[2016-12-14 17:13] #82 closed

[2016-12-14 17:15] haubourg opened #161 "Add translation infrastructure for documentation"
Candidate would be transifex to help a collaborative translation process.
was extracted from #82 discussion.

[2016-12-14 17:28] tudorbarascu commented on #30
Hi Regis.  I'm using just one symbol for valves. The reason I opened this issue is to try and make everything more towards international way of symbolizing things. So, for me, it's important to have symbols that many use although keeping just one symbol doesn't touch me. I would say this issue is up to date if we want to reach to many others that have used or are using these symbols.

This issue i

[2016-12-14 18:49] haubourg commented on #30
Ok, keeping it open, thanks

[2016-12-14 19:50] #132 closed

[2016-12-15 08:15] haubourg opened #162 "Project Management proposal - use Huboard for Github"
Hi @qwat/board,
I just tested some Github tools to improve ticket management efficicency and readability since we have more than 66 tickets open, dispatched over 2 repositories .
This tool allows to handle tickets in a AGILE / whiteboard + post-it way for milestones AND work status.
You can check QWAT status here:
https://huboard.com/qwat/QWAT/#/

I'm still working on linking the data-model repo t

[2016-12-15 08:42] sylvainbeo commented on #160
Are we talking about automatically produce a new demo dataset when the model evolve, or just check if the model's evolution can be applied on the current demo dataset without any errors ?

[2016-12-15 08:44] sylvainbeo commented on #159
Needs validations.

[2016-12-15 13:12] 3nids commented on #160
doing automatically the process. I know QGEP is doing it automatically via Travis. @m-kuhn may you shortly explain how it works (what repo is doing what and how)?

[2016-12-15 13:18] m-kuhn commented on #160
Repo [datamodel](https://github.com/QGEP/datamodel) contains only the schema + static data (value lists). There are some pg sanity checks in place, if they succeed on master, two things happen:

 * a release of the datamodel (empty) https://github.com/QGEP/datamodel/releases
 * a pull request against the main repo is opened

In the [main repo](https://github.com/QGEP/QGEP/pulls), some real data is

[2016-12-15 16:01] ponceta commented on #162
@haubourg I've discovered gitter 5 min ago, is there a gitter channel for qwat? seems pretty nice to communicate.

For Huboard, IMHO it's yours to decide wether your tool will be since the issues management is pretty well under your management now?

[2016-12-15 16:03] ponceta commented on #161
Transifex is IMHO the best organised and most standard way to achieve such a process.

And most of us are already familiar with it.

[2016-12-15 16:08] haubourg commented on #162
yes please check https://gitter.im/qwat heavily used by Sylvain and Denis.
Concerning Huboard, I wanted to share because other owners have rights on the repo and could play with tags. So it's better that everyone knows about it. Since it's a first try of the tool, it'ss always interesting to know if others have been playing with it also.
Cheers

[2016-12-16 07:15] ponceta commented on #162
Heavily is the word. Ty.
Concerning Huboard, I like the tool, it just need a very good labelling of issues.

[2016-12-16 08:22] haubourg commented on #162
@ponceta with huboard, you don't need to handle labels, just drag issues in columns and labels are updated.

[2016-12-21 10:11] haubourg commented on #127
For the record, another dxf importer plugin just landed http://plugins.qgis.org/plugins/AnotherDXF2Shape/
It seems to add interesting feature.
@qwat-psc can someone test it with real dxf? Could someone send me a sample dxf for testing purposes? thanks
----------------
Features:
- Other elements than the standard import are displayed
- Display of text (Labeling)
- Text parameters (attributes) are c

[2016-12-21 11:05] haubourg commented on #127
Even better : https://twitter.com/neogis_de/status/809692441204977664

DWG core importer landed in qgis 2.18.2 and 2.99! Tested here and it renders really nice. Data is imported into a GPKG.
Tests more than welcome, this can be usefull for your workflows @qwat-board

[2016-12-22 12:55] jef-n commented on #127
On Wed, 21. Dec 2016 at 03:05:35 -0800, Régis Haubourg wrote:

https://github.com/qgis/QGIS/commit/a85fe1fa4464e5b6f7bd7e9dbb76c679ec75ec29

Jürgen

--
norBIT Gesellschaft fuer Unternehmensberatung und Informationssysteme mbH
Rheinstrasse 13, 26506 Norden
GF: Jelto Buurman, HR: Amtsgericht Aurich HRB 100827

[2016-12-22 14:23] haubourg commented on #127
Thanks Jurgen ! Do know if libdxfrw devs have plans for write capabilities on dwg?  (I'm probably dreaming of a sort of a encrypted and compressed holy grail which is changing every 3 years.. )

[2017-01-02 14:53] haubourg commented on #146
Work started. First PR's here:
https://github.com/qgis/QGIS/pull/3905/files

[2017-01-19 11:25] haubourg commented on #84
QGEP has the same target and Matthias Proposa is also to complete processing toolbax
https://github.com/QGEP/QGEP/issues/268#issuecomment-273730949

[2017-01-19 11:30] haubourg opened #163 "Include demo data in update process"
This is critical to test upgrade process on real datasets and also maintain in the same time a version of demo dataset inlined with latest data structure

[2017-01-19 14:20] haubourg opened #164 "Improve attribute table performance display"

[2017-01-19 14:27] haubourg commented on #164
Topic discussed on the 18 01 2017 in a technical meeting with Matthias Kuhn.
Displaying large attribute table really need improvements.

related issues :
- http://hub.qgis.org/issues/12926 : "improve attribute table performance"
 - http://hub.qgis.org/issues/10619 : "Attribute table 'Show features visible on map' option does not speed up loading of large postgis table
" > closed two weeks ago, see

[2017-01-21 05:25] nyalldawson commented on #164
FYI - I'm also working on a related fix to improve performance when "show selected features" option is used.

[2017-01-23 08:48] haubourg commented on #164
Thanks for keeping us informed Nyall :)
Is that a part of http://hub.qgis.org/issues/12926 ?
Are you trying the "Moved feature loader into its own thread" path  @elpaso tested in https://github.com/qgis/QGIS/pull/2518 ?
I 'd like to understand if we just do polishing or if a major refactor is required here.

[2017-01-23 08:51] haubourg commented on #164
@mhugo @pblottiere @vmora : FIY guys, the attribute table performance is identified as a bottleneck for QWAT and QGEP projects (and INO most other projects too). If you have ideas or memory of things done before, please join the discussion (or the referenced tickets).

[2017-01-23 08:52] nyalldawson commented on #164
Are you trying the "Moved feature loader into its own thread" path @elpaso tested in qgis/QGIS#2518 ?
I 'd like to understand if we just do polishing or if a major refactor is required here.

No - it's a separate issue. The caching mechanism isn't working correctly in this case and is forcing the entire table to load to show just the selected features. More of a specific bug fix than any large rew

[2017-01-23 09:02] haubourg commented on #164
@nyalldawson thanks !

[2017-01-30 17:11] haubourg opened #165 "Add soft constraints in forms"
The idea is to have constraints allowing warning, but not blocking commits for forms

[2017-01-30 17:12] haubourg commented on #165
asked on technical meeting 18/01/2017

[2017-01-30 17:16] haubourg commented on #165
Seems done in master QGIS 3 with the "enforce constraint" checkboxes

![image](https://cloud.githubusercontent.com/assets/1629853/22433280/234df994-e718-11e6-97b7-d58b31b906a0.png)

[2017-01-30 17:19] haubourg commented on #165
@ponceta @m-kuhn @dsavary
Do you confirm this is what we talked about?

[2017-01-30 17:24] m-kuhn commented on #165
Yes

[2017-01-31 07:19] dsavary commented on #165
Yes

[2017-01-31 07:55] #165 closed

[2017-02-06 14:02] haubourg commented on #164
Note: QGIS user group decided to fund Matthias Kuhn to work on that issue

[2017-02-06 14:10] haubourg commented on #125
CLosing, PSC 10/06 did not raise a real need in that area

[2017-02-06 14:10] #125 closed

[2017-02-06 16:05] haubourg opened #166 "Outsource Delta test and upgrade module"
Ask  by @3nids on jan. 18th 2017.
The idea is to make delta feature for conformity testing and upgrade ai submodule from a specific repository.

note : Current logic has drawbacks when it comes sto testing triggers applied to views (that are generated using scripts) .

[2017-02-06 20:49] haubourg commented on #127
@Board Current dwg import works nicely, is that enough to close that qwat issue?

[2017-02-06 20:51] haubourg commented on #160
@sylvainbeo could you estimate how much time is required to do that in QWAT?

[2017-02-07 10:31] haubourg opened #167 "Update upgrade.sh script"

[2017-02-07 15:01] haubourg opened #168 "Add a webpage to site showing all new features funded by QWAT project"
List features, and versions when it landed in the code.

[2017-02-13 14:19] m-kuhn commented on #164
Note: The main target will be the opening speed for feature forms. If there is time left after looking at the loading speed for the relation reference widget, that will be spent on the attribute table. So no promise yet.

[2017-02-13 14:21] haubourg commented on #164
@m-kuhn same here, priority 1 is on feature form loading, attribute table is P2.

[2017-02-21 14:52] haubourg opened #169 "Snapping an hydrant on a pipe en vertex does not merge nodes"
When creating an hydrant snapped on pipe extremity, the underlying node is reused to inherit the hydrant.
When just snapping an existing hydrant to a pipe end, we still have two nodes, and no way to select by attribute query the hydrante- pipe relations.
@3nids is this made on purpose or a design issue?

[2017-02-21 15:05] 3nids commented on #169
it's an issue, on a node inherited class move, there should be a new node creation process (if an exisiting one is found, it should be reused).
This is an easy test case by the way.

[2017-02-21 15:09] haubourg opened #170 "Installation part value list has empty values"
See:
![uploads/1b2cf4d3-b2bd-4b10-9d35-fc291630c842/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F1b2cf4d3-b2bd-4b10-9d35-fc291630c842%2Fblob)

This leads to troubles in UI forms.

[2017-02-21 15:13] 3nids commented on #170
9201 et 9205 sont des doublons.
pour le reste, on peut ajouter les traductions

[2017-02-21 15:42] haubourg commented on #170
@tudor, you have two different names (dop and capăt reţea ), do you consider them as duplicates?
if not, can you provide the french translations?
if they are true duplicates, we'll have to handle data migration in the new version. Which one of 9201 - 9205  should remain?

[2017-02-22 10:13] haubourg opened #171 "qwat data sample backup contains unreferenced installation part type"
Data restore creates a lot of types that are not listed in part_type value list:

![image](https://cloud.githubusercontent.com/assets/1629853/23206204/0fc0ae26-f8ed-11e6-9c2c-3ee69a5cf047.png)

Those values are in 329 to 354 id range.
@ponceta @3nids : are those values inherited from the first POC or are they specific values in Pully's extract?
Any objection for me to randomly correct those values

[2017-02-22 14:29] haubourg opened #172 "qwat data sample contains unreferenced materials for pipes"
see the result for
`select fk_material, count(*) from qwat_od.pipe where fk_material not in (select distinct id from qwat_vl.pipe_material) group by fk_material order by count(*) desc`

splitting a pipe will result in a commit failure on save action.

@ponceta : same question as for parts, those codes are internal extensions or oldish stuff? Should we extend the list or change material codes for a

[2017-02-22 19:22] haubourg opened #173 "qwat data restore procedure needs to upgrade sequences index"
After restoring demo data on a newly initiated database structure, sequences start from 1 and risks to override existing values (which will fail).
A restoring procedure should be provided to fix that.
See https://wiki.postgresql.org/wiki/Fixing_Sequences

[2017-02-24 09:18] haubourg opened #174 "Deleting data use case issues #7"
In the idea of finalizing the demo data sample to v1.2.1 model version, I continued the work started here #2

Removing meters via vw_element_meter

`delete from qwat_od.vw_element_meter a where NOT a.geometry && (st_makebox2d(st_makePoint(559144, 143502), st_makepoint(561817, 140796)))
`

will throw fk constraint errors on meter_reference table

`delete from qwat_od.vw_element_meter a where NOT a.

[2017-02-24 09:18] haubourg commented on #174
adding
DELETE FROM qwat_od.meter_reference WHERE fk_meter = OLD.id;
in ft_element_meter_delete() does the trick.

[2017-02-24 09:29] haubourg commented on #173
I found a tool dedicated here: /tools/fn_qwat_od_update_sequences.sql
Keeping this opened until this is documented or put in a restore script

[2017-02-24 09:41] haubourg commented on #174
but.. that trigger function is generated by the meta-projects recursive scripts..

[2017-02-24 10:06] haubourg commented on #174
SOoo, if I get it well, the solution would be to add a trigger on qwat_od.meter to delete meter_reference on delete. @3nids Can you confirm that I get it well ?

[2017-02-24 10:56] haubourg commented on #174
Same problem occurs with deleting from vw_element_subscriber
[code]
I guess that we have a general issues with reference_* logic and trigger generation process

[2017-02-24 11:27] 3nids commented on #174
Yep exactly.
A delete cascade rule is the way to go.

[2017-02-24 11:35] haubourg commented on #174
Another one on pipes:
`ERROR:  update or delete on table "pipe" violates foreign key constraint "pipe_fk_parent" on table "pipe"
DETAIL:  Key (id)=(1106) is still referenced from table "pipe".`

 Deleting a pipe means first removing only fk_renference to it on other pipes, and then deleting it. Ther is no yet a delete trigger for pipes, should we add one?

[2017-02-24 15:12] haubourg commented on #160
I created a new and more complete demo dataset in qwat-data-sample repository.
@sylvainbeo this is I think a good candidate to use in the testing and release process.

[2017-02-24 15:41] haubourg commented on #92
Hum, just the very old editing option of QGIS "remenber last values in forms" is a first efficient step.
Going further could be storing "edit session profiles" with default templates for all forms.

[2017-02-24 15:42] haubourg commented on #126
We also started on SQL views to show differents topological errors on the fly. Coming soon in QWAT..

[2017-02-24 15:45] haubourg commented on #123
New full data sample 1.2.0 with structure and data allows that.
Now we need to make the doc with pgadmin screencasts

[2017-03-05 23:10] sylvainbeo commented on #167
@3nids What is the purpose of upgrade.sh and upgrade_newinstallation.sh ? Are they still needed ?

[2017-03-06 06:09] 3nids commented on #167
both can be removed.

[2017-03-06 17:12] #163 closed

[2017-03-06 17:12] haubourg commented on #163
duplicate of #163

[2017-03-06 17:14] haubourg commented on #146
Second part of the work started at nextGIS. They will spend 2 days on a RFC / QEP for a better null as NaN handling in QGIS

[2017-03-06 17:14] haubourg commented on #155
First changelog for datamodel added in readme file

[2017-03-06 20:13] haubourg commented on #168
- Default Z value for 3 data [in QGIS 3]
- Refactor node tool to clic-clic instead of drag and drop + usage of advanced digitizing constraints for existing features (was before only for new features)  [in QGIS 3]
- Fixes snapping refresh issue when triggers change geometry in DB after commit (REF ? VERSION .?)
- New plugin History audit trigger to store edits in DB, find them in a nice interface a

[2017-03-07 07:02] tudorbarascu commented on #164
Attribute table improvements already in master and 2.18 (see https://github.com/qgis/QGIS/pull/4230)

[2017-03-07 07:43] tudorbarascu commented on #170
@haubourg For us, a network end can have one of the possibilities: valve, hydrant and **end fitting**.
We differentiate the **end fitting** in two, for plastic pipes (**dop** in romanian - translating as **bouchon** in french - fitted on pipes through **heat sealing** - **thermoscellage**) and for steel pipes (blind - no translation, fitted on pipes through **welding** - **soudage**).
So, at the f

[2017-03-07 16:36] haubourg opened #176 "Survey points and constructions points are duplicate - merge both in survey points"
Discussed in PSC 2017 03 07 -
Survey points miss a layer definition in qgs project and construction points are duplicates of the same concepts.
Lausanne uses surveypoints and has extended it by custom fields. Pully uses aold construction points.

This is a structural change so I guess we should add this to 2.3 version target.

[2017-03-07 16:39] haubourg commented on #176
Here is Lausanne definition,
I think we can pick at least some to extend current survey point definition like precision on altitudes and planar location.

[code]

[2017-03-08 08:42] ponceta commented on #162
Is it possible to define a "close" column to close issues after they're done and avoid having these kind of tickets which should have been closed a while ago ?

[2017-03-08 08:43] ponceta commented on #117
Done and WIP? should be closed!

[2017-03-08 08:44] ponceta commented on #162
https://github.com/qwat/QWAT/issues?q=is%3Aopen+is%3Aissue+label%3A%224+-+Done%22

(labeled as Done tickets)

[2017-03-08 08:54] haubourg commented on #162
"Closed" is already a github tag, and huboard is somewhat fixed to 5 columns. Anyway the columns can be expanded or folded this way, and this is persistent:
![image](https://cloud.githubusercontent.com/assets/1629853/23696612/a70fca30-03e4-11e7-97c0-a0c01a2e20d9.png)
Another point is that keeping a view of done task is helpful for logging (at least to me)

[2017-03-08 09:01] haubourg commented on #117
No, switched back to "Review",  we lack testing to close that so soon

[2017-03-08 15:34] ponceta commented on #176
Related to data-model https://github.com/qwat/qwat-data-model/issues/139

[2017-03-08 15:37] ponceta commented on #172
This is the issue of having custom values in a demo data model. I can provide you sql scripts for these values.

[2017-03-08 15:41] ponceta commented on #171
Duplicate with #172 yes these are custom values from SIA I think:

[code]

[2017-03-08 15:42] haubourg commented on #171
As SIA is a data exchange format, should we not push those into QWAT's core?

[2017-03-08 15:46] ponceta commented on #171
For swiss people yes, of course, for others, maybe not so much. These could be also used as types for automated gps imports. It is easy to deactivate those values using vl_active = false. I'm not sure for SIA, should be confirmed by specialists. :)

[2017-03-08 15:49] ponceta commented on #172
[code]

And here are the values for pipe materials.

[2017-03-14 16:15] haubourg commented on #172
Context notes: those values were in the old data sample, the new one from 02 2017 is using core values.

@ponceta : agreed extending value lists can be a problem. IMHO, in the QWAT group, we should union the value lists as much as possible to guarantee interoperability

[2017-03-16 08:18] haubourg commented on #160
@3nids a new data sample was released as asked at the general meeting 15/03. It has cleaned folios, all remark, repair and description fields have been manually cleaned to keep relevant demo data but with no private information in it (adress, names, company names).

[2017-03-17 15:40] sylvainbeo commented on #160
@3nids @haubourg Work in progress. See :
https://github.com/qwat/qwat-data-model/blob/upgrade/update/verify_upgrade_db.sh

The process is doing the following
https://travis-ci.org/qwat/qwat-data-model/builds/212161058
Watch at line 2262

Now, i have to dump the database, and update the demo-data-sample git.
By the way, do you now if i can do this via travis  ? (i guess so, but for the moment, i ge

[2017-03-17 15:47] m-kuhn commented on #160
Hey @sylvainbeo

For reference, that's how we release automatically from travis

https://github.com/QGEP/datamodel/blob/master/scripts/release_db_template.py

[2017-03-17 16:10] sylvainbeo commented on #160
@m-kuhn Thanks. Cool, i think i'm going to reuse that.

[2017-03-17 16:17] m-kuhn commented on #160
Cool, you possibly want to work on git tags to only release consciously.

[2017-03-17 16:23] haubourg commented on #160
@sylvainbeo I dumped the data only dump using
[code]

[2017-03-20 15:32] sylvainbeo commented on #160
Almost there.
I need to adapt @m-kuhn script for Qwat. In our case, we have to authent to github before we can push the DUMP, because it is store in another repository

[2017-03-20 15:58] m-kuhn commented on #160
@sylvainbeo we also needed to do this with https://github.com/QGEP/datamodel/blob/master/scripts/release_db_template.py#L18-L22

The upload is not pushed to git, but to the releases page of the repository.

[2017-03-20 18:51] sylvainbeo commented on #160
@m-kuhn And where do you get the token from  ?

[2017-03-21 07:36] m-kuhn commented on #160
I think it was somewhere [around here](https://github.com/settings/tokens) or [https://github.com/settings/developers](here).

[2017-03-21 15:07] #127 closed

[2017-03-21 15:07] #117 closed

[2017-03-21 15:07] #116 closed

[2017-03-21 15:07] #162 closed

[2017-03-21 15:11] haubourg commented on #121
@wonder-sk Hi Martin, I hope you're doing well. Can you tell us if things are moving for the new clic clic tool?
We have a question from Lausanne too:
@dsavary asked if it was possible, and if feasable, to extend the prototype plugin to a fully functional one so that they use it during 2.18 LTR lifetime. From what I understood, it required the new snapping classes to work correctly; and they only

[2017-03-21 15:11] #78 closed

[2017-03-21 15:14] haubourg commented on #166
Duplicate of #153 - closing

[2017-03-21 15:14] #166 closed

[2017-03-22 04:09] wonder-sk commented on #121
Hi @haubourg

So we have PR https://github.com/qgis/QGIS/pull/4187 in fairly good shape. From the look of it, the are still few features missing compared to the existing node tool:
- integration with node editor
- better support for circular geometries (mainly display of curved rubber bands)
- validation of geometries (show warnings if editing operation ended up with invalid geometry - e.g. self-i

[2017-03-22 06:53] 3nids commented on #121
@wonder-sk finance is the limiting point at the moment?

[2017-03-22 07:10] 3nids commented on #172
Can we close this?

[2017-03-22 07:29] wonder-sk commented on #121
@3nids maybe - I don't know - I just wanted to make sure that there is budget for the extra bits... I believe my original estimate for c++ port was 4 days. If it is fine to dedicate few extra days to the port, I should be able to get it finished by the end of the next week...

[2017-03-22 07:39] 3nids commented on #174
PR in https://github.com/qwat/qwat-data-model/pull/158

[2017-03-22 07:58] haubourg commented on #171
mm, you make me think that a possible extension / evolution of QWAT would be to store the value list mapping between core values and external standards. That way we could have import-exports views for all standards. Each new contributor would be then responsible of adding its external value list. Extending or merging core values should be always debatted here. IMO this is better than extending val

[2017-03-22 07:59] haubourg opened #177 "Mutualise value lists for better interoperability"
Issues #172  #170 # 171 are issues dealing with value lists that are not common because of customization.
Having them being merged is necessary for a better interoperability between QWAT instances and with standards.
I propose to keep track of  all value list modification proposals here.

[2017-03-22 08:00] haubourg commented on #177
From #171, here is a SIA value list for part_types
[code]

[2017-03-22 08:01] haubourg commented on #171
Main issue is solved with new data sample. Extension of core value list is moved to #177

[2017-03-22 08:01] #171 closed

[2017-03-22 08:37] haubourg commented on #121
@wonder-sk Hi Martin, thanks for the update.
I had planned 5 days for you, and extending some days might not be a problem. Please just tell me if needed so that I keep track of the finances. This tool is really needed, and as you say, must be finished 100% so that users don't complain.

We also had the "visual feedback for snapping" feature with 10 days ready for discussion. Let's finish this task

[2017-03-22 08:54] wonder-sk commented on #121
OK great. I think with ~3 extra days of work we should hopefully have node tool ready for merging. A bit more if the extra functionality needs to be backported to the python plugin for 2.x.

Visual feedback for snapping is high on my to-do list, but yes let's get this bit finished first :-)

[2017-03-22 14:15] sylvainbeo commented on #167
upgrade_db.sh has been updated. It is now working with the lastest change (views, deltas, post-deltas).

2 modes : test and real (test will check if you can migrate your DB, real WILL migrate your DB)

[2017-03-22 15:44] sylvainbeo commented on #167
@3nids I'm going to delete the migrate.sh too. Any objections ?

[2017-03-22 16:01] sylvainbeo commented on #160
@m-kuhn Mmm, but this will be a personnal token. I don't get it.

[2017-03-22 16:03] m-kuhn commented on #160
I think we made a new github user @qgep-bot for this purpose. It's possible that there are other ways (more organization oriented).

[2017-03-22 16:13] sylvainbeo commented on #160
@3nids @haubourg  What do you think. We create a special github user for qwat ? If so. Who will be the owner  ?

[2017-03-27 08:00] sylvainbeo commented on #160
@3nids @haubourg up. WHo should be the owner of this github user ?

[2017-03-27 08:06] 3nids commented on #160
I don't really mind.
A solution could be to use some address like admin@qwat.org.
Anyway, this could be readapted any time.
If you want I can create it, otherwise feel free to do so.

[2017-03-27 08:07] 3nids commented on #167
yep feel free to delete it!

[2017-03-27 10:38] sylvainbeo commented on #160
@3nids yes please. We have to ask Carlos to create the admin@qwat.org so, he is the one who own the domain

[2017-03-30 16:02] haubourg opened #178 "add an empty DDL dump to data-sample"

[2017-03-30 16:08] haubourg commented on #178
asked

[2017-03-31 12:07] sylvainbeo commented on #178
Done in upgrade branch.
2 Dumps are actually made:

- one with structure only for schemas "qwat_dr" "qwat_od" and "qwat_sys"
- one with structure + data for schema "qwat_vl"

[2017-04-03 08:02] qwat-admin commented on #160
sorry for the delay

usr created, credentials under share plaftorm: /technique/github-qwat-admin.txt

[2017-04-03 08:06] sylvainbeo commented on #160
What email adresse did u use ?

[2017-04-03 08:07] 3nids commented on #160
mine @sige.ch we can change it whenever needed

[2017-04-03 13:41] sylvainbeo commented on #160
Ok i've finished the whole process.

@3nids @haubourg @m-kuhn  could you have a quick look at the verify_upgrade_db.sh ( https://github.com/qwat/qwat-data-model/blob/upgrade/update/verify_upgrade_db.sh )  before in launch the PR  ?

@m-kuhn I did not used a python script. All the process is made in the shell script.

Thanks.

[2017-04-07 10:49] wonder-sk commented on #121
https://github.com/qgis/QGIS/pull/4187 should be now feature complete and will be merged soon after notes from reviews are resolved.

[2017-04-11 07:55] haubourg opened #179 "pipe table is not audited"
current audit system does not log edits for pipes.
Probably a migration error.

[2017-04-11 15:19] haubourg commented on #121
@wonder-sk Martin, Thanks for the update.
We discussed the topic this morning in PSC.  As 2.18 will become a LTR and 3.2 is still a bit far away, @dsavary and @ponceta are willing to use the node tool plugin in production. What is still missing is the ability to open the qgsnodeeditor panel when activating this tool.
I could'nt find a sip binding exposed in python. So my questions:
- is it possibl

[2017-04-11 15:55] haubourg opened #180 "python init script does not seem to be loaded when switching row in attribute table"
The issue has been raised twice. Python script is sometimes not loaded when changing form in attribute table.

My first attempts to make it reproducible fail. Let's try to focus it together before raising it in qgis bug tracker.

[2017-04-11 15:59] haubourg commented on #180
Here is an archive with a simple project file + gpkg dataset.
[BUG_INIT_FORM_NOT_LOADED.zip](https://github.com/qwat/QWAT/files/913862/BUG_INIT_FORM_NOT_LOADED.zip)

[2017-04-11 16:01] haubourg commented on #180
@sylvainbeo @dsavary Hi, Could you check with the dataset above if you spot a case where the init logic is not satisfied?
(opening the form should just open a message box)
Maybe it's datasource dependent?

[2017-04-12 06:43] ponceta opened #181 "QWAT on QGIS 3.4.X"
Hi,

I propose to add here all the points which are problematic towards a migration to QGIS 3.0 (actual 2.99) from existing project to project in v 3.0.

 - [x] Symbology, labeling : anything expression based is broken due to boolean handling on Postgres see _dirty hack_
 - [x] Legend : z order is not respected (@wonder-sk)
 - [x] Map composers: it seems atlas generation config is lost (@nyalldaws

[2017-04-12 06:54] ponceta commented on #181
![image](https://cloud.githubusercontent.com/assets/8614223/24944560/11d8f91c-1f5c-11e7-9cd2-66db99093eb8.png)

For Pully, forms are correctly transfered, simple styles too, conditionnal styles are not (have to investigate why), edition works, composers seems to be ok except for conditionnal styles.

+ For users :
Ajout du copier déplacer
![image](https://cloud.githubusercontent.com/assets/8614223

[2017-04-12 07:33] sylvainbeo commented on #180
@haubourg Indeed with your project it seems to work fine.

[2017-04-12 11:25] ponceta commented on #179
Network audit without pipes? Aieuh...

[2017-04-13 09:50] haubourg commented on #181
To me it's still a bit early to start this work ,but raising the issues on conditionnal style to QGIS dev's can be usefull.

[2017-04-13 11:52] wonder-sk commented on #121
Unfortunately node editor is not available in QGIS API... We would need to basically take the node editor panel and reimplement it in the Python plugin. However, I am wondering if it would not be enough to just use the advanced digitizing dock widget - that one can be used to fix coordinates of node without dedicated node editor table...

If we decide to reimplement node editor within the python p

[2017-04-14 14:45] #174 closed

[2017-04-24 09:22] varrieta commented on #177
@haubourg Here a list of the different part_types we have in the ESRI model:
bride de raccordement (pièce de raccordement),
collier de prise (pièce de raccordement),
réduction normale (pièce moulée),
coude horizontal (pièce moulée),
coude vertical (pièce moulée),
pièce en T (pièce moulée),
capuchon (élément d'obturation),
manchon raccord acier-PE (manchon),
raccord multi-joint (manchon),
raccord p

[2017-04-24 15:28] haubourg opened #182 "add a way to store links to pictures ?"
@varrieta asks if QWAT planned to add a way to store and display pictures on any element.
QGEP has those capabilities and users probably need that.
Being aware of the QEP for document management system, referencing pictures on a network drive on some objects could be done like in QGEP. Any opinion?

[2017-04-24 16:12] ponceta commented on #167
+1

[2017-04-25 14:01] haubourg commented on #121
Ok thanks for that.

Not sure I get your point. From what I get, this panel is only for new feature creation in 2.18 and only allows to precisely put XY drawing based on distance or angles. What Lausanne asks is to be able to set the Z value.

 @dsavary here is the estimate then :)

[2017-04-26 09:34] ponceta commented on #146
For Pully we detected some issues using snapping on QGIS 2.18.X

If a 2D layer is in edit mode, snapping first element to a 3d point or 3d line will create a 3d object which will fail when saving to the DB. Same occurs in the opposite sense (3d -> 2D)

QGIS should be smart enough to allow only drawing corresponding geometries to DB layer geometries selected types AS loaded in QGIS.

[2017-04-26 09:47] wonder-sk commented on #121
Oh I see - I thought the requirement was to set X/Y coordinates only... For Z values we would indeed need the node editor table.

[2017-04-26 10:59] ponceta opened #183 "QWAT Server / Client specs"
As in https://github.com/QGEP/QGEP/issues/308

I ask here what would be good specs for client and server for QWAT.

I'm talking about server recommanded CPU and RAM in particular but of course other specs could be add like PG version and so on (which is in the doc)

Having some rendering latency issues on QGEP, this will probably impact my QWAT Users (since both are working on the same server)

Ha

[2017-04-26 13:09] #179 closed

[2017-04-26 13:09] haubourg commented on #179
Solved in 1.2.6

[2017-04-27 15:10] haubourg opened #184 "Add status for pipes ?"
Hi, question raised by varrieta.
GeoCom ESRI figures a status field to describe if a pipe is in good, poor, or bad shape.

According to Denis, as it is rare to have real inspections on water pipes, information is rarely available. It is in general estimated using the age, materials and leaks frequency.

I couln't find that information in SIA or SIRE format.

So is anyone interested in handling suc

[2017-04-27 15:14] haubourg opened #185 "Add material on installation parts"
Need raised by @varrieta
Gecom Data model, like SIA 405 2015 (p108), has materials on node components, aka installation parts in QWAT.
It figures the following values (fr):
[code]

Is that a need shared by others?

[2017-04-28 06:01] varrieta commented on #184
I agree with Denis and it's not a problem for us not to maintain this field.

[2017-04-28 13:58] haubourg commented on #184
Ok then, I close the issue. Please reopen if necessary

[2017-04-28 13:58] #184 closed

[2017-04-28 14:00] haubourg commented on #76
Hi, can we close this issue. I assume the export views are doing the work already?

[2017-04-28 14:05] haubourg commented on #140
Moved to Mid 2017

[2017-04-28 14:07] haubourg commented on #151
Moving milestone to future since this has not yet been clearly decided

[2017-04-28 14:09] haubourg commented on #156
That grid will be usefull for documentation and spreading of QWAT

[2017-04-28 14:11] haubourg commented on #146
milestone pushed to mid 2017. Main part is done. Reviews welcome

[2017-04-28 14:13] haubourg commented on #167
Work done in PR #164 . waiting for review

[2017-04-28 14:17] #118 closed

[2017-04-28 14:17] haubourg commented on #118
Tests seem to be done since August. Closing the issue

[2017-04-28 14:18] haubourg commented on #84
moving milestone to mid 2017

[2017-04-28 14:20] haubourg commented on #92
@qwat-board closing the issue by lack of feedback. Please reopen if necessary.

[2017-04-28 14:21] #92 closed

[2017-04-28 14:25] #123 closed

[2017-04-28 14:25] haubourg commented on #123
since #178, several dump files are available allowing to deploy QWAT without using the init script. Closing the issue

[2017-04-28 14:26] #178 closed

[2017-04-28 14:26] haubourg commented on #178
closing, work is done

[2017-04-28 14:27] haubourg commented on #169
Planning that to mid 2017 and raising priority

[2017-04-28 14:35] #180 closed

[2017-04-28 14:35] haubourg commented on #180
Closing it, we can't reproduce the issue

[2017-04-28 14:44] haubourg commented on #177
I created a label to identify all issues concerning value lists

[2017-04-28 14:50] haubourg commented on #185
This issue was moved to qwat/qwat-data-model#170

[2017-04-28 14:50] #185 closed

[2017-04-28 19:39] tudorbarascu commented on #183
@ponceta For db, take a look at https://momjian.us/main/writings/pgsql/hw_selection.pdf

[2017-05-01 14:02] dsavary commented on #151
In our water network (Lausanne), in most cases, the part are not placed on the pipe ends (node). Only hydrants, particular valve, source (adduction), tank and subscriber are placed on node , at the pipe ends.

[2017-05-01 14:12] dsavary commented on #146
good news !

[2017-05-01 14:56] dsavary commented on #92
The idea is to have a tool for the user to configure a set of default values on different layer. The user can define et change the diverse values depending on the work that the user should do.
For now, the plugin "Autofield" allow to do a part of this process.
Needs for improvement :
- show the value on the the feature form before saving the new feature.
- Define several value on the same attribut

[2017-05-01 15:14] dsavary commented on #180
Sorry for my late response.
I cannot reproduce the problem. The init script load well when we open a feature form or when switching row in attribute table. Everything is ok.
The only small problem that I had seen is when we open a form of a new feature. The init script is load once when the form open and once again after we valid the form. Perhaps, this behavior is normal...

[2017-05-01 16:45] dsavary opened #186 "Bugs when use the widget "reference value" with the 2 or more filters and the active option "Chain filters""
For the form of layers "pipe" and "valve", we have set a "relation value" widget for the choice of material, diameter options on the feature.
When we use the widget relation value with 2 or more filters and active the "chain Filters" option, the values proposed in the last drop-down list ignore the previous choices (previous filters).

For the example and to test , I put a project here : [https://

[2017-05-02 14:14] ponceta opened #187 "Move selection to the top QGIS 2.18.X (tracking on QGIS)"
Since QGIS 2.18.X, Move selection to the top is broken.

QGIS Tracking Issue
https://issues.qgis.org/issues/15803

Fix Tracking
https://github.com/qgis/QGIS/pull/4306

[2017-05-02 19:00] haubourg commented on #187
It happens only when playing with sorting. Luigi seems to be narrowing down the issue (and could squash three bugs in the same fix). Let's check again in latest release-dev or 2.18.8 when the fix is applied

[2017-05-04 10:20] haubourg commented on #155
We now have a public changelog for data model here https://github.com/qwat/qwat-data-model/blob/master/README.md

and a detailed changelog for project management here : https://github.com/qwat/QWAT/wiki/QWAT-audit-log

[2017-05-04 11:35] haubourg commented on #183
@ponceta Did you find improvements applying what's been proposed in QGEP's thread or do you need us to make dedicated tuning work of your server's and global architecture ?

[2017-05-04 12:12] haubourg commented on #91
Postponing this to End 2018, should be inlined with the potential rework for a full SIA compatibility, which could be a 1.4 target for QWAT

[2017-05-04 12:15] haubourg commented on #76
@3nids Can we close that Denis?

[2017-05-05 09:11] haubourg commented on #89
Tested in QGIS master and it works! thanks @wonder-sk  :)

[2017-05-05 09:11] #89 closed

[2017-05-05 11:07] haubourg commented on #164
@nyalldawson I just tested and it seems quite fast. Is there any more attribute table work in progress?

[2017-05-05 11:30] nyalldawson commented on #164
@haubourg

No more plans here for now, sorry. There's still a *lot* we can/should do though.

[2017-05-05 12:03] ponceta commented on #164
I get 2 seconds to load 20k point features and more than 50 sec to load the 10 k linestring features (pipes) on QGIS 2.18.7 Any hints on how to investigate this?

I have a 10 sec loading time on pgadmin for the same table (with all alternative geometries).

Loading it without joins takes approximatively 2 seconds. On QWAT we have 5 joins for values list (function, protection, pressure zones, statu

[2017-05-05 12:24] ponceta commented on #187
I get it every time I select from map on QGIS 2.18 :

![](http://i.imgur.com/rqCjq8w.gif)

[2017-05-05 12:36] haubourg commented on #164
Ho, I didn't test using joins in QWAT context. Good catch Arnaud

[2017-05-05 13:17] ponceta commented on #164
I optimized a bit the joins by omitting all unusefull joins and its much much faster.

For me it's OK.

Thanks for the speedup @nyalldawson !

[2017-05-05 13:30] ponceta commented on #183
I see all elements I needed in https://github.com/QGEP/QGEP/issues/308

@tudorbarascu thanks for the link.

@haubourg Actually QWAT runs pretty well on our server, (Processors and RAM are pretty large in terms of what is really used.)

I know understand Specs are organization size dependant for these aspects.

[2017-05-08 11:07] ponceta opened #188 "[Website] enable www.qwat.org redirection."
www.qwat.org ends on :

![image](https://cloud.githubusercontent.com/assets/8614223/25801730/4253c0f2-33ef-11e7-85a0-e3a5998b5bc2.png)

[2017-05-08 12:19] dsavary commented on #186
@haubourg these bugs can be fix for QGIS 2.18 ?

[2017-05-08 12:29] dsavary commented on #146
I test the reshape tool in QGIS 2.99 (On Window). There is still the value "nan" for the Z when extending a line. The work of NextGIS is still in development phase ?

[2017-05-09 06:13] haubourg commented on #146
hi Daniel, I can reproduce that, this is a full regression, which shouldn't have been possible with unit tests.
It's possible that the click click node tool merge did break it all.
@wonder-sk @simgislab : we have a full regression of default z value. Any idea what happened ? Do we really have units tests here?

[2017-05-09 06:39] 3nids commented on #164
What did you optimized? Column choice?

I would have thought that performance issues would have come from edit
widgets rather than joins, that's interesting.

Le ven. 5 mai 2017 à 15:17, Arnaud Poncet-Montanges <
notifications@github.com> a écrit :

[2017-05-09 06:39] 3nids commented on #76
Still open, we will tackle this by the end of the summer

[2017-05-09 06:57] 3nids commented on #151
We are moving towards the same idea.
+1 to move them apart and to make them behave like valves.

Le lun. 1 mai 2017 à 16:02, Savary <notifications@github.com> a écrit :

[2017-05-09 06:58] sylvainbeo commented on #188
En cours de redirection.

[2017-05-09 08:51] ponceta opened #189 "Add editing profiles to QWAT (productivity)"
The idea here is to add productivity options allowing to switch user forms, default values and constraint for specific en-masse use cases.
UX could be a startup macro raising a Dialog to choose which profile to use. Even better (but later on), being able to launch QGIS with a startup option could allow to call desktop shortcuts directly to a profile.

# Minimum requirement :
* A dialog can be call

[2017-05-10 07:01] haubourg commented on #187
The issue has been identified at the hackfest here:
http://osgeo-org.1560.x6.nabble.com/QGIS-Developer-attributetable-15803-quot-Sort-on-Top-quot-regression-or-feature-td5319850.html

[2017-05-10 10:31] haubourg commented on #188
aujourd'hui, on a ça:
[code]

[2017-05-10 13:31] haubourg commented on #182
General comittee decided not to implement the solution currently in QWAT arguing it is the rôle of a proper document management system.

[2017-05-10 13:31] #182 closed

[2017-05-11 03:57] wonder-sk commented on #146
I have not been really involved in that work - I assume the reshape tool just was not updated within PR https://github.com/qgis/QGIS/pull/3905 to use the default Z value as well?

[2017-05-29 06:59] haubourg commented on #136
For the record,
a new qgis contributor named L. Bartoletti is adding core classes to digitize circles, rectangles and ellipses in QGIS.
see: https://lists.osgeo.org/pipermail/qgis-developer/2017-May/048605.html

He seems to be the autor of QAD and CADDigitize plugin.

[2017-06-01 10:10] dsavary opened #190 "Relation reference widget - filter lists are not refreshed in attribute table form view"
I create this issue on QWAT github to not forget this report bug on QGIS.
bug report QGIS : [https://issues.qgis.org/issues/16400](https://issues.qgis.org/issues/16400)

[2017-06-01 10:10] dsavary commented on #190
For Lausanne, it's important in order to work with QWAT in production.
@haubourg , will this bug be fixed for QGIS 2.xx LTR ? or QGIS 3.0 ?
Can we put this issue on top priority for QWAT team ?

[2017-06-01 11:08] dsavary opened #191 "Relation widget reference fails if filter value contains a quote"
QGIS bug report : [https://issues.qgis.org/issues/16399](https://issues.qgis.org/issues/16399)
Moderate priority

[2017-06-01 12:14] haubourg commented on #191
Work planned for the end of june/ early july

[2017-06-01 12:17] haubourg commented on #164
@ponceta can you test again with 2.8.9, it seems a lot of performance regressions have been tackled last week.

[2017-06-01 12:50] dsavary opened #192 "switching between layer styles breaks relation widget"
QGIS bug report : [https://issues.qgis.org/issues/16100](https://issues.qgis.org/issues/16100)
Moderate priority for Lausanne

GIF for the demo :
[https://share.oslandia.net/public/6c8aed](https://share.oslandia.net/public/6c8aed)

[2017-06-01 13:15] haubourg commented on #190
Yes, the whole package with the qgis issues you raised about forms is planned for june/july

[2017-06-01 14:40] dsavary opened #193 "[QGIS] Snapping on invisible feature"
In QGIS, we can snap on invisible features even if the snapping options have been defined as "snap on all visible layers". The snapping options don't take into accoount the layer style.
Will this be fixed for QGIS 3.0 ?

Démo GIF : [https://share.oslandia.net/public/b91c8e](https://share.oslandia.net/public/b91c8e)

[2017-06-01 14:59] dsavary opened #194 "scroll bar locked when opening a form in read-only mode"
For a multiple selection attribute, we cannot see the complete list because de scroll bar is locked.
It's only possible to see the values by switching into edit mode.

See the Demo GIF  [https://share.oslandia.net/public/b40a2c](https://share.oslandia.net/public/b40a2c)

[2017-06-01 15:07] haubourg commented on #193
Hi @dsavary
let's split it in two phases:
- do you have  qgis 2.99 installed? That could let you test directly in qgis nightlies. You can have them using the osgeo4w installer, and updating is only a 5-6 click job (just run the osgeo4w/bin/setup.bat and choose advanced installer)

- before fixing what appears to you as a bug, it must be discussed and see if it really is a bug or a feature for all

[2017-06-01 15:16] haubourg commented on #194
raised upstream https://issues.qgis.org/issues/16654

[2017-06-01 15:18] haubourg commented on #194
@pblottiere can you evaluate that issue when you'll start the bugfix work on forms?

[2017-06-01 15:45] dsavary commented on #193
I tested with QGIS 2.99 3 week ago. The bug is still not fixed.
I talk about invisible feature that are unchecked classes .
The snapping options check only if the layer are checked. Perhaps, it's not a bug, but a new feature request .

[2017-06-01 15:49] dsavary commented on #186
Planned for june/july on QGIS 2.xx LTR ?

[2017-06-01 15:52] haubourg commented on #193
Ok, this case is probably an issue. Let's raise the issue on the mailing list.

[2017-06-01 16:00] haubourg commented on #193
thread opened here http://osgeo-org.1560.x6.nabble.com/issue-with-snapping-on-unchecked-legend-classes-td5322685.html

[2017-06-01 16:07] dsavary commented on #154
Can we put the label Top priority for this issue ?
Will this fixed for the QGIS version 2.xx LTR ?
We cannot use the relations between layer in edit mode . The opening of the form is too slow for the users.

[2017-06-01 16:21] haubourg commented on #154
@m-kuhn you told me you refactored things there. Can you tell us or point us to a PR to get what's the status here? Is there any chance the solution could be backported to 2.18 or is that a too heavy refactor?

[2017-06-02 06:30] m-kuhn commented on #154
I started these improvements but never got around to finish it, but want to look at it again soon.

It will be hard to justify a backport, it's effectively a new implementation for the relation reference widget. This could possibly also done in a plugin implementation but it would be a considerable amount of work.

[2017-06-02 09:06] dsavary commented on #147
About the visual feedback of snapping type, I think that we can use the same symbol as AutoCAD snapping tool. Many users are used to see these symbols. The use of different colors is not important, but why not.
I think that it's important that we use "cross" for intersection snap and "circle" for vertex snap and that the symbol is perhaps larger than now in QGIS (as node tool).

About the differen

[2017-06-02 13:19] dsavary commented on #121
I tested the new "node tool" on qgis 2.99 (window) . very efficient to snap . good job.
I found 2 problems :

- It don't take the Z defaut value of the project when you extend a 3d line .
- You can't open the "node/vertex editor panel" from the point layer when there is a point snap to a line and the two layers are in "edit mode". It open only the "node/vertex editor panel" from the line layer.

T

[2017-06-02 13:39] dsavary commented on #139
I tested this new tool (Copy and move selection) in QGIS 2.99 (Window).
Some comment:
The visual feedback of snapping (symbol) is not the same as the other basic CAD tool (cross). perhaps too small. Why ?
There is a bug  when you use this tool and snap the feature to a 3D line . If the z coordinate of the line is equal to 0 , the snapping is precise, else the snapping is not precise.
Demo GIF : [h

[2017-06-02 13:48] dsavary commented on #146
I tested with QGIS 2.99 .
Ok for the z  default value when you create a new feature.
However, some bugs :

- Reshape tool don't take the z default value and keep "nan" value for the z coordinate
- Extend with "node tool" take the value 0 for the z coordinate
demo GIF : [https://share.oslandia.net/public/bab7e8](https://share.oslandia.net/public/bab7e8)
- Create a "point" memory layer with the Z/M

[2017-06-02 13:57] dsavary commented on #147
I tested the new snapping tool with QGIS 2.99 .
Some comments :
- intersection snap seems to not work with 3d layer
demo GIF : [https://share.oslandia.net/public/186efd](https://share.oslandia.net/public/186efd)
- add snap intersection between line (or polygon) and circular arc

I think that it's important in the future that all CAD tools in QGIS use the same snapping symbols

[2017-06-02 14:09] haubourg commented on #154
@dsavary all we can do is attempt to optimize what you are loading and widget configurations it seems.
Can you share your widget and relation configuration + screencast of the behavior?

[2017-06-02 15:00] dsavary commented on #154
@haubourg  a demo GIF to show the problem :
[https://share.oslandia.net/public/717c65](https://share.oslandia.net/public/717c65)
We use simply the relation widget in a form to show relation between two layers (for example, leak and pipe)
Do you want a project demo ?
I tested to make the relation with a layer without joints , I have the same problem.

[2017-06-02 15:01] m-kuhn commented on #154
@dsavary does it work for you to check "show readonly line edit" the relation reference widget configuration?

[2017-06-06 07:19] dsavary commented on #154
@m-kuhn Yes , it's better and faster with this options . Thanks.
But, if the "parent" layer is in "edit" mode (in my example, the layer "pipe" ) , it's always slow.
I can add a second time the parent layer in my project without symbology as a list of values. The user cannot set this layer into edit mode, but can click on it to identify the relation. It's ok like that. :)

[2017-06-06 07:29] m-kuhn commented on #154
I think "transaction mode" prevents from querying in parallel when the project is in edit mode.

Can you validate this hypothesis by disabling transaction mode on a slow layer? (I'd have an experimental idea how to fix this).

[2017-06-06 08:21] haubourg commented on #192
@pblottiere issue to inspect when you start the form bug fix tasks

[2017-06-06 09:23] haubourg opened #195 "Define user specifications for routing functions"
This ticket is here to discuss what user use cases and specifications  are required to handle routing features proposed in https://github.com/qwat/qwat-data-model/issues/171

[2017-06-06 15:22] ponceta commented on #188
![image](https://user-images.githubusercontent.com/8614223/26837071-c291ae2e-4adc-11e7-9dbf-413d321da5d4.png)

[2017-06-06 16:42] haubourg commented on #188
Fixed, thanks for raising the issue!

[2017-06-06 16:42] #188 closed

[2017-06-07 06:49] dsavary commented on #154
If the "parent" layer (pipe) is in "edit" mode or/and if the "transaction mode" is active, the opening of the form (from the "child" layer) is very slow. In read only, it's ok and faster.

[2017-06-07 07:05] m-kuhn commented on #154
If transaction mode is disabled, it is faster?

[2017-06-07 07:07] dsavary commented on #154
yes

[2017-06-07 07:11] haubourg commented on #154
Are you talking about transaction group mode (in project properties) or something else?

[2017-06-07 07:20] m-kuhn commented on #154
yep, transaction group

[2017-06-07 07:28] dsavary commented on #154
it's important that the layer is in **READ-ONLY** mode. the option "transaction group" can be disable or not.

[2017-06-08 04:40] tudorbarascu commented on #183
@ponceta Can this be closed?

[2017-06-08 21:12] wonder-sk commented on #121
@dsavary The issues should be fixed now in qgis master

[2017-06-12 12:32] ponceta commented on #183
Yes!

[2017-06-12 12:32] #183 closed

[2017-06-12 12:40] #155 closed

[2017-06-12 12:43] 3nids commented on #139
@wonder-sk can you have a quick look to the demo? Does this snapping issue speak to you?

[2017-06-12 13:31] wonder-sk commented on #139
Haven't seen anything like that before. Snapping routines  should only consider 2D coordinates. Maybe a bug in the move/copy feature map tool?

[2017-06-12 13:48] ponceta commented on #194
If we follow the other tools logic, it should only display selected values when not in edit mode, thoughts?

[2017-06-12 13:50] ponceta commented on #193
About snapping in QGIS 3 https://github.com/QGEP/QGEP/issues/330

[2017-06-12 15:01] 3nids commented on #139
looking into it

[2017-06-12 19:24] 3nids commented on #139
hopefully fixed in https://github.com/qgis/QGIS/commit/b3bd45b052cd4a0a6e0030a91b701121b5a948c2

@dsavary can you test and let me know?

[2017-06-14 16:49] dsavary opened #196 "Advanced digitizing panel : the "rubberband" disappear after a zoom extent"
We work on QGIS 2.18 to train ours users with the CAD tool and advanced digitizing panel.
When we begin to draw some feature with the advanced digitizing panel on a little area (scale : 1:500), everything is working well.
But, when we do a zoom extent and zoom in on  another area, the "rubber band" from the advanced digitizing panel disappear . We don't see the "green line" for the angle and the "

[2017-06-15 06:47] ponceta opened #197 "Question : Importing views as QGIS layers"
Hi,

Is it possible to define the id in the views to load these more easily than having to select id from entity everytime when loading a view?

![image](https://user-images.githubusercontent.com/8614223/27168546-6e1de13e-51a6-11e7-9248-dc7afd1b4448.png)

[2017-06-15 07:11] ponceta commented on #197
AS I understand it, views in postgres can't have PRIMARY KEY (https://stackoverflow.com/questions/11667508/how-to-add-primary-key-to-view)

(Oracle has)

It is an issue for Open/libreoffice editing in postgres too.

It could be an issue for ETL editing like FME probably.

[2017-06-15 07:13] ponceta commented on #197
@vpicavet any hope this could change in the next years?

[2017-06-15 07:21] tudorbarascu commented on #197
@ponceta I think a convention to specify the unique id in the table comment could work. Don't think anything like that is implemented though.

[2017-06-15 07:37] haubourg commented on #197
Hi, in fact if you use the browser panel to load, QGIS will try to find alone the most suitable unique id field.

[2017-06-15 07:51] ponceta commented on #197
Why having different behaviours? Data source manager should have default suggest the most suitable id field and propose to the user to change it if necessary?

Thoughts?

[2017-06-15 08:34] ponceta commented on #197
And this valid for standard layers too (show the selected column chosen as unique id)

[2017-06-15 09:10] ponceta opened #198 "QGIS : Zooming to an entity with no geometry results in a freeze for navigation interface"
If an entity has no proper geometry, zoom to this selected feature will lock the canvas at current state with no error message.

![zoom_to_selection_no_geom](https://user-images.githubusercontent.com/8614223/27173997-ca3714ea-51ba-11e7-9e80-0cc9312ad895.gif)

![image](https://user-images.githubusercontent.com/8614223/27174085-26ce6ef6-51bb-11e7-8a48-270b337e7f22.png)

[2017-06-15 09:12] ponceta commented on #198
Workaround to unlock, select a feature with proper geom and zoom to this feature.

[2017-06-15 09:28] tudorbarascu commented on #198
Should have been fixed in https://github.com/qgis/QGIS/commit/eabdb656a2f152c6c04a9df8d533e8b9c3884199

Guess it regressed.

[2017-06-15 09:32] 3nids commented on #198
was fixing it....
I am taking care of zoomToSelected

[2017-06-15 09:46] 3nids commented on #198
oh and it's 2_16 only
taking care of master (and 2_18?)

[2017-06-15 10:02] 3nids commented on #198
now fixed in master and 2_18

[2017-06-15 10:02] #198 closed

[2017-06-15 12:23] ponceta commented on #164
It's generally better as I felt. Since not many of my users are on 2.18 yet they can't feel it right now.

[2017-06-15 13:47] 3nids commented on #196
fixed in [master](https://github.com/qgis/QGIS/commit/40e5ddad30dc2cdf55b1615df906149520227f98)

struggling a bit for 2.18

[2017-06-15 16:23] haubourg commented on #197
Well, UX consistency is an issue in QGIS. Another explanation can be that the browser tab has its own thread to scan datasources and do not freeze the main thread, which is not the case for the classical DB dialog.
That would be worth opening a feature request in QGIS for sure, I had the same reaction a few weeks ago.

[2017-06-16 09:50] haubourg commented on #186
yep

[2017-06-16 11:36] haubourg commented on #168
@3nids could you enrich that so that we can push it to the website? I think there are a lot of things in your [commit history](https://github.com/qgis/QGIS/search?o=asc&q=3nids&s=committer-date&type=Commits&utf8=%E2%9C%93) :)

[2017-06-20 14:02] 3nids commented on #168
from my self:

- new snapping widget (Q3)
- drag'n'drop designer (Matthias finished the work)
- new attachment widget (Q3)
- copy-move feature map tool (Q3)
- identify map tool menu (1fb524f1195251833edef4637a619cb76ec37ead)
- map layer and field comboboxes
- custom widgets infrastructure for Qt Designer
- date/time edit widget refactoring
- relation reference widget: map picker tool
- user input

[2017-06-21 07:01] haubourg commented on #147
@wonder-sk
Hi Martin, following yesterday's general QWAT meeting, we decided to  implement this year only the symbol change for vertex / endpoint / segment stuff. The interactive layer choice and snapping priorities won't make it in the budget for now and will be postponed to 2018. Did you start any real work in that area?

[2017-06-21 13:47] dsavary commented on #147
@wonder-sk @haubourg
Hi, but for Lausanne, it'is important that the basic snapping type "intersection" (display with a cross symbol) works between :
- 2 lines
- 2 circular arcs
-  1 line and 1 circular arc

the same for the intersections between the polygon edges

[2017-06-21 14:14] dsavary commented on #196
@3nids  impossible to fix this for the version 2.18 LTR in septembre :)  ?

[2017-06-21 15:20] dsavary commented on #139
@3nids I test with QGIS 2.99 (009e47e) and it seems to be working well with 3d layers. Thanks !
However, it's difficult to use the tool "Copy / move selection" without seeing snapping symbol (red cross) .
The snapping works but no symbols appear on the map. A bug ?

[2017-06-21 15:59] dsavary commented on #121
@wonder-sk thanks ! the first point (extend line) is ok. But, for the second point, it doesn't work if the points are on the ends of a line, It works well on intermediate vertex of a line.
The problem is still present if the points are on the edge of a polygon (layers must be in edit mode).

[2017-06-21 16:10] dsavary commented on #193
For Lausanne, this issue is important. In the priority, it should be fix for QGIS 3.0 , ideally for QGIS 2.18 LTR if it's still possible. I don't understand the use cases where you would snap the new feature to invisible features on the map ...

[2017-06-21 16:24] dsavary commented on #147
After some tests on QGIS 2.99 , the snapping type "intersection" doesn't seem to be working well , even between 2 lines. It's impossible to snap precisely on the intersection.

[2017-06-22 08:33] 3nids commented on #196
I gave it a try but don't understand the issue, weird.

[2017-06-23 12:18] dsavary opened #200 "Plugin pg_history viewer"
I test the plugin pg history viewer and have some remark :

- no documentation about the configuration
- I can find the replay function
- This plugin work only on a last release of the QWAT model ? not generic ?
- error python when I search a pipe with the ID
- The right dialog box doen't refresh
- write user and password for the connection in plain text

Demo GIF : [https://share.oslandia.net/pub

[2017-06-23 12:29] haubourg commented on #200
@dsavary I remember having asked for testing quite a few times since january, thanks for testing now. Let's keep constructive together, building complex features takes time.

And yes, we had hard time pushing it into QWAT's model because the triggers on views where making the version control system to fail and we had to rework it.

The plugin aims to be generic, I used it into another project. It

[2017-07-03 20:37] pblottiere commented on #191
I launched a PR about this issue : https://github.com/qgis/QGIS/pull/4810

[2017-07-04 12:05] haubourg commented on #147
@wonder-sk Martin, is there anything new on this front, now that the feature freeze is getting closer (reminder was : implement the first part of visual snapping, only have symbol changing following the snapping type). Thanks for your feedback

[2017-07-05 09:08] wonder-sk commented on #147
Hi @haubourg sorry for the delays as I got sidetracked with other duties. I have not started working on this bit yet. If we are talking about different visual indicators only, that should be hopefully straightforward to address. I am about to tak a few days off, but I think I could look into that during the next week...

[2017-07-05 09:11] haubourg commented on #147
@wonder-sk Thanks for the update and enjoy the days off !

[2017-07-05 14:13] tudorbarascu opened #202 "Add to the qgs project the ouvrages_polygon layer"
Hi,

On my localized project we're using another layer named  **ouvrages_polygon** (translated) which is the same as **ouvrages** except it points to the polygon_geometry.

I would like to at this to our baseline project.

Do others use the polygon_geometry?
Opinions?

[2017-07-05 16:05] haubourg commented on #202
As long as it shows a QWAT hidden capability, I'm +1 in exposing it.
We need to add geometries examples to the data sample dumps. Could you add here some realistic screenshots so that I know what kind of drawing can be expected and push some in the dataset ?

@3nids do you use that geometry?

[2017-07-05 16:20] tudorbarascu commented on #202
For a water-flow meter installation (chambre debitmetre), you can describe it as a point but you can also describe the installation boundaries.

See a QWC2 gif where you can see the installation chamber, the point representing the flow-meter and also the cover (couvercle) in the bottom right corner of the polygon.

![demo](https://user-images.githubusercontent.com/3179646/27873960-80c8883c-61b6-11

[2017-07-05 16:44] haubourg commented on #202
@tudorbarascu @3nids while on it, I see no trigger to initialize the geom_polygon of installation when creating a new element.
How do you handle the creation of a geometry on an existing point with NULL geometry?
I tried the "add part" edit tool with no result and failures inside the DB logs related to audit trigger and NULL hstore (v 1.2.6).

Should we add a layer action to initialize a polygon g

[2017-07-05 16:57] tudorbarascu commented on #202
We always add a point installation before making use of the addpart tool and create the polygon geometry.

I would prefer not to automatically generate the polygon as I wouldn't want map users forgetting on how the polygon was created and taking it for real.
We could mitigate this with styling (e.g. generated polygons with that exact geometry would be in a specific named group etc.). However, mayb

[2017-07-05 17:01] tudorbarascu commented on #202
@haubourg Whoops, that's what you proposed. Yes.. that's what we want. Doh...

[2017-07-05 17:06] haubourg opened #204 "Add a user action on installation to start digitizing a polygon"
following Tudor suggestions here #202 a user action to begin adding a geometry polygon part to an installation would be a nice shortcut to help user understand the workflow.

Currently adding a new installation from a polygon layer will fail because of a not null constraint on point geometry (which is good) , so it relies on a good user training.

Not sure it is so easy to do from an action:
- lau

[2017-07-05 17:13] tudorbarascu commented on #202
@haubourg cool.
``then something is broken in my install``
I just tested with the latest data model and it works.

[2017-07-06 08:06] ponceta opened #205 "QWAT Customizer"
Like QGEP customizer, QWAT should have its qgs project file translation process.

Similar scripts as QGEP customizer could be used.

[2017-07-06 08:07] ponceta commented on #205
Low priority for us actually.

[2017-07-06 08:09] ponceta commented on #202
This is used in Pully as well, should be in the demo project.

[2017-07-06 18:23] tudorbarascu opened #206 "Document why and how the pipe geometry_alt1 geometry_alt2 exist/work"
In Romania we're not using the pipe ``geometry_alt1`` and ``geometry_alt2`` pipe columns.
I've searched the  baseline project and there's no layer based on those geometries.

How are you guys using this?

I think this plus some other things that are not clear need documenting so I would also like to start documenting them.
I think it's not a problem if we mix English with French in the user manual

[2017-07-06 18:43] pblottiere commented on #192
I created a PR about this issue : https://github.com/qgis/QGIS/pull/4822

[2017-07-06 18:48] tudorbarascu commented on #206
-  ``update_geometry_alt1(2)`` are ``NULL`` OR 't' the ``geometry_alt1(2)`` are mirroring the ``geometry`` column.

[2017-07-07 07:13] haubourg commented on #206
From what I see, geometry_alt_2 is used in vw_pipe_schema_visibleitems in layer "conduites edition 5000" .
Denis told me that the geometry_alt_1 is currently not used but was asked by Morge.

When starting an edit session of pipes, a dialog asks if alternative geometries should be updated or left as before. This is how it works currently.
As long as geometry_alt_1 is not used in demo project, we s

[2017-07-07 07:28] haubourg commented on #192
Ok thanks, when merge, we'll need backports 2.18 branch for those forms issues

[2017-07-07 07:46] tudorbarascu commented on #206
@haubourg  I'm looking at the trunk project and I see the geometry column is used there.

![alt_geom](https://user-images.githubusercontent.com/3179646/27948060-ff5855f6-6300-11e7-97ba-c3dc12458240.jpg)

**When starting an edit session of pipes, a dialog asks if alternative geometries should be updated or left as before.** This behavior is not in the trunk, right?

[2017-07-07 08:05] haubourg commented on #206
Look inside the view definition, it's renamed from geom_alt to geometry :)

[2017-07-07 08:18] tudorbarascu commented on #206
Indeed! It's not at all intuitive :). The more the reason to document this.

[2017-07-07 11:04] tudorbarascu commented on #176
@haubourg How is this going? Is someone working on it?
I wish to add the precision and precisionalti fields (either named them with ``fk_`` in front or with ``usr_`` to the data model for now and add the layer to the trunk project.

[2017-07-07 11:09] tudorbarascu opened #207 "Nodes - precision"
It's written at http://qwat.readthedocs.io/en/latest/elevation.html#principles docs that:

* Nodes and survey points tables feature informations on the precision, as well as source of measure ( gps, interpolation, dtm, etc..). The following attributes are stored:
  * precision_plani : planimetric precision
  * precision_alt : altimetric precision
  * zsource : source of measure

However, there's n

[2017-07-07 12:50] pblottiere commented on #192
PR is merged.

Now I have to work on backporting.

[2017-07-07 12:50] pblottiere commented on #191
PR is merged.

Now I have to work on backporting.

[2017-07-07 13:46] pblottiere commented on #192
Thank you @m-kuhn for having made the backport!

I think this issue may be closed.

[2017-07-07 13:48] haubourg commented on #192
l mark it done, let's close only after backport and testing by @dsavary

[2017-07-07 13:56] dsavary commented on #192
good news ! Thanks for the work ! in which version of QGIS can I test this ? 2.18.11 ?

[2017-07-07 13:56] dsavary commented on #191
Thanks !

[2017-07-07 13:59] m-kuhn commented on #192
Or an upcoming 2.18 nightly (available via osgeo4w)

[2017-07-07 14:29] haubourg commented on #146
confirmed here in today's nightly
@wonder-sk can you put that in the bugfix list for the bugfix period ?

[2017-07-07 14:31] haubourg commented on #146
Oops, @wonder-sk my previous comment was refering to the wrong issue. I meant:

Confirmed > I get a NaN until commit.

[2017-07-07 14:34] haubourg commented on #146
I can't confirm that on a lineStringZ

[2017-07-07 14:39] haubourg commented on #146
this part works here, but node tool is not working on points. So no way to edit the node vertex panel. @wonder-sk  is that something you're aware of?

[2017-07-07 17:16] tudorbarascu commented on #176
@dsavary Hello, can you detail on the difference between (``usr_fiab_plani``, ``usr_fiab_alti``) and ``usr_precision``, ``  usr_precisionalti``.

[2017-07-10 13:33] #187 closed

[2017-07-10 13:33] haubourg commented on #187
fixed in master and 2.18

[2017-07-10 14:32] haubourg commented on #193
ticket created upstream https://issues.qgis.org/issues/16838

My guess is that the whole snapping workflow deserves something consistent.
We have quite a bunch of good issues and feature requests in that [area](https://issues.qgis.org/projects/qgis/issues?utf8=%E2%9C%93&set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=subject&op%5Bsubject%5D=~&v%5Bsubject%5D%5B%5D=snapping&f%5B%5D=&c%5B%

[2017-07-11 06:50] haubourg commented on #193
@dsavary backporting a change to 2.18 seems not possible according to @wonder-sk, it's a little bit more than only a bugfix.
@qwat-psc: what is the priority of this issue when compared to all other issues with snapping? I have in mind the following needs:
- improve and fix the new snapping dialog (help to display the dock, intensive test )
- add snapping priority and interactive selection (visual

[2017-07-11 09:21] pblottiere commented on #191
PR for backporting has been merged : https://github.com/qgis/QGIS/pull/4833

[2017-07-11 09:40] haubourg commented on #191
Merciii @pblottiere !!
@dsavary can you test that with nightlies of the release, starting from tomorrow of course..

[2017-07-11 13:15] varrieta commented on #177
Here are other interesting value lists missing from the Geonis Database:

- **valve_type**: Robinet / Vanne avec dérivation
- **hydrant_material**: Fonte diamètre inconnu
- **pipe_material**: Plusieurs petits diamètres pour l'acier / Eternit
- **pipe_install_method**: Tube poussé

[2017-07-11 13:19] varrieta opened #208 "Pipe_protection diameter"
This attribute is missing in the model

[2017-07-12 12:05] haubourg opened #209 "improve QGIS to handle different layer definition sections"
Currently all layer properties sections are mixed into one style, with many styles possible for a layer.

This is prone to useability caveats, like switching styles and not having the same form or layer actions,
and makes it harder to maintain, if one need to have the same forms but allow differents style switches.
Proposal would be to have one default section for forms, actions etc.. and independ

[2017-07-12 12:08] haubourg opened #210 "Deefault Z value handling - part 2 - use Nan in QGIS and defautl value in providers"

[2017-07-12 12:10] haubourg commented on #210
Already discussed before when implementing default z in QGIS 3. Now the idea is to handle real Nan values in QGIS, but map them to default values in providers because NULL z is never supported by providers.

[2017-07-12 12:52] haubourg opened #211 "Add a generic database API for network handling"

[2017-07-12 12:55] haubourg commented on #211
The idea is - like for Paris Wastewater-  to have a full database API based on views and triggers, shared between network apps - well unit tested and based on an explicit requirement doc.
QWAT is currently between two worlds, having some triggers in DB but not for all behaviors and some data are accessed by tables directly.

[2017-07-12 12:57] haubourg opened #212 "Evaluate spatial relations when editing"
The idea proposed by Matthias is to find a way to evaluate topological relations when creating a feature with relations. Ex: A pipe snapped to a network element could then be autmatically assigned in the form's relations foreign keys if the form was aware of which feature and vertices its geometry has been snapped to.
Work already started in QGIS master : https://github.com/qgis/QGIS/issues/4825

[2017-07-12 13:00] haubourg opened #213 "QGEP performances issues"
QGEP has blocking performances issues after  Pully's POC.

- latencies when editing
- latencies generating crashes for click being done before the end of the redraw

 Decision was made in PSC 2017/04/07 to spend 1/2 day on narrowing down the phenomenon

[2017-07-12 14:04] haubourg commented on #145
closed duplicate of #122

[2017-07-12 15:58] dsavary commented on #145
@haubourg not a duplicate issue.
This issue is to fix the bugs with the advanced digitizing tool bar (include 3D, arc geometry) and
Refactor the API (class) in QGIS 3.0 . For example, some problems :
-  reshape tool:  Nan in Z coordinate , don't take the Z when snapping on 3D point)
- arc stroke after the use of reshape tool, cut tool , merge tool.
- when we connect a line to another don't make a

[2017-07-13 21:07] wonder-sk commented on #146
Sorry I am confused... what does not work? I have just tried and I can open vertex editor also for standalone points and modify their coordinates in the table...

[2017-07-18 09:41] ponceta opened #214 "QGIS : Refresh entities count is a bit too aggressive"
Actually, qgis 2.18.9 and higher refresh the entity count after each edit and in the form view of the attribute table, this is really annoying.

![refresh entities](https://user-images.githubusercontent.com/8614223/28310699-9a45aee2-6bad-11e7-8ea1-69817e251e34.gif)

Actual workaround : deactivate entity count for the edited layer.

https://issues.qgis.org/issues/16659 (Linked)

Created a new issue

[2017-07-19 06:11] haubourg commented on #146
@wonder-sk , node tool for points works now, retesting with a newer version. Maybe it was a local problem. Sorry for the noise.

[2017-07-19 06:38] haubourg commented on #146
Doing a full review again with version https://github.com/qgis/QGIS/commit/bcc8e90

Here is a checklist, let's try to declare atomic issues to keep track of that  :

- [ ]  [#16887](https://issues.qgis.org/issues/16887) creating a memory scratch layer with Z/M values does not add Z/M to the layer. This confirms @dsavary  issue (Sorry, I thought you were saying that the option was missing, not that

[2017-07-19 07:45] pblottiere commented on #186
@haubourg

I'm not sure to have fully understand the issue here. I think it's fixed in this branch : https://github.com/pblottiere/QGIS/tree/bugfix_chainfilter

Can you take a look to validate the behavior? Then I'll write unit tests and I'll propose a PR.

Moreover, I did not find any related ticket on https://issues.qgis.org/issues/. Perhaps I missed it.

Thank you ;)

[2017-07-19 08:28] dsavary commented on #191
@haubourg  Before test the "new" reference value widget, I wait for the resolution of the issue #186 .

[2017-07-19 12:16] haubourg commented on #186
I think there was no ticket upstream due to the difficulty to describe what exactly the issue was.

@dsavary Paul found that the cache of filters between values was build only comparing the neighbor field, which leaded to inconsistencies in the real filtered list when playing with three fields.
Can you reformulate the exact problem to see if we fixed it well?

[2017-07-19 12:27] pblottiere commented on #186
@dsavary Here a screenshot coming from the GIF given above:

![chainfilter0](https://user-images.githubusercontent.com/9266424/28366513-f5c35b66-6c84-11e7-87bc-0971877983df.png)

From what I understand, the last combo box should NOT propose **brides** or **manchon** because there no corresponding feature with the full filter expression *"diameter" = '120' AND "material_value" = 'fer' AND "raccord_

[2017-07-19 12:31] dsavary commented on #186
@haubourg @pblottiere Yes exactly. only the value "collier" must be proposed. the widget don't take into account the 2 first combo box only the previous combo box.

[2017-07-19 12:33] pblottiere commented on #186
Ok, so that's well what I fixed :). I let you know about the PR soon.

@dsavary Thank you for the confirmation!

[2017-07-19 12:35] dsavary commented on #186
@pblottiere  Cool ! Thanks for the job.

[2017-07-19 14:39] pblottiere commented on #194
I found a way to keep the scroll bar activated even if we are not in edit mode.

And @dsavary, what do you think about suggestion of @ponceta?

[2017-07-19 14:47] dsavary commented on #194
@pblottiere It will be a good idea to display only the selected values or to put on the top of the list the selected values. But, now we cannot do this with the current tool/options widget or perhaps I don't know how we can do this.

[2017-07-21 05:59] tudorbarascu opened #215 "pipe function (adduction)"
As we're using the pipe function: ``adduction`` - conduite d'adduction (in Romania at least) and the term is, I was wondering what are you using instead as it's not in the default value list?

@qwat/qwat-psc  Should we put it the default value list?

[2017-07-21 06:09] dsavary commented on #215
Yes Why not ! We use also this value in Lausanne. We add theses values (model extension Lausanne) :
![pipe_function](https://user-images.githubusercontent.com/6229296/28451089-a3b09952-6deb-11e7-8241-630a00502119.PNG)

[2017-07-21 06:22] tudorbarascu commented on #215
@dsavary Cool.
Regarding your value ``41001`` we map those kind of pipes by using ``unknown`` or ``other`` + we have a "private/foreign" distributor. So, we use that combo instead of creating a new pipe function.

If others also use some of your custom values, we should introduce those as well.
Thanks.

[2017-07-21 07:19] ponceta commented on #215
+1 for Pully, actually these pipes are inserted as transport pipes.

[2017-07-21 07:27] tudorbarascu commented on #215
@ponceta Do you make use of other extended pipe functions that Lausanne uses?

I think that ``conduite interne station`` would also be a good value to introduce in the base values.

[2017-07-21 08:50] pblottiere commented on #186
I created a QGIS bug report for this issue : https://issues.qgis.org/issues/16903

[2017-07-21 09:00] pblottiere commented on #186
@dsavary At the moment I'm writing unit tests. So the PR is coming very soon ;)

[2017-07-21 09:27] ponceta commented on #215
Here are my custom values. IMHO, the less custom values we have, the better. (active or inactive is the key for efficiency)

![image](https://user-images.githubusercontent.com/8614223/28457652-418ec2f0-6e07-11e7-8656-51dccb896a9a.png)

[2017-07-21 09:27] ponceta commented on #215
Actually my water exploitation manager is in vacation, I'll go through these values with him.

[2017-07-21 15:47] pblottiere commented on #186
A PR has been proposed : https://github.com/qgis/QGIS/pull/4904

[2017-07-21 16:02] pblottiere commented on #194
A PR is proposed to keep the scrollbar activated even in read only mode : https://github.com/qgis/QGIS/pull/4905

[2017-07-24 10:29] zakigates opened #216 "Issue with launching the vm based on qgis.vdi"
Hi every one I have a serious issue right here. I'm tring to work with qwat on a VM, to do so I have to work with qgis.vdi and Oracle virtualbox. I followed the intructions described in tutorials about running a vdi in a virtualbox and every thing seems to be working well. Although when I start the vm it stops at the boot without returning any error to understand what is going wrong. If you can te

[2017-07-24 17:03] tudorbarascu commented on #216
Hi, the VM should have just worked as it is already tested.
You're probably encountering local virtualbox problems.
Can you start other VM's under your virtualbox installation/is virtualization enabled in BIOS?
I'm afraid that regarding the virtualbox part you're on your own. You can also try using a trial of vmware etc to rule out virtualbox problems.
Good luck.

[2017-07-26 08:58] pblottiere commented on #194
PR mergée.

Je prépare une PR pour le backport.

[2017-07-26 13:53] haubourg commented on #186
fixed in https://issues.qgis.org/projects/qgis/repository/revisions/8642e88867c5be212f49d73fd3f3f4ce96b0dc61

[2017-07-26 14:21] pblottiere commented on #186
The PR has been merged indeed. I'm working on the backport.

[2017-07-26 15:36] pblottiere commented on #194
PR for backport : https://github.com/qgis/QGIS/pull/4925

[2017-07-26 16:42] haubourg commented on #213
Full test report is here https://github.com/QGEP/QGEP/issues/308

[2017-07-27 13:18] pblottiere commented on #186
During the backport, I noticed a strange behavior when filters are reset.

So I made another PR to fix it. I'm waiting for this last PR to be merged before doing the backport.

[2017-07-27 14:43] pblottiere commented on #186
Second PR has been merged.

[2017-07-27 15:02] pblottiere commented on #194
Backport has been merged

[2017-07-27 15:09] pblottiere commented on #186
A PR for the backport is launched.

[2017-08-10 12:03] dsavary commented on #191
Tested with QGIS 2.18.11 nightly , it's Ok . the chain filter can take a value with quote.
Thanks

[2017-08-10 12:05] dsavary commented on #194
Tested with QGIS 2.18.11 nightly , it's Ok .

[2017-08-18 07:28] pblottiere commented on #190
I created a PR to fix this issue : https://github.com/qgis/QGIS/pull/5043

[2017-08-18 08:46] tudorbarascu opened #217 "Widget constraints - performance and usability issues"
Hi,

Trying to go all in with the constraints on forms (drag&drop), for valves at least, I'm encountering serious performance issues, around 17 seconds until the form shows when using add new feature tool.
If I untick the "Not null" constraint for all the the needed fields (5 in total) the add new feature form pops out at around 3 seconds, which is usable.

Also, for "Text edit" widgets I don't se

[2017-08-18 14:41] pblottiere commented on #190
PR is merged, I'm doing the backport

[2017-08-18 15:31] pblottiere commented on #190
Backport : https://github.com/qgis/QGIS/pull/5045

[2017-08-21 07:56] pblottiere commented on #186
Backport is merged

[2017-08-21 07:56] pblottiere commented on #190
Backport is merged

[2017-08-25 13:15] haubourg commented on #146
16887 and 16888 have just been fixed

[2017-08-25 13:19] haubourg opened #218 "Snapping features on QGIS 3 is problematic on qgep using node tool"
https://github.com/QGEP/QGEP/issues/330

This issue in QGEP concerns QWAT's needs. Duplicating it here to follow QWAT contributions

[2017-08-25 13:44] haubourg commented on #218
duplicate of #193 >  closing

[2017-08-25 15:05] haubourg commented on #146
"Reshape tool don't take the z default value and keep "nan" value for the z coordinate." is working in master @dsavary can you give more information to reproduce ?

[2017-08-25 15:06] haubourg commented on #146
same for  "Extend with "node tool" take the value 0 for the z coordinate." This works in master.

[2017-08-28 09:06] dsavary commented on #192
Tested with QGIS 2.18.12. It works well.
Thanks

[2017-08-28 09:10] dsavary commented on #186
Tested with QGIS 2.18.12. It works well.
Thanks

[2017-08-28 09:34] #186 closed

[2017-08-28 10:08] pblottiere commented on #194
@haubourg I think this issue can be closed now.

[2017-08-28 10:09] pblottiere commented on #192
@haubourg I think this issue can be closed now.

[2017-08-28 10:09] pblottiere commented on #191
@haubourg I think this issue can be closed now.

[2017-08-28 11:19] #191 closed

[2017-08-28 12:06] dsavary commented on #190
Tested with QGIS 2.18.12. It works well, but only with no null value.
If one row in the table have a null value, the filter lists are not correctly refreshed and keep the previous value. GIF example :

![refresh_reference_value_when_null](https://user-images.githubusercontent.com/6229296/29772623-ec48255a-8bf9-11e7-913d-0c7da2cb7b39.gif).

[2017-08-31 12:41] haubourg commented on #146
@dsavary can we close that ?  I couldn't reproduce the two last checkboxes.

[2017-09-02 07:04] tudorbarascu commented on #217
Actually, it seems the culprit is the combination between drag&drop designer and constraints.

[2017-09-04 09:22] 3nids commented on #181
expressions having conditions on boolean for PG layers are broken.
see https://github.com/qgis/QGIS/commit/cfb8552b14 and its comment

[2017-09-04 09:28] 3nids commented on #181
quick dirty hack
`sed -r "s/'t'/true/g; s/'f'/false/g" qwat.qgs > qwat_qgis3.qgs`

[2017-09-04 09:39] 3nids commented on #181
@wonder-sk do you know why layer order is not respected when opening a 2.x project on QGIS 3? eay fix?

[2017-09-04 09:47] 3nids commented on #181
@nyalldawson is it expected that atlas generation config is lost when opening 2.x project on QGIS 3?

[2017-09-04 12:54] m-kuhn commented on #181
I guess your "quick and dirty" hack is the way to go. I can't think of anything better.

[2017-09-04 13:04] 3nids commented on #181
@m-kuhn thanks for the feed-back.

[2017-09-06 11:04] wonder-sk commented on #181
Haven't seen the issue (maybe just haven't tried) - please feel free to file a bug report in QGIS tracker for that...

[2017-09-06 15:13] haubourg commented on #218
Decision > 1/2 day of dev by Martin Dobias to add priority on node grabbing for active layer.

[2017-09-06 19:46] #202 closed

[2017-09-06 20:11] haubourg opened #219 "Better version tags for QWAT's project"
Hi all,
currently, it is not clear for a non git user to know what project version he is using.
For the data model, it's easier since we have a version table.

I was wondering if we could change the QGIS project to add this information.
I would imagine a "QWAT - master development branch - [commit sha]"
and for releases " QWAT - version [tag]"

@3nids do you think a pre-commit hook could automate

[2017-09-07 09:17] ponceta commented on #198
Ty @3nids

[2017-09-07 09:19] ponceta opened #220 "QGIS : Digitize Detailled geometries for Water Structures (as example)"
With @dsavary we thought that QGIS is not so handy when digitizing alternative geometries for new objects.

Creating a water structure as a tank or eq. with a point geometry is easy.

But then to add the detailled structure, you must change layer, select the newly created line in the attribute table, add a part geometry (and not a new geometry) which is all but instinctive for the user.

With QGEP

[2017-09-07 09:35] m-kuhn commented on #220
QGIS 3 will hopefully have better integration of additional geometry columns (QgsReferencedGeometry just got merged yesterday), so we are a step closer to this. Jumping on the train here would be great!

[2017-09-07 09:38] 3nids commented on #220
@m-kuhn can you explain how QgsReferencedGeometry helps here? what would be the remaining bits?

[2017-09-07 09:53] m-kuhn commented on #220
So far additional geometry columns were exposed as text only, now they can be exposed as (referenced) geometries.

We need tools to work on these.

Either
* An option to switch the main geometry column at runtime (I don't like that too much)
* Feature actions to work on these columns (all the "adjust geometry", "delete geometry", "add ring" etc tools)
* Multiple "sublayers" in the layer tree
* ...

[2017-09-07 11:50] 3nids commented on #220
I see, it's indeed quite promising.

[2017-09-07 13:04] 3nids commented on #219
That would be feasible with a hook, but you would change file name or a tag in the xml? The latter would work nicely.

Although an interesting feature would be to let QGIS do automatically that (show branch and/or sha in the project name if the project's folder is a GIT repo)

[2017-09-07 13:26] haubourg commented on #219
A tag in the XML was the idea, nested in the project property title, so that the title bar reflect QWAT's version.
About your idea, can't we achieve that using a variable filled by a python function?